@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];

}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
@*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />

@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/bootstrap_3.3.7.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/dataTables.2.2.2.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>
<style>
    td {
        font-size: 11px;
    }

    .gdInput {
        width: 100%;
        height: 25px;
        border-width: 0 0 0.1px 0;
        border-color: #e0d6d6;
    }

    input[type=number] {
        text-align: right;
    }

        input[type=number]::placeholder {
            text-align: left;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* The Modal (background) */
    .modalBatch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        /*overflow: auto;*/ /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 70%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 5%;
            /*overflow: auto;*/
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 95%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            /*overflow: auto;*/
        }
    }
    /* The Close Button */
    .closefg {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closefg:hover,
        .closefg:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -40%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 0.90em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }

    .labelupfortextarea {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -18%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 1em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
</style>
<style>
    /* Align dropdown in DataTable cell */
    .action-dropdown {
        min-width: 100px;
        font-size: 12px;
        z-index: 1000;
        text-align: left;
    }

        /* Optional: Add hover effect */
        .action-dropdown > li > a {
            padding: 3px 12px;
            color: #333;
            text-decoration: none;
        }

            .action-dropdown > li > a:hover {
                background-color: #f5f5f5;
                color: #000;
            }

    /* Optional: Make dropdown button minimal */
    .dropdown-toggle {
        background-color: transparent !important;
        border: none !important;
        font-size: 15px;
        line-height: 1;
        padding: 2px 5px;
    }

        .dropdown-toggle::after {
            display: none;
        }
</style>
<body>

    @Html.HiddenFor(model => model.Add, new { @autocomplete = "off", @class = "form-control", @id = "txtAddID" })
    @Html.HiddenFor(model => model.Modify, new { @autocomplete = "off", @class = "form-control", @id = "txtModifyID" })
    @Html.HiddenFor(model => model.Variant, new { @autocomplete = "off", @class = "form-control", @id = "txtVariantID" })
    @Html.HiddenFor(model => model.View, new { @autocomplete = "off", @class = "form-control", @id = "txtViewID" })
    @Html.HiddenFor(model => model.Cancel, new { @autocomplete = "off", @class = "form-control", @id = "txtCancelID" })
    @Html.HiddenFor(model => model.FormName, new { @autocomplete = "off", @class = "form-control", @id = "txtFormName" })
    @Html.HiddenFor(model => model.FormID, new { @autocomplete = "off", @class = "form-control", @id = "txtFormID" })
    @Html.HiddenFor(model => model.ID, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtID" })
    @Html.HiddenFor(model => model.TransType, new { @autocomplete = "off", @class = "form-control", @id = "txtTransType" })
    <input hidden id="txtStatus" />
    <h4 id="MainHeading">@ViewData["FormName"]</h4>

    <div class="toastBox"></div>
    
    <div id="dvMainTable">
        <div style="width:100%;">
            <table class="table">
                <tr>
                    <td>
                        <div style="padding-bottom:10px;">
                            <button id="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="form-label">

                                <select tabindex="5" class="form-control FormclrcmbField" id="cmbFilterAccount"><option value="0">Select</option></select>
                                <label class="labelup" for="txtCode">Account No</label>
                            </span>
                            <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFilterAccount" class="clrdivs"></div>
                        </div>
                    </td>
                    <td>
                        <select class="gdInput" id="cmbFilterDatetype" onchange="SetFilterDate();"></select>
                    </td>
                    <td>
                        <span class="form-label">
                            <input tabindex="1" class="form-control FormfilterclrField" type="date" id="dtpFFrom" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                            <label class="labelup" for="txtCode"> From</label>
                        </span>
                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFFrom" class="clrdivs"></div>
                    </td>
                    <td>

                        <span class="form-label">
                            <input tabindex="1" class="form-control FormfilterclrField" type="date" id="dtpFTo" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                            <label class="labelup" for="txtCode"> To</label>
                        </span>
                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFTo" class="clrdivs"></div>
                    </td>
                    <td>
                        <input tabindex="1" style="font-size:14px;" class="FormfilterclrField" type="checkbox" id="chkShowAll">
                        <label for="chkShowAll" style="font-size:14px;">All Status</label>
                    </td>
                    <td>
                        <button id="btnFilter" class="btn btn-primary"><span class="glyphicon glyphicon-export" style="color: white"></span>&#x2009;Filter</button>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table-bordered" id="tblMasterData" width="100%">
            <thead>
                <tr class="trclrforcolheader">
                    <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                    <th style="text-align:center;font-size: 12px;width:0%;">StatusID</th>
                    <th style="text-align:center;font-size: 12px;width:7%;">Doc ID</th>
                    <th style="text-align:center;font-size: 12px;width:7%;">Date</th>
                    <th style="text-align:center;font-size: 12px;width:8%;">Ref No</th>
                    <th style="text-align:center;font-size: 12px;width:7%;">Type</th>
                    <th style="text-align:center;font-size: 12px;width:7%;">Mode</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">From A/c Name</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">To A/c Name</th>
                    <th style="text-align:center;font-size: 12px;width:8%;">Amount</th>
                    <th style="text-align:center;font-size: 12px;width:8%;">Balance</th>
                    <th style="text-align:center;font-size: 12px;width:6%;">Status</th>
                    <th style="text-align:center;font-size: 12px;width:6%;">User</th>
                    <th style="text-align:center;font-size: 12px;width:3%;" title="View">
                        <span class="glyphicon glyphicon-eye-open" style="font-size:16px">
                        </span>
                    </th>
                    <th style="text-align:center;font-size: 12px;width:3%;" title="Edit">
                        <span class="glyphicon glyphicon-pencil" style="font-size:16px">
                        </span>
                    </th>
                    @*<th style="text-align:center;font-size: 12px;width:3%;" title="Edit">
            <span class="glyphicon glyphicon-pencil" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="Cancel">
            <span class="glyphicon glyphicon-remove-circle" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="View">
            <span class="glyphicon glyphicon-eye-open" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="Variant">
            <span class="glyphicon glyphicon-file" style="font-size:12px">
            </span>
        </th>*@
                </tr>
            </thead>
        </table>
    </div>
    <div class="modalBatch" id="myModalfg">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalBatch-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="closefg">&times;</button>
                    <h5 class="modal-title" style="color:white; font-weight:800" id="lblPopupheading"><b>Add @ViewData["FormName"]</b></h5>
                    @*<hr />*@
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div style="padding-top:2px">
                        <div style="padding-top:2px; width:100%" class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <table>
                                    <tr>
                                        <td align="right" width="40%">
                                            <label>Doc ID :</label>
                                        </td>
                                        <td width="60%">
                                            <label id="lblDocID" style="font-size:12px">PVRV/2425/1</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4" align="center">
                                <table>
                                    <tr>
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <input tabindex="3" class="form-control FormclrField" type="text" id="txtRefNo" placeholder=""
                                                       onbeforeinput="return AlphaNumericBeforeInput(event, this,'#divErrRefNo')"
                                                        oninput="sanitizeAlphaNumeric(this, '#divErrRefNo')"/>
                                                    <label class="labelup" for="txtCode"> Ref No</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrRefNo" class="clrdivs"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td align="right" width="40%">
                                                <label>UDN :</label>
                                            </td>
                                            <td width="60%">
                                                <select class="form-control FormclrcmbField" id="cmbUDN"><option value="0">Select UDN</option></select>
                                            </td>
                                        </tr>*@

                                </table>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4" align="right">
                                <table>
                                    @*<tr>
                                            <td align="right" width="40%">
                                                <label>Date :</label>
                                            </td>
                                            <td width="60%">
                                                <input class="form-control FormclrField" type="date" id="dtpDate" oninput="javascript: if (this.value > this.max) { this.value = this.max; }" />
                                                <div class="clrdiv" id="dvErrorDate" style="color:red"></div>
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <input class="form-control FormclrField" type="date" id="dtpDate" oninput="javascript: if (this.value > this.max) { this.value = this.max; }" />
                                                    <label class="labelup" for="txtCode"> Date</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="dvErrorDate" class="clrdiv"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div style="padding-top:2px; width:100%" class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <hr />
                                <table class="table" style="width:100%">
                                    <tr>
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <select tabindex="5" class="form-control FormclrcmbField" id="cmbType"><option value="0">Select</option></select>
                                                    <label class="labelup" for="txtCode">Type *</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrType" class="clrdivs"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding-right:7px" colspan="2">
                                            <div class="input-group">
                                                <span class="form-label">
                                                    <select tabindex="5" class="form-control FormclrcmbField" id="cmbFromAccount"><option value="0">Select</option></select>
                                                    <label class="labelup" for="txtCode">Account No *</label>
                                                </span>
                                                <span id="lnkViewFromBank" class="input-group-addon" title="Bank Info"><span class="glyphicon glyphicon-info-sign" style="background-color:white;"></span></span>
                                                @*<a hidden href="javascript:void(0)" id="lnkViewFromBank">Bank Info</a>*@
                                            </div>
                                            <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFromAccount" class="clrdivs"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <select tabindex="5" class="form-control FormclrcmbField" id="cmbMode"><option value="0">Select</option></select>
                                                    <label class="labelup" for="txtCode">Mode</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrMode" class="clrdivs"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <select tabindex="5" class="form-control FormclrcmbField" id="cmbChequeNo"><option value="0">Select</option></select>
                                                    <label class="labelup" for="txtCode">Cheque No</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrChequeNo" class="clrdivs"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <hr />
                                <table class="table" style="width:100%">
                                    <tr>
                                        <td style="border:none" colspan="2">

                                            <span class="form-label">
                                                <input tabindex="6" type="number" step="any" id="txtValue" class="form-control FormclrField txtsettag" placeholder="" />
                                                <label class="labelup">Value *</label>
                                            </span>
                                            <div class="clrdivs" id="dvErrorValue" style="color:red"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;padding-right:7px" colspan="2">
                                            <div class="input-group">
                                                <span class="form-label">
                                                    <select tabindex="5" class="form-control FormclrcmbField" id="cmbToAccount"><option value="0">Select</option></select>
                                                    <label class="labelup" for="txtCode">Transfer Account No *</label>
                                                </span>
                                                <span id="lnkViewToBank" class="input-group-addon" title="Bank Info"><span class="glyphicon glyphicon-info-sign" style="background-color:white;"></span></span>
                                                @*<a hidden href="javascript:void(0)" id="lnkViewToBank">Bank Info</a>*@

                                            </div>
                                            <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrToAccount" class="clrdivs"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <input tabindex="4" class="form-control FormclrField" type="number" step="any" id="txtNEFT" placeholder="">
                                                    <label class="labelup" for="txtCode">NEFT/WD Slip No</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrNEFT" class="clrdivs"></div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <select tabindex="5" class="form-control FormclrcmbField" id="cmbSalesman"><option value="0">Select</option></select>
                                                    <label class="labelup" for="txtCode">Salesman</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrSalesman" class="clrdivs"></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            @*<div class="col-sm-3 col-md-3 col-lg-3">
                                    <hr />
                                    <table class="table" style="width:100%">

                                    </table>
                                </div>*@
                            <div style="padding-bottom:2px" class="col-sm-12 col-md-4 col-lg-4">
                                <hr />
                                <table class="table" width="100%">
                                    <tr class="bgclrfortr">

                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <input tabindex="12" class="form-control FormclrField" type="text" id="txtRemarks" placeholder=""
                                                       onbeforeinput="return AlphaNumericBeforeInput(event, this,'#divErrRemarks')"
                                                        oninput="sanitizeAlphaNumeric(this, '#divErrRemarks')"/>
                                                    <label class="labelup" for="txtCode">Remarks</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrRemarks" class="clrdiv"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="bgclrfortr">
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <span class="form-label">
                                                    <textarea tabindex="13" class="form-control FormclrField" rows="3" id="txtNarration"
                                                       onbeforeinput="return AlphaNumericBeforeInput(event, this,'#divErrNarration')"
                                                        oninput="sanitizeAlphaNumeric(this, '#divErrNarration')"/></textarea>
                                                    <label class="labelupfortextarea" for="txtCode">Narration</label>
                                                </span>
                                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrNarration" class="clrdiv"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border:none;" colspan="2">
                                            <div>
                                                <label>Balance : </label><label id="lblBalance" style="font-size:14px;font-weight:600;padding-left:10px;">0.00</label>                                                
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span class="form-label">

                    </span>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<div style="padding-top:0px" align="right">
            <button type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
            <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
            <button type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
        </div>*@
                    <table width="100%">
                        <tr>
                            <td width="20%" align="left" style="padding-left:20px">
                                <div>
                                    <span class="form-label">
                                        <select class="form-control" id="cmbPrintProfile"><option value="0">Select</option></select>
                                        <label class="labelup"> Print Profile</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrPrintProfile" class="clrdivs"></div>
                                </div>
                            </td>
                            <td width="80%" align="right">
                                <div style="padding-right:20px" align="right">
                                    <button type="button" class="btn" id="btnWhatsapp" style="background-color:green;color:white"><i class='fa-brands fa-whatsapp' style='color:white'></i> Whatsapp</button>
                                    <button type="button" class="btn clrforpdf" id="btnEmail"><span class="glyphicon glyphicon-envelope"> Mail</span></button>
                                    <button type="button" class="btn clrforpdf" id="btnPDF"><i class='fa-regular fa-file-pdf' style='color:white'></i> PDF</button>
                                    <button type="button" class="btn btn-primary" id="btnPreview"><span class="glyphicon glyphicon-print"> Preview</span></button>
                                    <button type="button" class="btn clrforpreview" id="btnPrint"><span class="glyphicon glyphicon-print"> Print</span></button>
                                    <button type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
                                    <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
                                    <button type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*<table class="table"><tr><td align="right">Bank Name :</td><td><label>bank</label></td></tr><tr><td align="right">Branch :</td><td><label>branch</label></td></tr></table>*@
</body>


<script type="text/javascript">
    //document.body.style.zoom = "85%";
    
    var Table = $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        "bFilter": true,
        "bSearchable": true,
        "bInfo": true,
        "bPaginate": true,
        "ordering": true,
        scrollY: "400px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0,1], "visible": false, searchable: false }],
    });
    function displayResult(item) {
        $('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
    }
    var Aurl = '@Session["APIurl"]';
    if ($("#txtAddID").val() == 0) {
        $("#trAdd").hide();
        $("#btnAdd").hide();
    }
    //if ($("#txtModifyID").val() == 0) {
    //    Table.column(11).visible(false);
    //}
    //if ($("#txtCancelID").val() == 0) {
    //    Table.column(12).visible(false);
    //}
    //if ($("#txtViewID").val() == 0) {
    //    Table.column(13).visible(false);
    //}
    //if ($("#txtVariantID").val() == 0) {
    //    Table.column(14).visible(false);
    //}
    if ($("#txtModifyID").val() == 0 && $("#txtViewID").val() == 0 && $("#txtAddID").val() == 1) {
        //$("#dvMainTable").hide();
    }
    var UID = '@Session["LoginUserID"]';
    var nMode = 1;
    var FID = $("#txtFormID").val();
    var PrintTransID = 18, PrintConfigID = 0;
    //setDate();
    GetPrintProfile(PrintTransID);
    function GetPrintProfile(nTransID) {
        $.ajax({
            url: Aurl + "printprofileconfig/getprofile",
            type: 'get',
            contentType: 'json',
            data: { TransID: nTransID },
            xhrFields: {
                withCredentials: true
            },
            async: false,
            success: function (data) {
                $('#cmbPrintProfile').find("option").remove();
                $('#cmbPrintProfile').append($('<option/>', {
                    value: 0,
                    text: "-- Select --",
                }));
                var lstdata = eval(data)
                var getdef = lstdata.filter(pr => pr.DefaultConfig == 1);
                var defid = getdef.length > 0 ? getdef[0].ConfigID : 0;
                $.each(lstdata, function (i, items) {
                    $('#cmbPrintProfile').append($('<option/>', {
                        value: items.ConfigID,
                        text: items.ConfigName, 'data-automail': items.AutoMail
                    }));
                    $('#cmbPrintProfile').val(defid);
                    PrintConfigID = defid;
                });
            }
        });
    }
    GetData(1,"");
    //GetData(2,"");
    //GetFilterData();
    var arrModeData = [], arrAccountData = [], arrTypeData = [], nIndexarrParty = 0, nIndexarrAccount = 0, nIndexarrTax = 0,DefBankAcc = 0;
    function GetData(nMode,nID,strVal = "") {
        $.ajax({
            url: Aurl + "contra/get",
            type: 'get',
            contentType: 'json',
            data: { TransID: FID, Mode: nMode, ID: nID, Value: strVal },
            xhrFields: {
                withCredentials: true
            },
            //async : false,
            success: function (data) {
                if (nMode == 1) {
                    $('#cmbUDN,#cmbType,#cmbMode,#cmbFromAccount,#cmbToAccount,#cmbSalesman,#cmbChequeNo,#cmbFilterAccount').find("option").remove();
                    $('#cmbUDN,#cmbMode,#cmbFromAccount,#cmbToAccount,#cmbSalesman,#cmbChequeNo,#cmbFilterAccount').append($('<option/>', {
                        value: 0,
                        text: "-- Select --",
                    }));
                    arrModeData = [], arrAccountData = [], arrTypeData = [];
                    nIndexarrParty = 0, nIndexarrAccount = 0, DefBankAcc = 0;
                    $.each(data, function (i, items) {
                        if (items.FType == 1) {
                            if (items.Code == "1")
                            {
                                var BADetails = (items.Name).split('|');
                                $('#cmbFromAccount,#cmbToAccount,#cmbFilterAccount').append($('<option/>', {
                                    value: items.ID,
                                    text: BADetails[0],
                                }));
                                var BAInfo = {
                                    "ID": items.ID,
                                    "AccNo": BADetails[0],
                                    "Bank": BADetails[1],
                                    "Branch": BADetails[2],
                                    "IFSC": BADetails[3],
                                    "MICR": BADetails[4],
                                    "DefYN": BADetails[5],
                                }
                                if (BADetails[5] == "1") {
                                    DefBankAcc = items.ID;
                                }
                                arrAccountData.push(BAInfo);
                            }
                            var ttd = {
                                "ID": items.ID,
                                "Name": items.Name,
                                "TypeID": items.Code
                            }
                            arrTypeData.push(ttd);
                        }
                        if (items.FType == 2) {
                            $('#cmbType').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        }
                        if (items.FType == 3) {
                            $('#cmbMode').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                            var md = {
                                "ID": items.ID,
                                "Name": items.Name,
                                "Mode": items.Code
                            }
                            arrModeData.push(md);
                        }
                        if (items.FType == 4) {
                            $('#cmbSalesman').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        }
                        if (items.FType == 5) {
                            $('#cmbUDN').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        }
                        if (items.FType == 6) {
                            $("#lblDocID").text(items.Name);
                        }
                    });
                    $('#cmbType').val(1);

                    ValidateTypeSelection(1);
                }
                if (nMode == 2) {
                    Table.draw().clear();
                    if (data.length > 0) {
                        $.each(data, function (i, items) {
                            Table.row.add([
                                items.ID,
                                items.DocID,
                                items.DocDate,
                                items.RefNo,
                                items.ContType,
                                items.ContMode,
                                items.PartyID,
                                items.FAID,
                                items.NoteValue,
                                items.Balance,
                                items.Status,
                                items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>',
                                items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle clsCancel" style="font-size:16px" title="Cancel"></span></a>',
                                '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>',
                                '<a href="javascript:void(0)" class="clsVariant" style = "font-size:12px"><span class="glyphicon glyphicon-file clsVariant" style="font-size:12px" title="Variant"></span></a>',
                            ]).draw(false);
                        });
                    }
                    else {
                        showErrorSnackbar("No records found");
                    }
                }
                if (nMode == 3) {
                    $("#lblBalance").text("0.00");
                    $.each(data, function (i, items) {
                        modal.style.display = "block";

                        if (nTransMode != 3)
                            $("#lblDocID").text(items.DocID);

                        LoadDetailsIndropdown(items.ContType);
                        //ValidateTypeSelection(items.ContMode);
                        $("#txtID").val(items.ID), $("#dtpDate").val(items.DocDate),
                            $("#txtRefNo").val(items.RefNo), $("#cmbFromAccount").val(items.PartyID), $("#cmbToAccount").val(items.FAID),
                            $("#txtRemarks").val(items.Remark), $("#txtNarration").val(items.Narration), $("#cmbUDN").val(items.UDFId),
                            $("#txtStatus").val(items.Status);
                        updateInputColumn("txtValue",items.NoteValue)
                        $("#cmbType").val(items.ContType), $("#cmbMode").val(items.ContMode), $("#txtNEFT").val(items.NEFTNo),
                            $("#cmbSalesman").val(items.Salesman);
                        if (items.ContMode == 2) {
                            GetData(4, items.PartyID, items.ChequeNo);
                            $("#cmbChequeNo").val(items.ChequeNo);
                        }
                        setTimeout(() => {
                        if (items.ContType == 1) {
                            GetData(6, 13, items.DocDate);
                        } else {
                            GetData(7, items.PartyID, items.DocDate);
                            }
                        }, 600)
                        //if ($("#cmbFromAccount").val() > 0) {
                        //    $('#lnkViewFromBank').show();
                        //}
                        //if ($("#cmbToAccount").val() > 0) {
                        //    $('#lnkViewToBank').show();
                        //}
                    });
                }
                if (nMode == 4) {
                    $('#cmbChequeNo').find("option").remove();
                    $('#cmbChequeNo').append($('<option/>', {
                        value: 0,
                        text: "-- Select --",
                    }));
                    $.each(data, function (i, items) {
                        $('#cmbChequeNo').append($('<option/>', {
                            value: items.ID,
                            text: items.Name,
                        }));
                    });
                    $("#cmbChequeNo").val(strVal);
                }
                if (nMode == 6 || nMode == 7) {// type change
                    $("#lblBalance").text("0.00");
                    $.each(data, function (i, items) {
                        var bal = parseFloat(items.Balance).toFixed(DecVal) + " " + items.ContType;
                        $("#lblBalance").text(bal);
                    });
                }
                
            }, error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    //showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    $('#btnFilter').click(function (e) {
        GetFilterData(1);
    });
    var Showall = '@Session["Showallstatus"]';
$("#chkShowAll").prop("checked", Showall == '1');
    function GetFilterData(ClickType = 0) {//cmbFilterAccount,divErrFilterAccount
        var IsValid = true;
        $(".clrdivs").html("");
        if ($("#dtpFFrom").val() == "") {
            IsValid = false;
            $("#divErrFFrom").html("From date should not be empty");
        }
        if ($("#dtpFTo").val() == "") {
            IsValid = false;
            $("#divErrFTo").html("To date should not be empty");
        }
        if ($("#dtpFFrom").val() > $("#dtpFTo").val()) {
            IsValid = false;
            $("#divErrFFrom").html("From date should be lessthan To Date");
        }
        if (IsValid) {
            var strAcc = $("#cmbFilterAccount").val(), strParty = $("#cmbFilterAccount").val(), dFrom = $("#dtpFFrom").val(),
                dTo = $("#dtpFTo").val(), chkshow = $("#chkShowAll").is(":checked") ? "1" : "0";
            $.ajax({
                url: Aurl + "contra/getfilterdata",
                type: 'get',
                contentType: 'json',
                data: { Mode: 2, TransID: FID, AccName: strAcc, FromDate: dFrom, ToDate: dTo, Showall: chkshow },
                xhrFields: {
                    withCredentials: true
                },

                success: function (data) {
                    Table.draw().clear(); Table.draw().clear();
                    var billjsdata = eval(data);
                    var searchValue = '';
                    if ($.fn.DataTable.isDataTable('#tblMasterData')) {
                        searchValue = $('#tblMasterData').DataTable().search(); // get current search term
                    }
                    $('#tblMasterData').DataTable({
                        pageLength: ItemsperPage, lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                        scrollY: "450px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: true,
                        destroy: true,
                        data: billjsdata,
                        fixedColumns: false,
                        searching: true,
                        ordering: true,
                        sorting: false,
                        pageLength: ItemsperPage, // default page size
                        lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                        columns: [
                            { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },//0
                            { "data": "StatusID", "autoWidth": true, "visible": false, className: "dt-body-left" },//0
                            { "data": "DocID", "autoWidth": true, className: "dt-body-left" },//1
                            { "data": "DocDate", "autoWidth": true, className: "dt-body-left" },//2
                            { "data": "RefNo", "autoWidth": true, className: "dt-body-left" },//3
                            { "data": "ContType", "autoWidth": true, className: "dt-body-left" },//3
                            { "data": "ContMode", "autoWidth": true, className: "dt-body-left" },//3
                            { "data": "PartyID", "autoWidth": true, className: "dt-body-left" },//4
                            { "data": "FAID", "autoWidth": true, className: "dt-body-left" },//5
                            { "data": "NoteValue", "autoWidth": true, className: "dt-body-right" },//6
                            { "data": "Balance", "autoWidth": true, className: "dt-body-right" },//9
                            { "data": "Status", "autoWidth": true, className: "dt-body-left" },//10
                            {
                                className: "dt-body-left",
                                "mRender": function (data, type, value) {
                                    var _action = '<label title="' + value.CDate + '">' + value.CBy + '</label>';
                                    return _action;
                                }
                            },
                            {
                                className: "dt-body-center", orderable: false,
                                "mRender": function (data, type, value) {
                                    var _action = '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                                    return _action;
                                }, "visible": $("#txtViewID").val() == 0 ? false : true
                            },
//                            {
//                                className: "dt-body-center",
//                                orderable: false,
//                                render: function (data, type, row) {

//                                    var status = row.Status;
//                                    var edit = '', cancel = '', view = '', variant = '', Print = '', Preview = '', PDF = '';
//                                    if ($("#txtViewID").val() == 1) {
//                                        var Print = '<a class="dropdown-item clsprint" href="javascript:void(0)">🖨 Print</a>';
//                                        var Preview = '<a class="dropdown-item clspreview" href="javascript:void(0)#">🖨 Preview</a>';
//                                        var PDF = '<a class="dropdown-item clspdf" href="javascript:void(0)">📕 PDF</a>';
//                                    }
//                                    if (status !== 'Amended' && status !== 'Cancelled') {
//                                        if ($("#txtModifyID").val() == 1)
//                                            edit = '<a class="dropdown-item clsEdit" href="javascript:void(0)">✏️ Edit</a>';
//                                        if ($("#txtCancelID").val() == 1)
//                                            cancel = '<a class="dropdown-item clsCancel" href="javascript:void(0)">❌ Cancel</a>';
//                                    }
//                                    if ($("#txtVariantID").val() == 1)
//                                        variant = '<a class="dropdown-item clsVariant" href="javascript:void(0)">📄 Variant</a>';
//                                    return `
//<div class="dropdown">
//    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
//        &#8942;
//    </button>
//    <ul class="dropdown-menu  action-dropdown" style="right:0;left:auto;">
//        ${edit ? `<li>${edit}</li>` : ''}
//        ${cancel ? `<li>${cancel}</li>` : ''}
//        ${variant ? `<li>${variant}</li>` : ''}
//        ${Print ? `<li>${Print}</li>` : ''}
//        ${Preview ? `<li>${Preview}</li>` : ''}
//        ${PDF ? `<li>${PDF}</li>` : ''}
//    </ul>
//</div>`;
//                                }
//                            },
                            {
                                className: "dt-body-center",
                                orderable: false,
                                render: function () {
                                    return `<button class="btn btn-default btn-xs action-btn">&#8942;</button>`;
                                }
                            }
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = value.Status == 'Amended' || value.Status == 'Cancelled' ? '' : '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtModifyID").val() == 0 ? false : true
                            //},//11
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = value.Status == 'Amended' || value.Status == 'Cancelled' ? '' : '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle clsCancel" style="font-size:16px" title="Cancel"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtCancelID").val() == 0 ? false : true
                            //},//12
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtViewID").val() == 0 ? false : true
                            //},//13
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = '<a href="javascript:void(0)" class="clsVariant" style = "font-size:12px"><span class="glyphicon glyphicon-file clsVariant" style="font-size:12px" title="Variant"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtVariantID").val() == 0 ? false : true
                            //},//14
                        ],
                        initComplete: function () {
                            // Re-apply search value after table is fully initialized
                            this.api().search(searchValue).draw();
                        }
                    });
                    Table = $('#tblMasterData').DataTable();
                    if (!Table.data().any()) {
                        if (ClickType == 1)
                            showErrorSnackbar("No records found");
                    }
                    //if (data.length > 0) {
                    //    $.each(data, function (i, items) {
                    //        Table.row.add([
                    //            items.ID,
                    //            items.DocID,
                    //            items.DocDate,
                    //            items.RefNo,
                    //            items.ContType,
                    //            items.ContMode,
                    //            items.PartyID,
                    //            items.FAID,
                    //            items.NoteValue,
                    //            items.Balance,
                    //            items.Status,
                    //            items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>',
                    //            items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle clsCancel" style="font-size:16px" title="Cancel"></span></a>',
                    //            '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>',
                    //            '<a href="javascript:void(0)" class="clsVariant" style = "font-size:12px"><span class="glyphicon glyphicon-file clsVariant" style="font-size:12px" title="Variant"></span></a>',
                    //        ]).draw(false);
                    //    });
                    //}
                    //else {
                    //    if (ClickType == 1)
                    //    showErrorSnackbar("No records found");
                    //}
                }, error: function (data) {
                    if (data.status == "401") {
                        var msg = data.responseJSON.Message;
                        //showErrorSnackbar(msg + " Logout and Login again.");
                    }
                }
            });
        }
    }

    function getActionsByRole(role, row) {
        let actions = [];

        if (role.canEdit && row.Status !== 'Cancelled' && row.Status !== 'Amended')
            actions.push({ cls: "clsEdit", label: "✏️ Edit" });

        if (role.canCancel && row.Status !== 'Cancelled')
            actions.push({ cls: "clsCancel", label: "❌ Cancel" });

        if (role.canVariant)
            actions.push({ cls: "clsVariant", label: "📄 Variant" });

        if (role.canPrint)
            actions.push({ cls: "clsprint", label: "<i class='fa-solid fa-print'></i> Print" });

        if (role.canPreview)
            actions.push({ cls: "clspreview", label: "<i class='fa-solid fa-print'></i> Preview" });

        if (role.canPDF)
            actions.push({ cls: "clspdf", label: "<i class='fa-regular fa-file-pdf' style='color:brown'></i> PDF" });

            actions.push({ cls: "clsemail", label: "<i class='fa-solid fa-envelope' style='color:brown'></i> Mail" });

            actions.push({ cls: "clswhatsapp", label: "<i class='fa-brands fa-whatsapp' style='color:green'></i> Whatsapp" });

        return actions;
    }


    var modal = document.getElementById("myModalfg");
    var span = document.getElementsByClassName("closefg")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }


    $('#cmbFromAccount').change(function (e) {
        var SelID = e.target.value;
        //$('#lnkViewFromBank').hide();
        $('#cmbChequeNo').find("option").remove();
        $('#cmbChequeNo').append($('<option/>', {
            value: 0,
            text: "-- Select --",
        }));
        if ($('#cmbType').val() != 4) {
            if (SelID > 0) {
                var id = $("#txtID").val() != "" ? $("#txtID").val() : "0"
                //$('#lnkViewFromBank').show();
                if ($('#cmbMode').val() == 2) {
                    GetData(4, SelID, id);
                }
            } else {
                //$('#lnkViewFromBank').hide();
            }
        }
        if (SelID > 0) {
            if ($('#cmbType').val() != 1) {
                GetData(7, SelID, $("#dtpDate").val());
            }
            else {
                GetData(6, 13, $("#dtpDate").val());
            }
        }
        else {
            $("#lblBalance").text("0.00");
        }
    });
    $('#cmbToAccount').change(function (e) {
        $("#divErrToAccount").html("");
        var SelID = e.target.value;
        if (SelID > 0) {
            if ($('#cmbFromAccount').val() == $('#cmbToAccount').val()) {
                $("#divErrToAccount").html("Account No and Transfer Account should not be same. Select another account.");
                $('#lnkViewToBank').hide();
                $('#cmbToAccount').val(0);
            }
            else {
                $('#lnkViewToBank').show();
            }
        } else {
            $('#lnkViewToBank').hide();
        }
    });
    $('#lnkViewFromBank').click(function (e) {
        if ($('#cmbType').val() != 4) {
            if ($('#cmbFromAccount').val() > 0) {
                var md = arrAccountData.filter(t => t.ID == $('#cmbFromAccount').val());
                var cont = '<table class="table table-bordered"><tr><td align="right">Bank :</td><td><label>' + md[0].Bank + '</label></td></tr><tr><td align="right">Branch :</td><td><label>' + md[0].Branch + '</label></td></tr>';
                cont += '<tr><td align="right">IFSC :</td><td><label>' + md[0].IFSC + '</label></td></tr><tr><td align="right">MICR :</td><td><label>' + md[0].MICR + '</label></td></tr></table > ';
                BankInfoDialogMsg(cont);
            } else {
                showErrorSnackbar("Select Bank");
                $('#cmbFromAccount').focus();
            }
        }
    });
    $('#lnkViewToBank').click(function (e) {
        if ($('#cmbToAccount').val() > 0) {
            var md = arrAccountData.filter(t => t.ID == $('#cmbToAccount').val());
            var cont = '<table class="table table-bordered"><tr><td align="right">Bank :</td><td><label>' + md[0].Bank + '</label></td></tr><tr><td align="right">Branch :</td><td><label>' + md[0].Branch + '</label></td></tr>';
            cont += '<tr><td align="right">IFSC :</td><td><label>' + md[0].IFSC + '</label></td></tr><tr><td align="right">MICR :</td><td><label>' + md[0].MICR + '</label></td></tr></table > ';
            BankInfoDialogMsg(cont);
        } else {
            showErrorSnackbar("Select Bank");
            $('#cmbToAccount').focus();
        }
    });
    function LoadDetailsIndropdown(ID) {
       // $('#lnkViewFromBank,#lnkViewToBank').hide();
        var SelID = ID;
        $('#txtNEFT').val("");
        $('#cmbToAccount').val(0);
        $('#cmbFromAccount').find("option").remove();
        $('#cmbFromAccount').append($('<option/>', {
            value: 0,
            text: "-- Select --",
        }));
        var md = arrTypeData.filter(t => t.TypeID == (SelID != "4" ? "1" : "4"));
        for (var i = 0; i < md.length; i++) {
            if (SelID != 4)
            {
                var BADetails = (md[i].Name).split('|');
                $('#cmbFromAccount').append($('<option/>', {
                    value: md[i].ID,
                    text: BADetails[0],
                }));
                $('#cmbFromAccount').val(DefBankAcc);
                if (DefBankAcc > 0 && SelID != 1) {
                    GetData(7, DefBankAcc, $("#dtpDate").val());
                } else {

                }
            }
            else {
                $('#cmbFromAccount').append($('<option/>', {
                    value: md[i].ID,
                    text: md[i].Name,
                }));
            }
        }
        ValidateTypeSelection(ID);
    }
    $('#cmbMode').change(function (e) {
        var ctype = $('#cmbType').val();
        $('#cmbChequeNo').val(0);
        var cmode = e.target.value;
        $("#cmbChequeNo,#txtNEFT").prop("disabled", true);
        if (cmode == 2) {
            $("#cmbChequeNo").prop("disabled", false);
            $("#txtNEFT").prop("disabled", true);
            var id = $("#txtID").val() != "" ? $("#txtID").val() : "0"
            GetData(4, $('#cmbFromAccount').val(), id);
        } else {
            $("#cmbChequeNo").prop("disabled", true);
            $("#txtNEFT").prop("disabled", false);
        }
    });
    $('#cmbType').change(function (e) {
        $('#cmbChequeNo').find("option").remove();
        $('#cmbChequeNo').append($('<option/>', {
            value: 0,
            text: "-- Select --",
        }));
        $('#cmbChequeNo,#cmbSalesman').val(0);
        LoadDetailsIndropdown(e.target.value);
        if (e.target.value == 1) {
            GetData(6, 13, $("#dtpDate").val());
        }
        else {
            $("#lblBalance").text("0.00");
        }
    });
    function ValidateTypeSelection(Value) {
        var SelID = Value;
        $('#cmbMode').find("option").remove();
        $("#cmbSalesman,#cmbMode,#cmbChequeNo,#cmbToAccount,#txtNEFT").prop("disabled", true);
        if (SelID == 1) {// cash depp
            $('#cmbMode').append($('<option/>', {
                value: 0,
                text: "-- Select --",
            }));
            $("#txtNEFT,#cmbChequeNo,#cmbToAccount,#cmbMode").prop("disabled", true);
            $("#cmbSalesman").prop("disabled", false);
        }
        else if (SelID == 2) {// cash withdraw
            $("#txtNEFT,#cmbToAccount").prop("disabled", true);
            $("#cmbSalesman,#cmbMode,#cmbChequeNo").prop("disabled", false);
            var md = arrModeData.filter(t => t.Mode == SelID);
            for (var i = 0; i < md.length; i++) {
                $('#cmbMode').append($('<option/>', {
                    value: md[i].ID,
                    text: md[i].Name,
                }));
            }
            var selval = $('#cmbMode').val();
            if (selval == 2) {
                var id = $("#txtID").val() != "" ? $("#txtID").val() : "0"
                GetData(4, $('#cmbFromAccount').val(), id);
                $("#cmbChequeNo").prop("disabled", false);
                $("#txtNEFT").prop("disabled", true);
            }
        }
        else if (SelID == 3) {// bank trans
            $("#cmbSalesman,#cmbMode,#cmbToAccount,#txtNEFT").prop("disabled", false);
            var md = arrModeData.filter(t => t.Mode == SelID);
            for (var i = 0; i < md.length; i++) {
                $('#cmbMode').append($('<option/>', {
                    value: md[i].ID,
                    text: md[i].Name,
                }));
            }

            var selval = $('#cmbMode').val();
            if (selval == 2) {
                var id = $("#txtID").val() != "" ? $("#txtID").val() : "0"
                GetData(4, $('#cmbFromAccount').val(), id);
                $("#cmbChequeNo").prop("disabled", false);
                $("#txtNEFT").prop("disabled", true);
            }

        }
        else if (SelID == 4) {// branch trans
            $('#cmbMode').append($('<option/>', {
                value: 0,
                text: "-- Select --",
            }));
            $("#cmbSalesman,#cmbMode,#cmbChequeNo,#cmbToAccount,#txtNEFT").prop("disabled", true);
        }
        else {
            $('#cmbMode').append($('<option/>', {
                value: 0,
                text: "-- Select --",
            }));
            $("#cmbSalesman,#cmbMode,#cmbChequeNo,#cmbToAccount,#txtNEFT").prop("disabled", false);
        }
        if (nTransMode == 5 || nTransMode == 4) {
            $("#cmbSalesman,#cmbMode,#cmbChequeNo,#cmbToAccount,#txtNEFT").prop("disabled", true);
        }
    }
    function SetTagZero() {
        var inputs = $(".txtsettag");
        for (var i = 0; i < inputs.length; i++) {
            var field = $(inputs[i]);
            var FID = field[0].id;
            updateInputColumn(FID, "0");
        }
    }
    var DecVal = '@Session["DecimalValues"]';
    function updateInputColumn(inputID, netValue) {
        //const label = document.getElementById(`dgvProdGross${rowId}`);
        const input = document.getElementById(inputID);
        var value = netValue != "" ? netValue : 0;
        input.setAttribute('txttag', parseFloat(value).toFixed(4));
        input.value = parseFloat(value).toFixed(DecVal);
        input.title = netValue;
    }
    $(".txtsettag").focusin(function (e) {
        var id = e.target.id;
        const val = document.getElementById(id).getAttribute("txttag");
        $("#" + id).val(val);
        $("#" + id).select();
    });
    $(".txtsettag").blur(function (e) {
        var val = e.target.value;
        var id = e.target.id;
        updateInputColumn(id, val);
    });
    function CloseForm() {
        modal.style.display = "none";
    }

    $('#btnClose').click(function (e) {
        if (ClosecfFocus != 3) { CloseConfirmDialogMsg("Do you want to close?"); } else { CloseForm(); }
    });
    $("#btnAdd").click(function () {
        nMode = 1;
        nTransMode = 1;
        ClearForm();
        $(".FormclrField,.FormclrcmbField").prop("disabled", false);
        $("#btnSave,#btnClear,#btnClose").prop("disabled", false);
        $("#btnPreview,#btnPDF").prop("disabled", true);
        $(".modal-title#lblPopupheading").text("Add " + $("#MainHeading").text());
        modal.style.display = "block";
        GetData(6, 13, $("#dtpDate").val());
    });
    $('#btnClear').click(function (e) {
        if (cfFocus != 3) { ClearConfirmDialogMsg("Do you want to clear?"); } else { ClearForm(); }
    });
    setDate("dtpDate", 0);
setDate("dtpFFrom", 0);
setDate("dtpFTo", 0);

setTimeout(function () { GetFilterData(); }, 800);

    function setDate1(FieldID, Type) {
        $.ajax({
            url: "@Url.Action("setdate", "Home")",
            type: 'get',
            contentType: 'json',
            data: { TypeID: Type },
            success: function (data) {
                $.each(data, function (i, items) {
                    $("#" + FieldID).attr("max", items.MaxDate);
                    $("#" + FieldID).attr("min", items.MinDate);
                    $("#" + FieldID).val(items.Value);
                });
            }, error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    //showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        })
    }
    function ClearForm() {
        $(".FormclrField").val("");
        $(".FormclrcmbField").val(0);
        $(".clrdivs").html("");
        $("#txtPartyName").focus();
        $("#btnEmail,#btnWhatsapp").hide();
        $("#lblBalance").text("0.00");
        //$("#lnkViewFromBank, #lnkViewToBank").hide();
        
        GetData(1, "");
        inputTag = [];
        setDate("dtpDate", 0);
        SetFilterDate();
        SetTagZero();
        setTimeout(function () {
            GetFilterData();
            $('#cmbFromAccount').val(DefBankAcc);
        }, 800);
        if (nTransMode != 1)
            modal.style.display = "none";
        $("#btnPreview,#btnPDF").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint").hide();
        $("#btnSave,#btnClose,#btnDraft,#btnClear").show();
    }
    $("#btnSave").click(function () {
        $(".clrdivs").html("");
        var IsValid = true, ChkFormation = true;

        if ($("#cmbFromAccount").val() == 0) {
            IsValid = false;
            $("#divErrFromAccount").html("Select Account No*");
            showErrorSnackbar("Select Account No");
        }
        if ($("#cmbType").val() == 0) {
            IsValid = false;
            $("#divErrType").html("Select Contra Type *");
            showErrorSnackbar("Select Contra Type");
        }
        if ($("#cmbMode").val() == 2 && ($("#cmbChequeNo").val() == 0 || $("#cmbChequeNo").val() == null)) {
            IsValid = false;
            $("#divErrChequeNo").html("Select Cheque *");
            showErrorSnackbar("Select Cheque");
        }
        if ($("#cmbType").val() == 3 && $("#cmbToAccount").val() == 0) {
            IsValid = false;
            $("#divErrToAccount").html("Select Account *");
            showErrorSnackbar("Select  Account");
        }
        if ($("#cmbType").val() == 3 & ($("#cmbMode").val() == 3 || $("#cmbMode").val() == 4 || $("#cmbMode").val() == 5)) {
            if ($("#txtNEFT").val() == "") {
                IsValid = false;
                $("#divErrNEFT").html("Mandatory field should not be empty *");
                showErrorSnackbar("Mandatory field should not be empty");
            }
        }
        if ($("#cmbType").val() == 2 & ($("#cmbMode").val() == 1)) {
            if ($("#txtNEFT").val() == "") {
                IsValid = false;
                $("#divErrNEFT").html("Mandatory field should not be empty *");
                showErrorSnackbar("Mandatory field should not be empty");
            }
        }
        if ($("#txtValue").val() == "") {
            IsValid = false;
            $("#dvErrorValue").html("Value should not be empty");
            showErrorSnackbar("Value should not be empty");
        }
        else {
            var val = $("#txtValue").val();
            if (parseFloat(val) <= 0) {
                IsValid = false;
                $("#dvErrorValue").html("Value should be greater than zero");
                showErrorSnackbar("Value should be greater than zero");
            }
        }
        if ($("#dtpDate").val() == "") {
            IsValid = false;
            $("#dvErrorDate").html("Date should not be empty");
            showErrorSnackbar("Date should not be empty");
        }
        if (IsValid) {
            if (cfFocus != 3) { ConfirmDialogMsg("Do you want to save data?"); } else { SaveData(); }
        }
    });
    function SaveData() {
        $("#btnSave").prop("disabled", true);
        $(".clrdiv").html("");
        var nStatus = $("#txtStatus").val() !== "" ? $("#txtStatus").val() : 1;

        var lstMaster = {
            "TransID": FID,
            "TransMode": nTransMode,
            "ID": $("#txtID").val(),
            "DocDate": $("#dtpDate").val(),
            "RefNo": $("#txtRefNo").val(),
            "PartyID": $("#cmbFromAccount").val(),
            "FAID": $("#cmbToAccount").val(),
            "NoteValue": document.getElementById("txtValue").getAttribute("txttag"),//ReturnTagValue("txtValue",""),// $("#txtValue").val(),
            "Remark": $("#txtRemarks").val(),
            "Narration": $("#txtNarration").val(),
            "UDFId": $("#cmbUDN").val(),

            "ContType": $("#cmbType").val(),
            "ContMode": $("#cmbMode").val(),
            "ChequeNo": $("#cmbChequeNo").val() > 0 ? $("#cmbChequeNo option:selected").text() : "",
            "NEFTNo": $("#txtNEFT").val(),
            "Salesman": $("#cmbSalesman").val(),

            "Status": nTransMode == 1 || nTransMode == 3 ? 1 : nTransMode == 2 ? 3 : nStatus,
            "CurrentStatus": nStatus,
            "CBy": UID
        };
            $.ajax({
                url: Aurl + "contra/save",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(lstMaster),
                cache: false,
                processData: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    $("#btnSave").prop("disabled", false);
                    $.each(data, function (i, items) {
                        if (items.MsgID == 0) {
                            showSuccessSnackbar(items.Message);
                            if (nTransMode != 4) {
                                if (allowprint == 1) {
                                    PrintDocument(items.ID, PrintTransID, PrintConfigID);
                                } else if (allowprint == 3 || allowprint == 4) {
                                    PrintConfirmDialogMsg(items.ID, PrintTransID, PrintConfigID, "Do you want to print ?");
                                }
                                if (SendAutoMail == 1) {
                                    EmailDocument(items.ID, PrintTransID, PrintConfigID);
                                }
                            }
                            ClearForm();
                            //GetData(2,"");
                            GetFilterData();
                            modal.style.display = "none";
                        }
                        else if (items.Message == "AccountName") {
                            $("#dvErrorName").html("Account Name Already Exists in another master");
                            showErrorSnackbar("Account Name Already Exists in another master");
                        }
                        else if (items.Message == "Cheque") {
                            $("#divErrChequeNo").html("Cheque status already changed");
                            showErrorSnackbar("Cheque status already changed");
                        }
                        else {
                            //$("#divErrorOnCode").html(items.Message);
                            showErrorSnackbar(items.Message);
                        }
                    });
                }, error: function (data) {
                    $("#btnSave").prop("disabled", false);
                    if (data.status == "401") {
                        var msg = data.responseJSON.Message;
                        //showErrorSnackbar(msg + " Logout and Login again.");
                    }
                }
            });
    }
    var nTransMode = 1;
    $('#tblMasterData tbody').on('click', '.clsView', function (e) {
        $(".clrdivs").html("");
        $("#cmbChequeNo").val(0);
        rowdata = Table.row($(this).parents('tr')).data();
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        nTransMode = 5;
        $("#txtID").val(ID);
        GetData(3, ID);
        $(".FormclrField,.FormclrcmbField").prop("disabled", true);
        $("#btnSave,#btnClear,#btnDraft").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint").prop("disabled", false);
        $("#btnPreview,#btnPDF,#btnPrint").show();
        $("#btnSave,#btnClear,#btnDraft").hide();
        $("#btnEmail,#btnWhatsapp").show()
        
        var hdfkl = $("#txtFormName").val();
        $(".modal-title#lblPopupheading").text("View " + $("#txtFormName").val());
    });
    $(document).on('click', '.clsEdit', function (e) {
        $(".clrdivs").html("");
        $("#cmbChequeNo").val(0);
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        if (sts != "Cancelled") {
            $("#txtID").val(ID);
            nTransMode = 2;
            //showErrorSnackbar("Bill Table : " + rdo1 + ", Draft : " + rdo2);
            GetData(3, ID);
            $(".FormclrField,.FormclrcmbField").prop("disabled", false);
            $("#btnPreview,#btnPDF,#btnClear").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnPrint,#btnClear").hide();
            $("#btnSave,#btnClose").prop("disabled", false);
            $("#btnSave,#btnClose").show();
            $("#btnEmail,#btnWhatsapp").hide();
            $(".modal-title#lblPopupheading").text("Modify " + $("#txtFormName").val());
        }
        else {
            showErrorSnackbar("Cannot Modify.This document already cancelled");
        }
    });
    $(document).on('click', '.clsCancel', function (e) {
        $(".clrdivs").html("");
        $("#cmbChequeNo").val(0);
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        if (sts != "Cancelled") {
            $(".modal-title#lblPopupheading").text("Cancel " + $("#txtFormName").val());
            $("#txtID").val(ID);
            nTransMode = 4;
            GetData(3, ID);
            $(".FormclrField,.FormclrcmbField").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnClear,#btnDraft").prop("disabled", true);
            $("#btnSave,#btnClose").prop("disabled", false);
            $("#btnPreview,#btnPDF,#btnPrint,#btnClear,#btnDraft").hide();
            $("#btnSave,#btnClose").show();
            $("#btnEmail,#btnWhatsapp").hide();
        }
        else {
            showErrorSnackbar("This document already cancelled");
        }
    });
    $(document).on('click', '.clsVariant', function (e) {
        $(".clrdivs").html("");
        $("#cmbChequeNo").val(0);
        //GetData(1, "");
        nTransMode = 3;
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        $("#txtID").val(ID);
        GetData(3, ID);
        $(".modal-title#lblPopupheading").text("Variant " + $("#txtFormName").val());
        $(".FormclrField,.FormclrcmbField").prop("disabled", false);
        $("#btnSave,#btnClear,#btnDraft").prop("disabled", false);
        $("#btnPreview,#btnPDF").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint,#btnClear").hide();
        $("#btnSave,#btnClose,#btnDraft").show();
        $("#btnEmail,#btnWhatsapp").hide();
       
        //showErrorSnackbar("Variant functionality still developing");
    });
    $(document).on('click', '.clspreview', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPreview").click();
    });
    $(document).on('click', '.clspdf', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPDF").click();
    });
    $(document).on('click', '.clsemail', function (e) {//'#tblMasterData tbody'
        rowdata = window.__SelectedRowData;//Table.row($(this).parents('tr')).data();
        //var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.CurrentStatus;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnEmail").click();
    });
    $(document).on('click', '.clswhatsapp', function (e) {//'#tblMasterData tbody'
        rowdata = window.__SelectedRowData;//Table.row($(this).parents('tr')).data();
        //var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.CurrentStatus;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btniframeWhatsapp").click();
    });
    $(document).on('click', '.clsprint', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPrint").click();
    });
    function BankInfoDialogMsg(message) {
        var IsAccepted = false;
        $(".ui-dialog-titlebar-close").hide();
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '</h6></div>')
            .dialog({
                modal: true,
                closeOnEscape: true,
                title: 'Bank Info',
                zIndex: 100,
                autoOpen: true,
                width: '400px',
                resizable: true,
                close: false,
                open: function () {
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-dialog-titlebar-close")
                        .html("x");
                },
                buttons: [
                    {
                        text: "Close",
                        class: "btn btn-warning clsclrNo",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ],
            });
        $(".clsclrNo").focus();
    };
</script>