@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/Content/jquery-ui.css">*@
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />

@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/bootstrap_3.3.7.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/dataTables.2.2.2.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>
<header>
    <link rel="stylesheet" href="~/Content/index.css">
</header>

<style>
    th, td {
        white-space: nowrap;
    }

    .gdInput {
        width: 100%;
        height: 25px;
        border-width: 0 0 0.1px 0;
        border-color: #e0d6d6;
    }

    .trtext-line {
        border: none;
        border-bottom: 1px #000000;
    }

    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

    td {
        font-size: 11px;
    }

    input[type=number] {
        text-align: right;
    }

        input[type=number]::placeholder {
            text-align: left;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* The Modal (background) */
    .modalBatch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 75%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 5%;
            overflow: auto;
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 95%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            overflow: auto;
        }
    }
    /* The Close Button */
    .closefg {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closefg:hover,
        .closefg:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .modalProdInfo {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalProdInfo-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 75%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 5%;
            overflow: auto;
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalProdInfo-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 95%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            overflow: auto;
        }
    }
    /* The Close Button */
    .closePinfo {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closePinfo:hover,
        .closePinfo:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.5s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        /*padding: 6px 12px;*/
        border: none;
        border-top: none;
    }

    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -40%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 1em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }

    .labelupfortextarea {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -18%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 1em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }

    .footerAction {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 85%;
        color: white;
        background-color: azure;
    }
    /*input:focus + .labelup,
    input:not(:placeholder-shown) + .labelup, textarea:focus + .labelup, textarea:not(:placeholder-shown) + .labelup {
        top: -35%;
        font-size: .9em;
        padding: 0 .3em;
        background: #F9F9F9;
        color: #000000;
    }*/
    .clsProd {
        position: fixed;
        right: 1%;
        bottom: 8%;
        width: 30%;
        height: 45%;
        color: black;
        background-color: #c2f6b5;
        z-index: 1000;
    }
</style>
<style>
    /* Align dropdown in DataTable cell */
    .action-dropdown {
        min-width: 100px;
        font-size: 12px;
        z-index: 1000;
        text-align: left;
    }

        /* Optional: Add hover effect */
        .action-dropdown > li > a {
            padding: 3px 12px;
            color: #333;
            text-decoration: none;
        }

            .action-dropdown > li > a:hover {
                background-color: #f5f5f5;
                color: #000;
            }

    /* Optional: Make dropdown button minimal */
    .dropdown-toggle {
        background-color: transparent !important;
        border: none !important;
        font-size: 15px;
        line-height: 1;
        padding: 2px 5px;
    }

        .dropdown-toggle::after {
            display: none;
        }
</style>
<body>

    @Html.HiddenFor(model => model.Add, new { @autocomplete = "off", @class = "form-control", @id = "txtAddID" })
    @Html.HiddenFor(model => model.Modify, new { @autocomplete = "off", @class = "form-control", @id = "txtModifyID" })
    @Html.HiddenFor(model => model.Return, new { @autocomplete = "off", @class = "form-control", @id = "txtReturnID" })
    @Html.HiddenFor(model => model.View, new { @autocomplete = "off", @class = "form-control", @id = "txtViewID" })
    @Html.HiddenFor(model => model.Cancel, new { @autocomplete = "off", @class = "form-control", @id = "txtCancelID" })
    @Html.HiddenFor(model => model.FormName, new { @autocomplete = "off", @class = "form-control", @id = "txtFormName" })
    @Html.HiddenFor(model => model.EnableReturnPrice, new { @autocomplete = "off", @class = "form-control", @id = "txtReurnPricePerm" })
    @Html.HiddenFor(model => model.EnableBranch, new { @autocomplete = "off", @class = "form-control", @id = "txtEnableBranch" })
    @Html.HiddenFor(model => model.ID, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtID" })
    @Html.HiddenFor(model => model.TransType, new { @autocomplete = "off", @class = "form-control", @id = "txtTransType" })

    <h4 id="MainHeading">@ViewData["FormName"]</h4>
    <div class="toastBox"></div>
    <div id="dvDocuments">
        <hr />
        <div style="width:100%;">
            <input hidden id="txtStatus" />
            <table width="100%">
                <tr>
                    <td>
                        <button id="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
                    </td>
                    <td width="60%" align="right">
                        <table>
                            <tr>
                                <td style="padding-left:7px;">
                                    <select class="gdInput" id="cmbFilterDatetype" onchange="SetFilterDate();"></select>
                                </td>
                                <td>
                                    <span class="form-label">
                                        <input tabindex="1" class="form-control FormfilterclrField" type="date" id="dtpFFrom" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                                        <label class="labelup" for="txtCode"> From</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFFrom" class="clrdivs"></div>
                                </td>
                                <td style="padding-left:7px;">
                                    <span class="form-label">
                                        <input tabindex="1" class="form-control FormfilterclrField" type="date" id="dtpFTo" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                                        <label class="labelup" for="txtCode"> To</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFTo" class="clrdivs"></div>
                                </td>
                                <td style="padding-left:7px;">
                                    <input tabindex="1" style="font-size:14px;" class="FormfilterclrField" type="checkbox" id="chkShowAll">
                                    <label for="chkShowAll" style="font-size:14px;">All Status</label>
                                </td>
                                <td style="padding-left:7px;">
                                    <button id="btnFilter" class="btn btn-primary"><span class="glyphicon glyphicon-filter" style="color: white"></span>&#x2009;Filter</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
        @*<button id="btnLoadDraft" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt	" style="color: white"></span>&#x2009;Load Draft Data</button>*@

        <table class="table table-bordered" id="tblMasterData" width="100%">
            <thead>
                <tr class="trclrforcolheader">
                    <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                    <th style="text-align:center;font-size: 12px;width:0%;">StatusID</th>
                    <th style="text-align:center;font-size: 12px;width:11%;">Doc ID</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">Date</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">Ref No</th>
                    <th style="text-align:center;font-size: 12px;width:30%;">Salesman Name</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Total Invoices</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Status</th>
                    <th style="text-align:center;font-size: 12px;width:6%;">User</th>
                    <th style="text-align:center;font-size: 12px;width:3%;" title="View">
                        <span class="glyphicon glyphicon-eye-open" style="font-size:16px">
                        </span>
                    </th>
                    <th style="text-align:center;font-size: 12px;width:3%;" title="Edit">
                        <span class="glyphicon glyphicon-pencil" style="font-size:16px">
                        </span>
                    </th>
                    @*<th style="text-align:center;font-size: 12px;width:3%;" title="Edit">
            <span class="glyphicon glyphicon-pencil" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="Cancel">
            <span class="glyphicon glyphicon-remove-circle" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="View">
            <span class="glyphicon glyphicon-eye-open" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="Return">
            <span class="glyphicon glyphicon-share-alt" style="font-size:16px">
            </span>
        </th>*@
                </tr>

            </thead>
        </table>
    </div>
    <div id="dvMain">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <table width="100%">
                        <tr class="bgclrfortr">
                            <td style="border:none;" colspan="2">
                                <div>
                                    <span class="form-label">
                                        <select class="form-control FormclrcmbField" id="cmbSalesman"><option value="0">Select Salesman</option></select>
                                        <label class="labelup" for="txtCode"> Salesman *</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrSalesman" class="clrdivs"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <table width="100%">
                        <tr>
                            <td style="border:none;" colspan="2">
                                <div>
                                    <span class="form-label">
                                        <input tabindex="1" class="form-control FormclrField" type="text" id="txtRefNo" placeholder="">
                                        <label class="labelup" for="txtCode"> Ref No</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrRefNo" class="clrdivs"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5">
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <table width="100%">
                        <tr>
                            <td style="border:none;">
                                <label style="font-size:14px">Doc ID : </label> <label id="lblDocID" style="font-size:14px">AI/2425/001</label>
                            </td>
                            <td style="border:none;">
                                <span class="form-label">
                                    <input class="gdInput FormclrField" type="date" id="dtpDate"
                                           oninput="javascript: if (this.value > this.max) { this.value = this.max; }" />
                                    @*<label class="labelup" for="txtCode">Date *</label>*@
                                </span>
                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrDate" class="clrdivs"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-sm-12 col-md-12 col-lg-12" style="padding-bottom:5px;">
                <table width="100%">
                    <tr>
                        <td style="border:none;width:20%;">

                            <span class="form-label">
                                <select class="form-control FormclrcmbField" id="cmbFilterBeat"><option value="0">Select Beat</option></select>
                                <label class="labelup"> Beat</label>
                            </span>
                            <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFilterBeat" class="clrdivs"></div>
                        </td>
                        <td style="border: none; width: 20%;">
                            <span class="form-label">
                                <select class="form-control FormclrcmbField" id="cmbFilterSalesman"><option value="0">Select Salesman</option></select>
                                <label class="labelup"> Salesman</label>
                            </span>
                            <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFilterSalesman" class="clrdivs"></div>
                        </td>
                        <td style="border: none; width: 30%;">
                            <div>
                                <span class="form-label">
                                    <input tabindex="1" class="form-control FormclrField" type="text" id="txtFilterCustomer" placeholder="">
                                    <label class="labelup"> Customer Name</label>
                                </span>
                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFilterCustomer" class="clrdivs"></div>
                            </div>
                        </td>
                        <td style="border: none; width: 10%;">
                            <span class="form-label">
                                <input tabindex="1" class="form-control FormclrField" type="date" id="dtpDocTo" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                                <label class="labelup"> As on Date *</label>
                            </span>
                            <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrDocTo" class="clrdivs"></div>
                        </td>
                        <td style="border: none; width: 10%; ">
                            <button id="btnDocFilter" class="btn btn-primary"><span class="glyphicon glyphicon-filter" style="color: white"></span>&#x2009;Filter</button>
                        </td>
                        <td style="border: none; width: 10%;">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="padding-bottom:20px;">
            <button class="btn btn-info" id="btnAddInvoices"><span class="glyphicon glyphicon-plus"></span>Add</button>
            <button class="btn btn-primary" id="btnViewInvoices"><span class="glyphicon glyphicon-eye-open"></span> View</button>
            <table class="table table-bordered row-border order-column" id="tblInvoiceData" width="100%">
                <thead>
                    <tr>
                        <th style="text-align:center;font-size: 12px;width:0%;" class="trclrforcolheader">ID</th>
                        <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader"><input type="checkbox" id="chkSelectAllInvoice" /> </th>
                        <th style="text-align:center;font-size: 12px;width:2%;" class="trclrforcolheader">#</th>
                        <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Doc ID</th>
                        <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Doc Date</th>
                        <th style="text-align:center;font-size: 12px;width:8%;" class="trclrforcolheader">Ref No</th>
                        <th style="text-align:center;font-size: 12px;width:9%;" class="trclrforcolheader">Beat</th>
                        <th style="text-align:center;font-size: 12px;width:8%;" class="trclrforcolheader">Salesman</th>
                        <th style="text-align:center;font-size: 12px;width:8%;" class="trclrforcolheader">Customer</th>
                        <th style="text-align:center;font-size: 12px;width:15%;" class="trclrforcolheader">Net Amount</th>
                        <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Balance</th>
                        <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Ageing</th>
                        <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader" title="Assigned Invoice Count">AIC</th>
                    </tr>
                </thead>
            </table>
            @*<button id="btnProdAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>*@
        </div>

        <div class="footerAction modal-footer">
            @*<div style="padding-right:20px" align="right">
            <button type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
            <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
            <button type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
        </div>*@
            <table width="100%">
                <tr>
                    <td width="20%" align="left" style="padding-left:20px">
                        <div>
                            <span class="form-label">
                                <select class="form-control" id="cmbPrintProfile"><option value="0">Select</option></select>
                                <label class="labelup"> Print Profile</label>
                            </span>
                            <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrPrintProfile" class="clrdivs"></div>
                        </div>
                    </td>
                    <td width="80%" align="right">
                        <div style="padding-right:20px" align="right">
                            <button type="button" class="btn clrforpdf" id="btnPDF"><span class="glyphicon glyphicon-envelope"> PDF</span></button>
                            <button type="button" class="btn btn-primary" id="btnPreview"><span class="glyphicon glyphicon-print"> Preview</span></button>
                            <button type="button" class="btn clrforpreview" id="btnPrint"><span class="glyphicon glyphicon-print"> Print</span></button>
                            <button type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
                            <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
                            <button type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="modalBatch" id="myModalfg">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalBatch-content">
                @*<button type="button" class="closefg">&times;</button>*@
                <div class="modal-header">
                    <button type="button" class="closefg">&times;</button>
                    <h5 class="modal-title" style="color:black" id="lblPopupheading">Added Invoices</h5>
                    @*<hr />*@
                </div>
                <div class="modal-body">
                    <div id="dvAssign" style="width:100%;padding-bottom:7px">
                        <table class="table table-bordered row-border order-column" id="tblInvoiceDataView" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center;font-size: 12px;width:0%;" class="trclrforcolheader">ID</th>
                                    <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader"><input type="checkbox" id="chkSelectAllInvoiceView" /> </th>
                                    <th style="text-align:center;font-size: 12px;width:2%;" class="trclrforcolheader">#</th>
                                    <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Doc ID</th>
                                    <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Doc Date</th>
                                    <th style="text-align:center;font-size: 12px;width:8%;" class="trclrforcolheader">Ref No</th>
                                    <th style="text-align:center;font-size: 12px;width:9%;" class="trclrforcolheader">Beat</th>
                                    <th style="text-align:center;font-size: 12px;width:8%;" class="trclrforcolheader">Salesman</th>
                                    <th style="text-align:center;font-size: 12px;width:8%;" class="trclrforcolheader">Customer</th>
                                    <th style="text-align:center;font-size: 12px;width:15%;" class="trclrforcolheader">Net Amount</th>
                                    <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Balance</th>
                                    <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">Ageing</th>
                                    <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader" title="Assigned Invoice Count">AIC</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:skyblue">
                    <div style="padding-top:0px" align="right">
                        @*<button tabindex="4" type="button" class="btn btn-danger" id="btnPinfoClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>*@
                        <button tabindex="3" type="button" class="btn btn-success" id="btnBatchAccept"><span class="glyphicon glyphicon-saved"> Accept</span></button>
                        <button tabindex="5" type="button" class="btn btn-warning" id="btnBatchClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">
    //document.body.style.zoom = "85%";
    $("#txtDocID").prop("disabled", true);
    //dvDocuments,
        $("#dvMain").hide();
    var Table = $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        "bFilter": true,
        "bSearchable": true,
        "bInfo": true,
        "bPaginate": true,
        "ordering": true,
        scrollY: "400px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0,1], "visible": false, searchable: false }],
    });
    var InvoiceTable = $('#tblInvoiceData').DataTable({
        paging: false,
        searching: true,
        info: false,
        ordering: true,
        scrollY: "250px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0], "visible": false, searchable: false, filter: false, ordering: false }],
    });
    var InvoiceDataView = $('#tblInvoiceDataView').DataTable({
        paging: false,
        searching: true,
        info: false,
        ordering: true,
        scrollY: "250px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0], "visible": false, searchable: false, filter: false, ordering: false }],
    });

    var UID = '@Session["LoginUserID"]';
    var Aurl = '@Session["APIurl"]';
    var DefBranch = '@Session["DefaultBranch"]';
    var DecVal = '@Session["DecimalValues"]';
    var nTransMode = 1, nIsDraft = 0;
    var PrintTransID = 10, PrintConfigID = 0;
if ($("#txtAddID").val() == 0) {
    $("#trAdd").hide();
    $("#btnAdd").hide();
}
    GetPrintProfile(PrintTransID);
    function GetPrintProfile(nTransID) {
        $.ajax({
            url: Aurl + "printprofileconfig/getprofile",
            type: 'get',
            contentType: 'json',
            data: { TransID: nTransID },
            xhrFields: {
                withCredentials: true
            },
            async: false,
            success: function (data) {
                $('#cmbPrintProfile').find("option").remove();
                $('#cmbPrintProfile').append($('<option/>', {
                    value: 0,
                    text: "-- Select --",
                }));
                var lstdata = eval(data)
                var getdef = lstdata.filter(pr => pr.DefaultConfig == 1);
                var defid = getdef.length > 0 ? getdef[0].ConfigID : 0;
                $.each(lstdata, function (i, items) {
                    $('#cmbPrintProfile').append($('<option/>', {
                        value: items.ConfigID,
                        text: items.ConfigName,
                    }));
                    $('#cmbPrintProfile').val(defid);
                    PrintConfigID = defid;
                });
            }
        });
    }
    $("#btnAdd").click(function () {
        //dvDocuments,
        nTransMode = 1;
        $("#dvMain").show();
        $("#dvDocuments").hide();
        ClearForm();
        setTimeout(() => {
            GetData(5, 0, $("#cmbFilterBeat").val(), $("#cmbFilterSalesman").val(), $("#txtFilterCustomer").val(), null,
                $("#dtpDocTo").val());
        }, 500);
    })
    $("#btnClose").click(function () {
        if (ClosecfFocus != 3) { CloseConfirmDialogMsg("Do you want to close?"); } else { CloseForm(); }

    });
    function CloseForm() {
        $("#dvMain").hide();
        $("#dvDocuments").show();
        //GetData(rdo1 ? 4 : 7);
        GetFilterData();
        $("#MainHeading").text("Assign Invoices");
    }
    $('input[type=number]').focusin(function (e) {
        $(this).select();
    });
    $('input[type=number]').click(function (e) {
        $(this).select();
    });
    function Scrolltoid(id) {
        //window.scrollTo(id[0].offsetLeft, id[0].offsetTop);
        window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: "smooth" });
    }
    var modal = document.getElementById("myModalfg");
    var span = document.getElementsByClassName("closefg")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }
    $('#btnBatchClose').click(function (e) {
        modal.style.display = "none";
    });
   setDate("dtpDate", 0);
setDate("dtpFFrom", 0);
setDate("dtpFTo", 0);
    setDate("dtpDocFrom", 0);
    setDate("dtpDocTo", 0);
setTimeout(function () { GetFilterData(); }, 800);

    GetData(1);

    var TempProd = [];
    var arrParty = [];
    var prodids = 0;
    var tpn = "";
    function GetData(nMode, strID = null, strBeatID = null, strSalesmanID = null,strParty = null, strFromDate = null, strToDate = null, strShowall = null) {
        $.ajax({
            url: Aurl + "assigninvoices/getdata",
            type: 'get',
            contentType: 'json',
            data: {
                Mode: nMode, ID: strID, BeatID: strBeatID, SalesmanID: strSalesmanID, Party: strParty, FromDate: strFromDate,
                ToDate: strToDate, Showall : strShowall},
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                if (nMode == 1) {
                    //cmbSalesman,cmbFilterBeat,cmbFilterSalesman,txtFilterCustomer
                    $('#cmbSalesman,#cmbFilterBeat,#cmbFilterSalesman').find("option").remove();
                    $('#cmbSalesman,#cmbFilterBeat,#cmbFilterSalesman').append($('<option/>', {
                        value: 0,
                        text: "-- Select --",
                    }));
                    arrParty = [];
                    $.each(data, function (i, items) {
                        if (items.FType == 3) {
                            var cust = {
                                "label": items.Code + " | " + items.Name,
                                "name": items.Name,
                                "code": items.Code,
                                "id": items.ID,
                            }
                            arrParty.push(cust);
                        }
                        if (items.FType == 1) {
                            $('#cmbSalesman,#cmbFilterSalesman').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        }
                        if (items.FType == 2) {
                            $('#cmbFilterBeat').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        }
                        if (items.FType == 4) {
                            $("#lblDocID").text(items.Name);
                        }
                    });
                    SetAutlistforFields();
                }
                else if (nMode == 2) {
                    var custjsdata = data;
                    if ($.fn.DataTable.isDataTable('#tblMasterData')) {
                        searchValue = $('#tblMasterData').DataTable().search(); // get current search term
                    }
                    $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                        scrollY: "450px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: true,
                        destroy: true,
                        data: custjsdata,
                        fixedColumns: false,
                        searching: true,
                        ordering: false,
                        sorting: false,
                        columns: [
                            { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },//0
                            { "data": "StatusID", "autoWidth": true, "visible": false, className: "dt-body-left" },//0
                            { "data": "DocID", "autoWidth": true, className: "dt-body-left" },//1
                            { "data": "Date", "autoWidth": true, className: "dt-body-left" },//2
                            { "data": "RefNo", "autoWidth": true, className: "dt-body-left" },//3
                            { "data": "Salesman", "autoWidth": true, className: "dt-body-left" },//4
                            { "data": "TotalInvCount", "autoWidth": true, className: "dt-body-center" },//4
                            { "data": "Status", "autoWidth": true, className: "dt-body-left" },//10
                            {
                                className: "dt-body-left",
                                "mRender": function (data, type, value) {
                                    var _action = '<label title="' + value.CDate + '">' + value.CBy + '</label>';
                                    return _action;
                                }
                            },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value) {
                                    var _action = '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                                    return _action;
                                }, "visible": $("#txtViewID").val() == 0 ? false : true
                            },
                            {
                                className: "dt-body-center",
                                orderable: false,
                                render: function () {
                                    return `<button class="btn btn-default btn-xs action-btn">&#8942;</button>`;
                                }
                            }
                            

                 //           {
                 //               className: "dt-body-center",
                 //               orderable: false,
                 //               render: function (data, type, value) {
                 //                   var EditYN = value.Status == 'Amended' || value.Status == 'Cancelled' || value.Status == 'Close' || value.Status == 'Processed' || value.CollInvCount > 0 || value.DetailStatusCount > 0 ? false : true;
                 //                   var CanYN = value.Status == 'Amended' || value.Status == 'Cancelled' || value.Status == 'Close' || value.Status == 'Processed' || value.CollInvCount > 0 || value.DetailStatusCount > 0 ? false : true;
                 //                   var RTNYN = value.Status == 'Amended' || value.Status == 'Cancelled' || value.Status == 'Close' || value.Status == 'Processed' ? false : true;
                 //                   var status = value.Status;
                 //                   var edit = '', cancel = '', view = '', variant = '', Print = '', Preview = '', PDF = '';
                 //                   if ($("#txtViewID").val() == 1) {
                 //                       var Print = '<a class="dropdown-item clsprint" href="javascript:void(0)">🖨 Print</a>';
                 //                       var Preview = '<a class="dropdown-item clspreview" href="javascript:void(0)#">🖨 Preview</a>';
                 //                       var PDF = '<a class="dropdown-item clspdf" href="javascript:void(0)">📕 PDF</a>';
                 //                   }
                 //                   if (status !== 'Amended' && status !== 'Cancelled') {
                 //                       if ($("#txtModifyID").val() != 0 & EditYN)
                 //                           edit = '<a class="dropdown-item clsEdit" href="javascript:void(0)">✏️ Edit</a>';
                 //                       if ($("#txtCancelID").val() != 0 && CanYN)
                 //                           cancel = '<a class="dropdown-item clsCancel" href="javascript:void(0)">❌ Cancel</a>';
                 //                   }

                 //                   if ($("#txtReturnID").val() != 0 && RTNYN)
                 //                       variant = '<a class="dropdown-item clsReturn" href="javascript:void(0)">↩ Return</a>';
                 //                   //<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-share-alt clsReturn" style="font-size:16px" title="Return"></span></a>
                 //                   return `
                 //<div class="dropdown">
                 //    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                 //        &#8942;
                 //    </button>
                 //    <ul class="dropdown-menu  action-dropdown" style="right:0;left:auto;">
                 //        ${edit ? `<li>${edit}</li>` : ''}
                 //        ${cancel ? `<li>${cancel}</li>` : ''}
                 //        ${variant ? `<li>${variant}</li>` : ''}
                 //        ${Print ? `<li>${Print}</li>` : ''}
                 //        ${Preview ? `<li>${Preview}</li>` : ''}
                 //        ${PDF ? `<li>${PDF}</li>` : ''}
                 //    </ul>
                 //</div>`;
                 //               }
                 //           }
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = value.Status == 'Amended' || value.Status == 'Cancelled' || value.Status == 'Close' || value.Status == 'Processed' || value.CollInvCount > 0 || value.DetailStatusCount > 0 ? '' : '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtModifyID").val() == 0 ? false : true
                            //},
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = value.Status == 'Amended' || value.Status == 'Cancelled' || value.Status == 'Close' || value.Status == 'Processed' || value.CollInvCount > 0 || value.DetailStatusCount > 0 ? '' : '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle clsCancel" style="font-size:16px" title="Cancel"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtCancelID").val() == 0 ? false : true
                            //},
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtViewID").val() == 0 ? false : true
                            //},
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = value.Status == 'Amended' || value.Status == 'Cancelled' || value.Status == 'Close' || value.Status == 'Processed' ? '' : '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-share-alt clsReturn" style="font-size:16px" title="Return"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtReturnID").val() == 0 ? false : true
                            //},
                        ],
                        initComplete: function () {
                            // Re-apply search value after table is fully initialized
                            this.api().search(searchValue).draw();
                        }

                    });
                    Table = $('#tblMasterData').DataTable();
                    if (!Table.data().any()) {
                        //if (ClickType == 1)
                            showErrorSnackbar("No records found");
                    }
                }
                else if (nMode == 3) {
                    var isDisable = nTransMode == 3 || nTransMode == 5 ? "disabled" : "";
                    $.each(data, function (i, items) {
                        $("#txtID").val(items.ID),
                            $("#dtpDate").val(items.Date),
                            $("#lblDocID").text(items.DocID),
                            $("#cmbSalesman").val(items.SalesmanID),
                            $("#txtRefNo").val(items.RefNo),
                            $("#txtStatus").val(items.Status);
                    });
                    $('#btnViewInvoices').hide();
                    var custjsdata = JSON.parse(data[0].lstJsonAssignDetails);
                    console.log(custjsdata);
                    $('#tblInvoiceData').DataTable({
                        scrollY: "250px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: false,
                        destroy: true,
                        data: custjsdata,
                        fixedColumns: false,
                        ordering: true,
                        searching: true,
                        sorting: true,
                        columns: [
                            { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value, meta) {
                                    var rowIndex = meta.row;
                                    var checkboxId = 'chkCustomerCheck_' + rowIndex;//value.CustomerID
                                    var _action = value.Status == "1" ? '<input type="checkbox" checked id="' + checkboxId + '"  name="CustomerCheck" ' + isDisable + ' style="" InvoiceID="' + value.ID + '" />' : '';
                                    return _action;
                                },
                            },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value, meta) {
                                    var rowIndex = (meta.row + 1);
                                    var _action = rowIndex;
                                    return _action;
                                },
                            },
                            //{ "data": "DocID", "autoWidth": true, className: "dt-body-left" },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value) {
                                    var _action = '<a href="javascript:void(0)" style="cursor: pointer;" class="clsInvoiceCollection">' + value.DocID + '</a>';
                                    return _action;
                                }
                            },
                            { "data": "Date", "autoWidth": true, className: "dt-body-left" },
                            { "data": "RefNo", "autoWidth": true, className: "dt-body-left" },
                            { "data": "Beat", "autoWidth": true, className: "dt-body-left" },
                            { "data": "Salesman", "autoWidth": true, className: "dt-body-left" },
                            { "data": "Customer", "autoWidth": true, className: "dt-body-left" },
                            { "data": "NetAmt", "autoWidth": true, className: "dt-body-right" },
                            { "data": "Balance", "autoWidth": true, className: "dt-body-right" },
                            { "data": "Ageing", "autoWidth": true, className: "dt-body-right" },
                            { "data": "AssignedInvoiceCount", "autoWidth": true, className: "dt-body-right" }
                        ],
                    });
                    InvoiceTable = $('#tblInvoiceData').DataTable();
                    if (InvoiceTable.rows().count() == 0) {
                        showErrorSnackbar("No records found")
                    }
                }
                else if (nMode == 5) {
                    var isDisable = nTransMode == 3 || nTransMode == 5 ? "disabled" : "";
                    var custjsdata = data;// JSON.parse();
                    $('#tblInvoiceData').DataTable({
                        scrollY: "250px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: false,
                        destroy: true,
                        data: custjsdata,
                        fixedColumns: false,
                        ordering: true,
                        searching: true,
                        sorting: true,
                        columns: [
                            { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value, meta) {
                                    var rowIndex = meta.row;
                                    var checkboxId = 'chkCustomerCheck_' + rowIndex;//value.CustomerID
                                    var _action = '<input type="checkbox" id="' + checkboxId + '"  name="CustomerCheck" ' + isDisable + ' style="" InvoiceID="' + value.ID +'" />';
                                    return _action;
                                },
                            },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value, meta) {
                                    var rowIndex = (meta.row + 1);
                                    var _action = rowIndex;
                                    return _action;
                                },
                            },
                            //{ "data": "DocID", "autoWidth": true, className: "dt-body-left" },
                            {
                                className: "dt-body-left",
                                "mRender": function (data, type, value) {
                                    var _action = '<a href="javascript:void(0)" style="cursor: pointer;" class="clsInvoiceCollection">' + value.DocID + '</a>';
                                    return _action;
                                }
                            },
                            { "data": "Date", "autoWidth": true, className: "dt-body-left" },
                            { "data": "RefNo", "autoWidth": true, className: "dt-body-left" },
                            { "data": "Beat", "autoWidth": true, className: "dt-body-left" },
                            { "data": "Salesman", "autoWidth": true, className: "dt-body-left" },
                            { "data": "Customer", "autoWidth": true, className: "dt-body-left" },
                            { "data": "NetAmt", "autoWidth": true, className: "dt-body-right" },
                            { "data": "Balance", "autoWidth": true, className: "dt-body-right" },
                            { "data": "Ageing", "autoWidth": true, className: "dt-body-right" },
                            { "data": "AssignedInvoiceCount", "autoWidth": true, className: "dt-body-right" },
                        ],
                    });
                    InvoiceTable = $('#tblInvoiceData').DataTable();

                    if (InvoiceTable.rows().count() == 0) {
                        showErrorSnackbar("No records found")
                    }
                }
            }, error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    ////showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    $(document).on("click", ".clsInvoiceCollection", function () {
    //$('#tblInvoiceData tbody').on('click', '.clsInvoiceCollection', function (e) {
        $(".clrdivs").html("");
        rowdata = InvoiceTable.row($(this).parents('tr')).data();
        var ID = rowdata.ID;//[0];
        InvoiceCollectionModalPopup(ID)
    });
    function SetAutlistforFields() {
        $("#txtFilterCustomer").autocomplete({
            minLength: 0, autoFocus: true,
            source: arrParty,
            select: function (event, ui) {
                $("#txtFilterCustomer").val(ui.item.name);
                return false;
            },
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li class='each'>")
                .append("<div class='acItem'><span class='name'>" +
                    item.label + "</span></div>")
                .appendTo(ul);
        };
    }
    $('#btnDocFilter').click(function (e) {
        var IsValid = true;
        $(".clrdivs").html("");
        if ($("#txtFilterCustomer").val() != "") {
            const exists = arrParty.filter(cust => cust.name == $("#txtFilterCustomer").val().trim());
            if (exists.length == 0) {
                IsValid = false;
                $("#divErrFilterCustomer").html("Select Customer Name from list");
                showErrorSnackbar("Select Customer Name from list");
            }
        }
        if ($("#dtpDocTo").val() == "") {
            IsValid = false;
            $("#divErrDocTo").html("As on date should not be empty");
            showErrorSnackbar("As on date should not be empty");
        }
        if (IsValid) {
            //cmbSalesman,cmbFilterBeat,cmbFilterSalesman,txtFilterCustomer
            GetData(5, 0, $("#cmbFilterBeat").val(), $("#cmbFilterSalesman").val(), $("#txtFilterCustomer").val(), null,
                $("#dtpDocTo").val());
        }
    });

    $('#btnFilter').click(function (e) {
        GetFilterData(1);
    });
    var Showall = '@Session["Showallstatus"]';
    $("#chkShowAll").prop("checked", Showall == '1');
    function GetFilterData(ClickType = 0) {//arrVendorName,divErrFTo,divErrFFrom,divErrFParty
        var IsValid = true;
        $(".clrdivs").html("");
        if ($("#dtpFFrom").val() =="") {
            IsValid = false;
            $("#divErrFFrom").html("From date should not be empty");
        }
        if ($("#dtpFTo").val() == "") {
            IsValid = false;
            $("#divErrFTo").html("To date should not be empty");
        }
        if ($("#dtpFFrom").val() > $("#dtpFTo").val()) {
            IsValid = false;
            $("#divErrFFrom").html("From date should be lessthan To Date");
        }
        if (IsValid) {
            GetData(2, 0, 0, 0, "", $("#dtpFFrom").val(),$("#dtpFTo").val(), $("#chkShowAll").is(":checked") ? "1" : "0");
        }
    }

    function getActionsByRole(role, row) {
        let actions = [];
        var RTNYN = row.Status == 'Amended' || row.Status == 'Cancelled' || row.Status == 'Close' || row.Status == 'Processed' ? false : true;
                      
        if (role.canEdit && row.Status !== 'Cancelled' && row.Status !== 'Amended')
            actions.push({ cls: "clsEdit", label: "✏️ Edit" });

        if (role.canCancel && row.Status !== 'Cancelled')
            actions.push({ cls: "clsCancel", label: "❌ Cancel" });

        if (role.canVariant)
            actions.push({ cls: "clsVariant", label: "📄 Variant" });
        if ($("#txtReturnID").val() != 0 && RTNYN)
            actions.push({ cls: "clsReturn", label: "↩️ Return" });
        if (role.canPrint)
            actions.push({ cls: "clsprint", label: "🖨 Print" });

        if (role.canPreview)
            actions.push({ cls: "clspreview", label: "🖨 Preview" });

        if (role.canPDF)
            actions.push({ cls: "clspdf", label: "📕 PDF" });

        return actions;
    }



    //$('#chkSelectAllInvoice').click(function () {
    $(document).on("click", "#chkSelectAllInvoice", function () {
        var IsChk = $('#chkSelectAllInvoice').is(':checked');
        //alert(IsChk);
        $('#tblInvoiceData tr td input').each(function (i, items) {
            items.checked = IsChk;
        });
    });
    $(document).on("click", "#btnAddInvoices", function () {
        var chkanyone = false, IsValid = true, AlreadyExists = false;
        if (InvoiceTable.rows().count() > 0) {
            var anyChecked = $('#tblInvoiceData tbody input[type=checkbox]:checked').length > 0;
            if (!anyChecked) {
                showErrorSnackbar("Check anyone Invoice");
                IsValid = false;
            }
            if (IsValid) {
                //addSelectCustomersinArray();
                var checkeditems = $('#tblInvoiceData tbody input[type=checkbox]:checked');
                checkeditems.each(function () {
                    var row = $(this).closest('tr'); // Find the parent row
                    var rowData = $('#tblInvoiceData').DataTable().row(row).data(); // Get full row data
                    CheckedInvoices.push(rowData);
                });
                const uniqueByID = Object.values(
                    CheckedInvoices.reduce((acc, item) => {
                        if (!acc[item.ID]) {
                            acc[item.ID] = item; // only take first occurrence
                        }
                        return acc;
                    }, {})
                );
                CheckedInvoices = uniqueByID
                //console.log(uniqueByID);
                //CheckedInvoices.push(grouped);
                $('#tblInvoiceData').empty();
                $('#btnViewInvoices').show();
            }
        }
        else {
            showErrorSnackbar("No data found");
        }
    });

    $(document).on("click", "#btnViewInvoices", function () {
        modal.style.display = "block";
        var custjsdata = CheckedInvoices;
        $('#tblInvoiceDataView').DataTable({
            scrollY: "250px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            destroy: true,
            data: custjsdata,
            fixedColumns: false,
            ordering: true,
            searching: true,
            sorting: true,
            columns: [
                { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },
                {
                    className: "dt-body-center",
                    "mRender": function (data, type, value, meta) {
                        var rowIndex = meta.row;
                        var checkboxId = 'chkCustomerCheck_' + rowIndex;//value.CustomerID
                        var _action = '<input type="checkbox" checked checked id="' + checkboxId + '"  name="CustomerCheck" style="" InvoiceID="' + value.ID + '" />';
                        return _action;
                    },
                },
                {
                    className: "dt-body-center",
                    "mRender": function (data, type, value, meta) {
                        var rowIndex = (meta.row + 1);
                        var _action = rowIndex;
                        return _action;
                    },
                },
                { "data": "DocID", "autoWidth": true, className: "dt-body-left" },
                { "data": "Date", "autoWidth": true, className: "dt-body-left" },
                { "data": "RefNo", "autoWidth": true, className: "dt-body-left" },
                { "data": "Beat", "autoWidth": true, className: "dt-body-left" },
                { "data": "Salesman", "autoWidth": true, className: "dt-body-left" },
                { "data": "Customer", "autoWidth": true, className: "dt-body-left" },
                { "data": "NetAmt", "autoWidth": true, className: "dt-body-right" },
                { "data": "Balance", "autoWidth": true, className: "dt-body-right" },
                { "data": "Ageing", "autoWidth": true, className: "dt-body-right" },
                { "data": "AssignedInvoiceCount", "autoWidth": true, className: "dt-body-right" },
            ],
        });
        InvoiceDataView = $('#tblInvoiceDataView').DataTable();
        $('#chkSelectAllInvoiceView').prop("checked", true);
    });
    $(document).on("click", "#btnBatchAccept", function () {
        CheckedInvoices = [];
        var chkanyone = false, IsValid = true, AlreadyExists = false;
        if (InvoiceDataView.rows().count() > 0) {
            var anyChecked = $('#tblInvoiceDataView tbody input[type=checkbox]:checked').length > 0;
            if (!anyChecked) {
                showErrorSnackbar("Check anyone Invoice");
                IsValid = false;
            }
            if (IsValid) {
                //addSelectCustomersinArray();
                var checkeditems = $('#tblInvoiceDataView tbody input[type=checkbox]:checked');
                checkeditems.each(function () {
                    var row = $(this).closest('tr'); // Find the parent row
                    var rowData = $('#tblInvoiceDataView').DataTable().row(row).data(); // Get full row data
                    CheckedInvoices.push(rowData);
                });
                $('#tblInvoiceDataView').empty();
                $('#btnViewInvoices').show();
                modal.style.display = "none";
            }
        }
        else {
            showErrorSnackbar("No data found");
        }
    });
    $('#tblMasterData tbody').on('click', '.clsView', function (e) {
        $(".clrdivs").html("");
        rowdata = Table.row($(this).parents('tr')).data();
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        nTransMode = 5;
        $("#txtID").val(ID);
        GetData(3, ID);
        $(".FormclrField,.FormclrcmbField").prop("disabled", true);
        $("#btnSave,#btnClear,#btnDocFilter,#btnViewInvoices, #btnAddInvoices,#chkSelectAllInvoice").prop("disabled", true);
        //$("#btnClose").prop("disabled", false);
        $("#btnSave,#btnClear,#btnDraft").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint").prop("disabled", false);
        $("#btnPreview,#btnPDF,#btnPrint").show();
        $("#btnSave,#btnClear,#btnDraft").hide();
        $("#dvMain").show();
        $("#dvDocuments").hide();
        $("#MainHeading").text("View Assign Invoices");
    });
    $(document).on('click', '.clsEdit', function (e) {
        $(".clrdivs").html("");
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[9];
        if (sts != "Cancelled") {
        $("#txtID").val(ID);
            nTransMode = 2;
            //showErrorSnackbar("Bill Table : " + rdo1 + ", Draft : " + rdo2);
            GetData(3, ID);
            $(".FormclrField,.FormclrcmbField").prop("disabled", false);
            $("#btnSave,#btnClose,#btnDocFilter,#btnViewInvoices, #btnAddInvoices,#chkSelectAllInvoice").prop("disabled", false);
            //$("#btnClear").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnClear,#btnPrint").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnPrint,#btnClear,#btnDraft").hide();
            $("#btnSave").show();
            $("#btnSave,#btnClose").prop("disabled", false);
            $("#dvMain").show();
            $("#dvDocuments").hide();
            $("#MainHeading").text("Modify Assign Invoices");
        }
        else {
            showErrorSnackbar("Cannot Modify.This document already cancelled");
        }
    });
    $(document).on('click', '.clsCancel', function (e) {
        var rdo1 = $("#rdoMainTableData").is(":checked");
        $(".clrdivs").html("");
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status[9];
        if (sts != "Cancelled") {
            $("#txtID").val(ID);
            $("#MainHeading").text("Cancel Assign Invoices")
            nTransMode = 4;
            GetData(3, ID);
            $(".FormclrField,.FormclrcmbField").prop("disabled", true);
            $("#btnSave,#btnClose").prop("disabled", false);
            $("#btnClear,#btnDocFilter,#btnViewInvoices, #btnAddInvoices,#chkSelectAllInvoice").prop("disabled", true);
            $("#dvMain").show();
            $("#dvDocuments").hide();
        }
        else {
            showErrorSnackbar("This document already cancelled");
        }
        //$(".FormclrField,.FormclrcmbField").prop("disabled", true);
        //$("input[type=checkbox],#btnSave,#btnClear,#btnDraft").prop("disabled", true);
        //showErrorSnackbar("Cancel functionality still developing");
    });
        $(document).on('click', '.clsReturn', function (e) {
        $(".clrdivs").html("");
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status[9];
        if (sts != "Cancelled") {
            $("#txtID").val(ID);
            $("#MainHeading").text("Return Assign Invoices")
            nTransMode = 6;
            GetData(3, ID);
            $(".FormclrField,.FormclrcmbField").prop("disabled", true);
            //$("#btnSave,#btnClose").prop("disabled", false);
            //$("#btnClear,#btnDocFilter").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnClear,#btnDraft,#btnPrint").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnPrint,#btnClear,#btnDraft").hide();
            $("#btnSave").show();
            //,#btnViewInvoices, #btnAddInvoices,#chkSelectAllInvoice
            $("#dvMain").show();
            $("#dvDocuments").hide();
        }
        else {
            showErrorSnackbar("This document already cancelled");
        }
        //$(".FormclrField,.FormclrcmbField").prop("disabled", true);
        //$("input[type=checkbox],#btnSave,#btnClear,#btnDraft").prop("disabled", true);
        //showErrorSnackbar("Cancel functionality still developing");
    });

    $(document).on('click', '.clspreview', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPreview").click();
    });
    $(document).on('click', '.clspdf', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPDF").click();
    });
    $(document).on('click', '.clsprint', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPrint").click();
    });
    $("#btnClear").click(function () {
        //ClearForm();
        if (cfFocus != 3) { ClearConfirmDialogMsg("Do you want to clear?"); } else { ClearForm(); }
    });
    function ClearForm() {
        $(".FormclrField").val("");
        $(".FormclrcmbField").val(0);
        $(".clrdivs").html("");
        $(".FormclrField,.FormclrcmbField,#btnSave,#btnClear,#btnClose,#btnDocFilter,#btnViewInvoices, #btnAddInvoices,#chkSelectAllInvoice").prop("disabled", false);
        GetData(1);
        setDate("dtpDate", 0);
        setDate("dtpDocTo", 0);
        SetFilterDate();
        nIsDraft = 0;
        if (nTransMode != 1) {
            $("#dvMain").hide();
            $("#dvDocuments").show();
        }
        CheckedInvoices = [];
        InvoiceTable = $('#tblInvoiceData').DataTable();
        $('#chkSelectAllInvoice').prop("checked", false);
        $('#chkSelectAllInvoice').prop("disabled", false);
        $('#tblInvoiceData').empty();
        $('#btnViewInvoices').hide();
        $("#btnPreview,#btnPDF,#btnPrint").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint").hide();
        $("#btnSave,#btnClear,#btnDraft").show();
        $("#MainHeading").text("Assign Invoices");
        $("#btnSave").prop("disabled", false);
    }
    var CheckedInvoices = [];
    function SaveValidation() {
        //CheckedInvoices = [];
        var IsValid = true;
        $(".clrdivs").html("");
        if ($("#cmbSalesman").val() == 0) {
            IsValid = false;
            $("#divErrSalesman").html("Select Salesman");
            showErrorSnackbar("Select Salesman");
        }
        if ($("#dtpDate").val() == "") {
            IsValid = false;
            $("#divErrDate").html("Party should not be empty");
            showErrorSnackbar("Party should not be empty");
        }
        //if (CheckedInvoices.length == 0) {
        //    IsValid = false;
        //    $("#divErrProduct").html("Select atleat one Invoice");
        //    showErrorSnackbar("Select atleat one Invoice");
        //}
        if (IsValid) {
            if (InvoiceTable.rows().count() > 0) {
                //var anyChecked = $('#tblInvoiceData tbody input[type=checkbox]:checked').length > 0;
                //if (!anyChecked) {
                //    showErrorSnackbar("Check atleast anyone Invoice");
                //    IsValid = false;
                //}
                if (IsValid) {
                    //addSelectCustomersinArray();
                    var checkeditems = $('#tblInvoiceData tbody input[type=checkbox]:checked');
                    checkeditems.each(function () {
                        var row = $(this).closest('tr'); // Find the parent row
                        var rowData = $('#tblInvoiceData').DataTable().row(row).data(); // Get full row data
                        CheckedInvoices.push(rowData);
                    });
                    const uniqueByID = Object.values(
                        CheckedInvoices.reduce((acc, item) => {
                            if (!acc[item.ID]) {
                                acc[item.ID] = item; // only take first occurrence
                            }
                            return acc;
                        }, {})
                    );
                    CheckedInvoices = uniqueByID
                    $('#tblInvoiceData').empty();
                    $('#btnViewInvoices').show();
                }
            }
            else {
                IsValid = false;
                showErrorSnackbar("No data found");
            }
        }
        //else {
        //    var anyChecked = $('#tblInvoiceData tbody input[type=checkbox]:checked').length > 0;
        //    if (anyChecked) {
        //        //showSuccessSnackbar("At least one row is checked");
        //        var checkeditems = $('#tblInvoiceData tbody input[type=checkbox]:checked');
        //        if (checkeditems.length > 0) {
        //            var ids = "";
        //            for (var i = 0; i < checkeditems.length; i++) {
        //                //InvoiceID
        //                ids = $(checkeditems[i]).attr("InvoiceID");
        //                var selid = {
        //                    "ID": ids
        //                }
        //                CheckedInvoices.push(selid);
        //            }
        //        }
        //    } else {
        //        IsValid = false;
        //        showErrorSnackbar("Select atleat one Invoice in Grid");
        //    }
        //}
        return IsValid;
    }
    function SaveData() {
        if (SaveValidation()) {
            $("#btnSave").prop("disabled", true);
            //showErrorSnackbar("Validation success");
            var listTrans = {
                "ID": $("#txtID").val(),
                "Date": $("#dtpDate").val(),
                "TransMode": nTransMode,
                "TransID": 21,
                "DocID": $("#lblDocID").val(),
                "SalesmanID": $("#cmbSalesman").val(),
                "RefNo": $("#txtRefNo").val(),
                "Status": nTransMode == 1 || nTransMode == 3 ? 1 : nTransMode == 2 ? 3 : $("#txtStatus").val(),
                "CurrentStatus": $("#txtStatus").val(),
                "CBy": UID,
                "UDFId" : 0,
                "lstAssignDetails": CheckedInvoices,
            }
            $.ajax({
                url: Aurl + "assigninvoices/save",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(listTrans),
                cache: false,
                processData: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    $("#btnSave").prop("disabled", false);
                    $.each(data, function (i, items) {
                        if (items.MsgID == 0) {
                            showSuccessSnackbar(items.Message);
                            //ClearForm();
                            if (nTransMode != 4) {
                                if (allowprint == 1) {
                                    PrintDocument(items.ID, PrintTransID, PrintConfigID);
                                } else if (allowprint == 3 || allowprint == 4) {
                                    PrintConfirmDialogMsg(items.ID, PrintTransID, PrintConfigID, "Do you want to print ?");
                                }
                            }
                            ClearForm();
                            GetFilterData();
                        }
                        else {
                            //$("#dvErrorName").html(items.Message);
                            showErrorSnackbar(items.Message);
                        }
                    });
                }, error: function (data) {
                    $("#btnSave").prop("disabled", false);
                    if (data.status == "401") {
                        var msg = data.responseJSON.Message;
                        ////showErrorSnackbar(msg + " Logout and Login again.");
                    }
                }
            });
        }
    }
    $("#btnSave").click(function () {
        //SaveData()
        if (cfFocus != 3) {
            ConfirmDialogMsg("Do you want to save data?");
        } else {
            SaveData();
        }
    });
</script>