@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];
    if (ViewData["isDepend"].ToString() == "1")
    {
        Layout = null;
        //"~/Views/Shared/_LayoutWithoutheader.cshtml"

    }
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/Content/jquery-ui.css">*@
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
@*<script src="~/Scripts/Validation.js"></script>*@
<script src="~/Scripts/dataTables.2.2.2.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>

<style>
   /* each {
        border-bottom: 1px solid #555;
        padding: 3px 0;
    }

    .acItem .name {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .acItem .desc {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #555;
    }

    .ui-autocomplete {
        max-height: 245px;
        overflow-y: auto;
        overflow-x: hidden;
    }*/

    td {
        font-size: 11px;
    }

    input[type=number] {
        text-align: right;
    }

        input[type=number]::placeholder {
            text-align: left;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* The Modal (background) */
    .modalBatch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 35%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 5%;
            overflow: auto;
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 95%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            overflow: auto;
        }
    }
    /* The Close Button */
    .closefg {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closefg:hover,
        .closefg:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -40%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 0.90em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }
</style>
<body>

    @Html.HiddenFor(model => model.Add, new { @autocomplete = "off", @class = "form-control", @id = "txtAddID" })
    @Html.HiddenFor(model => model.Modify, new { @autocomplete = "off", @class = "form-control", @id = "txtModifyID" })
    @Html.HiddenFor(model => model.View, new { @autocomplete = "off", @class = "form-control", @id = "txtViewID" })
    @Html.HiddenFor(model => model.FormName, new { @autocomplete = "off", @class = "form-control", @id = "txtFormName" })
    @Html.HiddenFor(model => model.ID, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtID" })
    @Html.HiddenFor(model => model.ChildURL1, new { @autocomplete = "off", @class = "form-control", @id = "txtChildSMGrpURL" })
    <h4 id="MainHeading">@ViewData["FormName"]</h4>
    <label id="lblIsDepend" hidden>@ViewData["isDepend"]</label>
    <label id="lblParentMenuID" hidden>@ViewData["ParentMenuID"]</label>
    <label id="lblParentFormFieldID" hidden>@ViewData["ParentFormFieldID"]</label>
    <hr />
    <div class="toastBox"></div>
    <div style="padding-bottom:10px;">
        <button id="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
    </div>
    <div id="dvMainTable">
        <table class="table table-bordered" id="tblMasterData" width="100%">
            <thead>
                @*<tr id="trAdd">
                        <th></th>
                        <th align="right" colspan="10">
                            <button id="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
                        </th>
                    </tr>*@
                <tr class="trclrforcolheader">
                    <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                    <th style="text-align:center;font-size: 12px;width:0%;">BankID</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">A/c No</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">A/c Name</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Bank</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">Branch</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">IFSC</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">MICR</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Set Default</th>
                    <th style="text-align:center;font-size: 12px;width:5%;">Active</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">User</th>
                    <th style="text-align:center;font-size: 12px;width:5%;" title="Edit"><span class="glyphicon glyphicon-pencil"></span></th>
                    <th style="text-align:center;font-size: 12px;width:5%;" title="View"><span class="glyphicon glyphicon-eye-open"></span></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modalBatch" id="myModalfg">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalBatch-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="closefg">&times;</button>
                    <h5 class="modal-title" style="color:white;font-weight:800" id="lblPopupheading"><b>Add @ViewData["FormName"]</b></h5>
                    @*<hr />*@
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div style="padding-top:2px" align="center">
                        <div id="dvAssign" style="width:80%;padding-bottom:2px">
                            <table class="table" style="width:100%">
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input tabindex="1" type="text" id="txtAccNo" class="form-control FormclrField alphanumeric-only" placeholder="" />
                                            <label class="labelup">Bank Account No *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorAccNo" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input tabindex="2" type="text" id="txtAccName" class="form-control FormclrField" placeholder="" />
                                            <label class="labelup">Account Name *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorAccName" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <select tabindex="3" id="cmbBank" class="form-control"></select>
                                            <label class="labelup">Bank Name *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorBank" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input tabindex="4" type="text" id="txtBranch" class="form-control FormclrField alphanumeric-only" placeholder="" />
                                            <label class="labelup">Branch Name</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorBranch" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" width="50%">
                                        <span class="form-label">
                                            <input tabindex="5" type="text" id="txtIFSC" class="form-control FormclrField alphanumeric-only" placeholder="" maxlength="11" style="text-transform:uppercase" />
                                            <label class="labelup">IFSC Code</label>
                                        </span>

                                        <div class="clrdiv" id="dvErrorIFSC" style="color:red"></div>
                                    </td>
                                    <td style="border:none;padding-left:12px;padding-right:7px" width="50%">
                                        <span class="form-label">
                                            <input tabindex="6" type="number" id="txtMICR" class="form-control FormclrField" placeholder="" maxlength="9"
                                                   oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); }" />
                                            <label class="labelup">MICR No</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorMICR" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" style="border:none">
                                        <input tabindex="7" type="checkbox" id="chkDefault" />
                                        <label for="chkDefault">Set default :</label>
                                        <div class="clrdiv" id="dvErrorDefault" style="color:red"></div>

                                    </td>
                                    <td style="border:none">
                                        <input tabindex="8" type="checkbox" id="chkActive" checked disabled />
                                        <label for="chkActive">Active :</label>
                                        <div class="clrdiv" id="dvErrorActive" style="color:red"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer" style="background-color:skyblue">
                    <div style="padding-top:0px" align="right">
                        <button tabindex="10" type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
                        <button tabindex="9" type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
                        <button tabindex="11" type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript">
    var Table = $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        "bFilter": true,
        "bSearchable": true,
        "bInfo": true,
        "bPaginate": true,
        "ordering": true,
        scrollY: "400px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0, 1], "visible": false, searchable: false }, { "targets": [8, 9, 10, 11], "class": "text-center" }],
    });   
    //$('#txtAccNo,#txtIFSC').on('input', function () {
    //    let sanitized = $(this).val().replace(/[^a-zA-Z0-9]/g, '');
    //    $(this).val(sanitized);
    //});
    document.addEventListener("DOMContentLoaded", function () {
        allowAlphanumericOnly('.alphanumeric-only');
    });
    var Aurl = '@Session["APIurl"]';
    if ($("#txtAddID").val() == 0) {
        $("#trAdd").hide();
        $("#btnAdd").hide();
    }
    if ($("#txtModifyID").val() == 0) {
        //Table.column(10).visible(false);
    }
    if ($("#txtViewID").val() == 0) {
        //Table.column(11).visible(false);
    }

    if ($("#txtModifyID").val() == 0 && $("#txtViewID").val() == 0 && $("#txtAddID").val() == 1) {
        $("#dvMainTable").hide();
    }
    var UID = '@Session["LoginUserID"]';
    var nMode = 1;
    var FID = $("#txtFormID").val();
    GetData(3);
    GetData(5);
    var arrData = [];

    function GetData(nMode) {
        $.ajax({
            url: Aurl + "bankaccount/get",
            type: 'get',
            contentType: 'json',
            data: { FormID: FID, Mode: nMode, Name: "" },
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                if (data.length > 0) {
                    if (nMode == 3) {
                        arrData = [];
                        //Table.draw().clear();
                        $.each(data, function (i, items) {
                            //arrData[i] = items.AccountNo
                            var al = {
                                "label": items.AccountNo,
                                "id": items.ID,
                            }
                            arrData.push(al);
                            //Table.row.add([
                            //    items.ID,
                            //    items.BankID,
                            //    items.AccountNo,
                            //    items.AccountName,
                            //    items.BankName,
                            //    items.BranchName,
                            //    items.IFSCCode,
                            //    items.MICR,
                            //    items.SetDefault == "True" ? "Yes" : "No",
                            //    items.Active == "True" ? "Yes" : "No",
                            //    '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>',
                            //    '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>'
                            //]).draw(false);
                        });
                        var searchValue = '';
                        if ($.fn.DataTable.isDataTable('#tblMasterData')) {
                            searchValue = $('#tblMasterData').DataTable().search(); // get current search term
                        }
                        $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                            scrollY: "450px",
                            scrollX: true,
                            scrollCollapse: true,
                            paging: true,
                            destroy: true,
                            data: data,
                            fixedColumns: false,
                            searching: true,
                            ordering: true,
                            sorting: false,
                            columns: [
                                { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },
                                { "data": "BankID", "autoWidth": true, "visible": false, className: "dt-body-left" },
                                { "data": "AccountNo", "autoWidth": true, className: "dt-body-left" },
                                { "data": "AccountName", "autoWidth": true, className: "dt-body-left" },
                                { "data": "BankName", "autoWidth": true, className: "dt-body-left" },
                                { "data": "BranchName", "autoWidth": true, className: "dt-body-left" },
                                { "data": "IFSCCode", "autoWidth": true, className: "dt-body-left" },
                                { "data": "MICR", "autoWidth": true, className: "dt-body-left" },
                                {
                                    className: "dt-body-center",
                                    "mRender": function (data, type, value) {
                                        var _action = value.SetDefault == "True" ? "Yes" : "No";// '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                                        return _action;
                                    }
                                },
                                {
                                    className: "dt-body-center",
                                    "mRender": function (data, type, value) {
                                        var _action = value.Active == "True" ? "Yes" : "No";// '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                                        return _action;
                                    }
                                },
                                {
                                    className: "dt-body-center",
                                    "mRender": function (data, type, value) {
                                        var _action = '<label title="' + value.CDate + '">' + value.CBy + '</label>';
                                        return _action;
                                    }
                                },
                                {
                                    className: "dt-body-center",
                                    "mRender": function (data, type, value) {
                                        var _action = '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                                        return _action;
                                    }, "visible": $("#txtModifyID").val() == 0 ? false : true
                                },
                                {
                                    className: "dt-body-center",
                                    "mRender": function (data, type, value) {
                                        var _action = '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                                        return _action;
                                    }, "visible": $("#txtViewID").val() == 0 ? false : true
                                },
                            ],
                            initComplete: function () {
                                // Re-apply search value after table is fully initialized
                                this.api().search(searchValue).draw();
                            }
                        });
                        Table = $('#tblMasterData').DataTable();
                        $("#txtAccNo").autocomplete({
                            minLength: 0,
                            source: arrData,
                            //autoFocus: true,
                            //focus: function (event, ui) {
                            //    $("#txtName").val(ui.item.label);
                            //    return false;
                            //},
                            select: function (event, ui) {
                                $("#txtAccNo").val(ui.item.label);
                                //$("#txtRemarks").val(ui.item.id);
                                return false;
                            },
                        }).autocomplete("instance")._renderItem = function (ul, item) {
                            return $("<li class='each'>")
                                .append("<div class='acItem'><span class='name'>" +
                                    item.label + "</span></div>")
                                .appendTo(ul);
                        };                        
                    }
                    else {
                        $('#cmbBank').find("option").remove();
                        $('#cmbBank').append($('<option/>', {
                            value: 0,
                            text: "-- Select Bank --",
                            class: ""
                        }));
                        $.each(data, function (i, items) {
                            $('#cmbBank').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        });
                    }
                }
                else {
                    showErrorSnackbar("No Records Found");
                }
            }, error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    ////showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    var modal = document.getElementById("myModalfg");
    var span = document.getElementsByClassName("closefg")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }
    $('#btnClose').click(function (e) {
        if (ClosecfFocus != 3) { CloseConfirmDialogMsg("Do you want to close?"); } else { CloseForm(); }
    });
    function CloseForm() {
        modal.style.display = "none";
    }
    $("#btnAdd").click(function () {
        nMode = 1;
        $("#chkActive,#btnSave,#btnClear,.FormclrField,#cmbBank,#chkDefault").prop("disabled", false);
        $(".modal-title#lblPopupheading").text("Add " + $("#MainHeading").text());
        modal.style.display = "block";
        ClearForm();
    });
    $('#btnClear').click(function (e) {
        if (cfFocus != 3) { ClearConfirmDialogMsg("Do you want to clear?"); } else { ClearForm(); }
    });
    function ClearForm() {
        $(".FormclrField").val("");
        $("#cmbBank").val(0)
        $("#chkDefault").prop("checked", false);
        $("#chkActive").prop("checked", true);
        $("#chkActive").prop("disabled", nMode != 2);
        $(".clrdiv").html("");
        $("#txtAccNo").focus();
        if (nMode != 1)
            modal.style.display = "none";
    }

    $("#btnSave").click(function () {
        //showErrorSnackbar($("#txtIFSC").val().toUpperCase());
        $(".clrdiv").html("");
        var IsValid = true, ChkFormation = true;
        if ($("#txtAccNo").val() == "") {
            IsValid = false;
            $("#dvErrorAccNo").html("Account No should not be empty");
            showErrorSnackbar("Account No should not be empty");
        } else {
            ChkFormation = Alphaonly($("#txtAccNo").val(), $("#dvErrorAccNo"));
            if (!ChkFormation) {
                IsValid = false;
            }
        }
        if ($("#txtAccName").val() == "") {
            IsValid = false;
            $("#dvErrorAccName").html("Account Name should not be empty");
            showErrorSnackbar("Account Name should not be empty");
        }
        if ($("#cmbBank").val() == 0) {
            IsValid = false;
            $("#dvErrorBank").html("Select Bank Name");
            showErrorSnackbar("Select Bank Name");
        }


        ChkFormation = IFSCValidation($("#txtIFSC"), $("#dvErrorIFSC"));
        if (!ChkFormation) {
            IsValid = false;
        }
        ChkFormation = MICRValidation($("#txtMICR"), $("#dvErrorMICR"));
        if (!ChkFormation) {
            IsValid = false;
        }
        if (IsValid) {
            if (cfFocus != 3) { ConfirmDialogMsg("Do you want to save data?"); } else { SaveData(); }
        }
    });
    function SaveData() {
        $("#btnSave").prop("disabled", true);
        $(".clrdiv").html("");
        var lstMaster = {
            "Mode": nMode,
            "ID": $("#txtID").val(),
            "AccountNo": $.trim($("#txtAccNo").val()),
            "AccountName": $.trim($("#txtAccName").val()),
            "BankID": $("#cmbBank").val(),
            "BranchName": $("#txtBranch").val(),
            "IFSCCode": $("#txtIFSC").val().toUpperCase(),
            "MICR": $("#txtMICR").val(),
            "SetDefault": $("#chkDefault").is(":checked") ? 1 : 0,
            "Active": $("#chkActive").is(":checked") ? 1 : 0,
            "UserID": UID
        };
            $.ajax({
                url: Aurl + "bankaccount/save",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(lstMaster),
                cache: false,
                processData: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    $("#btnSave").prop("disabled", false);
                    $.each(data, function (i, items) {
                        if (items.MsgID == 0) {
                            showSuccessSnackbar(items.Message);
                            ClearForm();
                            GetData(3);
                            modal.style.display = "none";
                            if ($("#lblIsDepend").text() == "1") {
                                var Par = $("#lblParentMenuID").text();
                                var fid = $("#lblParentFormFieldID").text();
                                parent.$("#myModalfgiframe").hide();
                                if (Par == "90")//from checkbook for bank acc
                                {
                                    parent.GetData(7);
                                    setTimeout(() => {
                                        parent.$("#" + fid).val(items.ID);
                                        parent.$("#" + fid).focus();
                                    }, 500)
                                }
                                //document.getElementById("myModalfgiframe").style.display = "none";
                            }
                        }
                        else {
                            $("#dvErrorAccNo").html(items.Message);
                            showErrorSnackbar(items.Message);
                        }
                    });
                }, error: function (data) {
                    $("#btnSave").prop("disabled", false);
                    if (data.status == "401") {
                        var msg = data.responseJSON.Message;
                        ////showErrorSnackbar(msg + " Logout and Login again.");
                    }
                }
            });
    }
    $('#tblMasterData tbody').on('click', '.clsView', function () {
        nMode = 3;
        $(".clrdiv").html("");
        rowdata = Table.row($(this).parents('tr')).data();       
        var ID = rowdata.ID;//[0];
        var BankID = rowdata.BankID;//[1];
        var AccNo = rowdata.AccountNo;//[2];
        var AccName = rowdata.AccountName;//[3];
        var Branch = rowdata.BranchName;//[5];
        var IFSC = rowdata.IFSCCode;//[6];
        var MICR = rowdata.MICR;//[7];
        var SetDefault = rowdata.SetDefault;//[8];
        var Active = rowdata.Active;//[9];
        $(".modal-title#lblPopupheading").text("View " + $("#MainHeading").text());
        $("#txtID").val(ID);
        $("#txtAccNo").val(AccNo);
        $("#txtAccName").val(AccName);
        $("#cmbBank").val(BankID);
        $("#txtBranch").val(Branch);
        $("#txtIFSC").val(IFSC);
        $("#txtMICR").val(MICR);
        $("#chkActive").prop("checked", Active == "True");
        $("#chkDefault").prop("checked", SetDefault == "True");
        $(".FormclrField").prop("disabled", true);
        $("#chkActive,#btnSave,#btnClear,#cmbBank,#chkDefault").prop("disabled", true);
        modal.style.display = "block";

    });

    $('#tblMasterData tbody').on('click', '.clsEdit', function () {
        nMode = 2;
        $(".clrdiv").html("");
        rowdata = Table.row($(this).parents('tr')).data();
        var ID = rowdata.ID;//[0];
        var BankID = rowdata.BankID;//[1];
        var AccNo = rowdata.AccountNo;//[2];
        var AccName = rowdata.AccountName;//[3];
        var Branch = rowdata.BranchName;//[5];
        var IFSC = rowdata.IFSCCode;//[6];
        var MICR = rowdata.MICR;//[7];
        var SetDefault = rowdata.SetDefault;//[8];
        var Active = rowdata.Active;//[9];
        $(".modal-title#lblPopupheading").text("Edit " + $("#MainHeading").text());
        $("#txtID").val(ID);
        $("#txtAccNo").val(AccNo);
        $("#txtAccName").val(AccName);
        $("#cmbBank").val(BankID);
        $("#txtBranch").val(Branch);
        $("#txtIFSC").val(IFSC);
        $("#txtMICR").val(MICR);
        $("#chkActive").prop("checked", Active == "True");
        $("#chkDefault").prop("checked", SetDefault == "True");
        $(".FormclrField").prop("disabled", false);
        $("#chkActive,#btnSave,#cmbBank,#chkDefault").prop("disabled", false);
        $("#btnClear").prop("disabled", true);
        modal.style.display = "block";

    });   
    window.addEventListener('keydown', function (event) {
        // Check if the F8 key is pressed (key code 119)
        if (event.keyCode === 119) {
            var url = $("#txtChildSMGrpURL").val();
            if (url != "") {
                var id = event.target.id;
                if (id == "cmbBank") {
                    $("#lbliframeheading").text("Bank");
                    document.getElementById("ifrSMG").src = url + "&ParFFID=cmbBank";
                    // Prevent default action if any (e.g., browser F8 behavior)
                    event.preventDefault();
                    // Open the modal when F8 is pressed
                    modaliframe.style.display = "block";
                }
            }
            else {
                showErrorSnackbar("Dependancy info not found");
            }
        }
    });
</script>