<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title> @ViewBag.Title</title>
    <link rel="SHORTCUT ICON" href="~/images/G_large_Transparent.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Snackbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/Validation.js"></script>
    @*<link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/navbar.css" rel="stylesheet" />*@
    <style>
        .loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }

        .loader {
            margin: 60px auto;
            font-size: 10px;
            position: center;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(255, 255, 255, 0.2);
            border-right: 1.1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
            border-left: 1.1em solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 2.1s infinite linear;
        }

        @@-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        #loadingDiv {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 150%;
            opacity: 90%;
            background-color: #C7E1BA;
        }

        .LoaderMsg {
            font-size: 20px;
            text-align: center;
        }

        .dropdown-menu li {
            position: relative;
            color: white;
            padding-bottom: 5px;
        }

        .dropdown-menu .dropdown-submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -10px;
            width: 200px;
            padding-top: 10px;
            padding-bottom: 5px;
            color: darkblue;
        }

        .dropdown-menu .dropdown-submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu > li:hover > .dropdown-submenu {
            display: block;
            background-color: white;
            border-radius: 5px;
        }
        /* Fixed sidenav, full height */
        .sidenav {
            height: 100%;
            width: 15%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            padding-top: 50px;
            color: white;
        }

            /* Style the sidenav links and the dropdown button */
            .sidenav li, .dropdown-btn {
                padding: 1px 1px 6px 16px;
                text-decoration: none;
                font-size: 14px;
                color: white;
                display: block;
                border: none;
                background: none;
                width: 100%;
                text-align: left;
                cursor: pointer;
                outline: none;
                font-weight: bold;
                font-family: 'Times New Roman';
                z-index: 1000;
            }

                /* On mouse-over */
                .sidenav a:hover, .dropdown-btn:hover {
                    color: #f1f1f1;
                }

        /* Main content */
        .main {
            top: 0px;
            margin-left: 15%; /* Same as the width of the sidenav */
            padding: 0px 1px;
        }

        /* Add an active class to the active dropdown button */
        .active {
            /*background-color: brown;*/
            color: white;
        }

        /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
        .dropdown-container {
            display: none;
            background-color: #262626;
            padding-left: 5px;
            color: white;
        }

        /* Optional: Style the caret down icon */
        .mendwn {
            float: right;
            padding-right: 8px;
            position: fixed;
        }

        /* Some media queries for responsiveness */
        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 10px;
            }

                .sidenav li {
                    font-size: 12px;
                }
        }

        linkforecolor {
            color: white;
        }

        .dvsearchmnu:hover {
            background-color: antiquewhite
        }

        .list-container {
            margin-top: 10px;
            overflow: auto;
        }

        .list-item {
            padding: 8px;
            border: 1px solid #ddd;
            margin: 5px 0;
            cursor: pointer;
        }

        .highlight1 {
            background-color: yellow;
        }

        .selected {
            background-color: lightblue;
        }

        .modalQuickSearch {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        @@media only screen and (min-width: 600px) {
            .modalQuickSearch-content {
                background-color: #ffffff;
                margin: 3% auto; /* 15% from the top and centered */
                padding: 1px;
                border: 1px solid #888;
                width: 70%; /* Could be more or less, depending on screen size */
                height: auto;
                min-height: 200px;
                max-height: 500px;
                top: 1%;
                overflow: auto;
            }
        }

        @@media only screen and (max-width: 600px) {
            .modalQuickSearch-content {
                background-color: #ffffff;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 25px;
                border: 1px solid #888;
                width: 95%; /* Could be more or less, depending on screen size */
                height: 80%;
                top: 20%;
                overflow: auto;
            }
        }
        /* The Close Button */
        .closemodalQuickSearch {
            color: #aaa;
            float: right;
            font-size: 10px;
            font-weight: bold;
        }

            .closemodalQuickSearch:hover,
            .closemodalQuickSearch:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        .modalPrintAppPassword {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10000; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        @@media only screen and (min-width: 600px) {
            .modalPrintAppPassword-content {
                background-color: #ffffff;
                margin: 3% auto; /* 15% from the top and centered */
                padding: 5px;
                border: 1px solid #888;
                width: 30%; /* Could be more or less, depending on screen size */
                height: auto;
                top: 1%;
                overflow: auto;
            }
        }

        @@media only screen and (max-width: 600px) {
            .modalPrintAppPassword-content {
                background-color: #ffffff;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 5px;
                border: 1px solid #888;
                width: 95%; /* Could be more or less, depending on screen size */
                height: 80%;
                top: 20%;
                overflow: auto;
            }
        }
        /* The Close Button */
        .closemodalmodalPrintAppPassword {
            color: #aaa;
            float: right;
            font-size: 10px;
            font-weight: bold;
        }

            .closemodalmodalPrintAppPassword:hover,
            .closemodalmodalPrintAppPassword:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        /* The Modal (background) */
        .modalBatchiframe {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10000; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        @@media only screen and (min-width: 600px) {
            .modalBatchiframe-content {
                background-color: #ffffff;
                margin: 3% auto; /* 15% from the top and centered */
                padding: 10px;
                border: 1px solid #888;
                width: 85%; /* Could be more or less, depending on screen size */
                height: 70%;
                top: 5%;
                overflow: auto;
            }
        }

        @@media only screen and (max-width: 600px) {
            .modalBatchiframe-content {
                background-color: #ffffff;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 25px;
                border: 1px solid #888;
                width: 95%; /* Could be more or less, depending on screen size */
                height: 80%;
                top: 20%;
                overflow: auto;
            }
        }
        /* The Close Button */
        .closefgiframe {
            color: #aaa;
            float: right;
            font-size: 10px;
            font-weight: bold;
        }

            .closefgiframe:hover,
            .closefgiframe:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        .acItem .name {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            /*color: #f48109;*/
            /*font-weight: bold;*/
        }

        .acItem .desc {
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: black;
        }

        .ui-menu-item-wrapper.ui-state-active {
            background-color: #9fc5e8;
            color: black;
            border-radius: 4px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <input type="hidden" id="hdnConfirmFocus" value="@Session["ConfirmFocus"]" />
    <input type="hidden" id="hdnClearConfirmFocus" value="@Session["ClearConfirmFocus"]" />
    <input type="hidden" id="hdnCloseConfirmFocus" value="@Session["CloseConfirmpopup"]" />
    <input type="hidden" id="hdnApiurl" value="@Session["APIurl"]" />

    @{
        string LayoutName = Convert.ToString(Session["NavBarVisible"]);
        string User = Convert.ToString(Session["LoginUser"]);
        string UIDs = Convert.ToString(Session["LoginUserID"]);
        System.Data.DataTable dtParent = (System.Data.DataTable)Session["dtParent"];
        System.Data.DataTable dtPermission = (System.Data.DataTable)Session["dtPermission"];
        System.Data.DataTable dtCompany = (System.Data.DataTable)Session["dtCompany"];
        string CompCode = dtCompany.Rows[0][1].ToString();
        string CompName = dtCompany.Rows[0][2].ToString();
        string apiurl = Convert.ToString(Session["APIurl"]) + "backupfile";
        if (LayoutName == "LogOn")
        {
            <header id="LoginPage" class="navbar navbar-bright navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <a href="~/LogOn/Index" class="navbar-brand">Login Page</a>
                    </div>
                </div>
            </header>
        }
        else if (LayoutName == "UserPermission")
        {

            <div class="sidenav">

                @*<img src="~/Images/search-icon.png" id="icQS" onclick="focussearch();" data-toggle="modal" data-target="#myModal" style="padding-left:10px;width:35px;height:25px;position:fixed;right:0;top:0;z-index:10" title="Quick Search" />*@
                <div style="top: 0; position: fixed; width: 100%;height:45px;" class="dvmainmenuheader">
                    <!--<a href="~/Home" id="acompname" style="color:lightgreen;font-size:large"><img src="~/Images/G_large_Transparent.png" style="width:45px;height:35px" />-->@*<b> Shine Web</b>*@<!--</a>-->
                    <table class="table">
                        <tr>
                            <td style="width:25%">
                                <a href="javascript:void(0)" id="acompname" style="color:lightgreen;font-size:large"><img src="~/Images/G_large_Transparent.png" style="width:45px;height:35px" />@*<b> Shine Web</b>*@</a>
                                <label style="color:brown;font-size:12px;">@CompName</label>
                            </td>

                            <td>
                                <marquee style="color:red;font-size:12px;">@User</marquee>
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="dvmainmenuheader" id="sidenavfooter" style="bottom: 0; position: fixed; width: 15%;padding:15px;font-size:16px; ">
                    @*@Html.ActionLink("Upload File", "Index", "Uploadfile", null, new { @class = "dropdown linkforecolor", @style = "font-weight:bold", @title = User, @id = "algot" })*@
                    @Html.ActionLink("LogOut - " + User, "LogOff", "Login", null, new { @class = "dropdown linkforecolor", @style = "font-weight:bold", @title = User, @id = "algot" })
                </div>
            </div>

        }
    }

    <link href="~/Content/SlidePopup.css" rel="stylesheet" />
    <div class="container">
        <!-- The Modal -->
        <div class="modalQuickSearch" id="myModal">
            <div class="modal-dialog">
                <div class="modalQuickSearch-content">

                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color:lightgoldenrodyellow">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Quick Search</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer" style="background-color:skyblue">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCloseQS">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modalPrintAppPassword" id="myPrintAppPasswordModal">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalPrintAppPassword-content">
                <!-- Modal Header -->
                <div class="modal-header" style="background-color:lightgoldenrodyellow">
                    <button type="button" class="closeprintapppwd" hidden>&times;</button>
                    <h4 class="modal-title">Print Confirmation</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input id="txtCommonPrintPrevieworPDF" hidden class="clrComPrintData" />
                    <input id="txtCommonPrintTransID" hidden class="clrComPrintData" /><input id="txtCommonPrintTranTypeID" hidden class="clrComPrintData" />
                    <input id="txtCommonPrintConfigID" hidden class="clrComPrintData" />
                    <input type="password" required placeholder="Enter Password" id="txtPrintAppPassword" class="form-control" autocomplete="off">
                </div>
                <!-- Modal footer -->
                <div class="modal-footer" style="background-color:skyblue">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnSubmitprintAppPwd">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btncloseprintapppwd">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modalBatchiframe" id="myModalfgiframe">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalBatchiframe-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="closefgiframe">&times;</button>
                    <h5 class="modal-title" style="color:white" id="lbliframeheading"><b></b></h5>
                    @*<hr />*@
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <iframe src="" id="ifrSMG" style="width:100%;height:450px;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script>
     var ItemsperPage = '@Session["ItemsperPage"]';
    </script>
    <div style="padding-left: 15px; padding-top: 40px;padding-bottom: 30px;" class="main">
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @* @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
</body>
</html>
@*<script src="~/Scripts/jquery-3.7.1.min.js"></script>*@
<script type="text/javascript">

    $("#sidedivcollapsed").hide();
    $("#sidenavfooter").hide();
    $(".sidenav,#sidenavfooter").css("width", "0%");// !important;
    $(".main,.footerAction").css("width", "98%");
    $(".main").css("margin-left", "0");

    $("#sidedivcollapsed").click(function () {
        $(".sidenav,#sidenavfooter").css("width", "0%");
        $(".main,.footerAction").css("width", "98%");
        $(".main").css("margin-left", "0");
        $("#sidenavfooter").hide();
        $("#sidedivexpand").show();
        $("#sidedivcollapsed").hide();
    });
    $("#sidedivexpand").click(function () {
        $(".sidenav,#sidenavfooter").css("width", "15%");
        $(".main,.footerAction").css("width", "85%");
        $(".main").css("margin-left", "15%");
        $("#sidenavfooter").show();
        $("#sidedivexpand").hide();
        $("#sidedivcollapsed").show();
    });

    function focussearch() {
        //document.getElementById("myInput").focus();
        document.getElementById("myModal").style.display = "block"
        //$('#myModal').modal('toggle');
        $("#myInput").focus();
    }
   
    //const searchInput = document.getElementById('myInput');
    //const optionsList = document.getElementById('myDropdown');

    var dropdown = document.getElementsByClassName("dropdown-btn");
    for (i = 0; i < dropdown.length; i++)
    {
        dropdown[i].addEventListener("click", function () {
            //this.classList.toggle("active");

            var sibs = $(this).siblings(".dropdown-btn");
            var sibscount = sibs.length;
            console.log(sibscount);
            var incr = 1;
            $(this).siblings(".dropdown-btn").each(function () {
                var dd = this.nextElementSibling;
                if (sibscount > incr)
                    dd.style.display = "none";
                incr++;
            });
            var dropdownContent = this.nextElementSibling;
            var lastdropdownContent = this.previousElementSibling;

            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            }
            else {
                dropdownContent.style.display = "block";
            }
        });
    }
    //const buttons = document.querySelectorAll(".dropdown-btn");
    //buttons.forEach((button) => {
    //    button.addEventListener("click", function () {
    //        // Remove 'active' class from all buttons
    //        buttons.forEach((btn) => btn.classList.remove("active"));

    //        // Add 'active' class to the clicked button
    //        this.classList.add("active");
    //    });
    //});
    function filterFunction() {
        console.clear();
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        var firstelement, ElementTaken = false;
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";

                if (!ElementTaken)
                    firstelement = a[i];
                ElementTaken = true;
                //a[0].style.color = 'green';
                console.log("1");
            }
            else
            {
                console.log("2");
                a[i].style.display = "none";

            }
        }
        //$(firstelement).addClass('first-row');
        //$(firstelement).select();
    }
    let currentIndex = -1;
    let filteredItems = [];


    function searchDivs() {
        let input = document.getElementById("myInput").value.toLowerCase();
        let items = document.querySelectorAll(".list-item");
        filteredItems = [];

        items.forEach(item => {
            item.classList.remove("highlight1", "selected");
            if (item.textContent.toLowerCase().includes(input)) {
                item.style.display = "block";
                filteredItems.push(item);
            } else {
                item.style.display = "none";
            }
        });

        // Reset selection
        currentIndex = filteredItems.length > 0 ? 0 : -1;
        if (filteredItems.length > 0) {
            filteredItems[0].classList.add("selected");
        }
    }

    function handleKeyNavigation(event) {
        if (filteredItems.length === 0) return;

        if (event.key === "ArrowDown") {
            if (currentIndex < filteredItems.length - 1) {
                filteredItems[currentIndex].classList.remove("selected");
                currentIndex++;
                filteredItems[currentIndex].classList.add("selected");
            }
        } else if (event.key === "ArrowUp") {
            if (currentIndex > 0) {
                filteredItems[currentIndex].classList.remove("selected");
                currentIndex--;
                filteredItems[currentIndex].classList.add("selected");
            }
        } else if (event.key === "Enter") {
            if (currentIndex !== -1) {
                let link = filteredItems[currentIndex].querySelector("a");
                if (link) {
                    window.location.href = link.href; // Redirect to the selected link
                }
            }
        }
        else if (event.key === "Escape") {
            document.getElementById("myModal").style.display = "none";
        }
    }
    var modalQS = document.getElementById("myModal");
    var spanQS = document.getElementsByClassName("close")[0];
    spanQS.onclick = function () {
        //modalQS.style.display = "none";
        document.getElementById("myModal").style.display = "none";
    }
    $('#btnCloseQS').click(function (e) {
        //modalQS.style.display = "none";
        document.getElementById("myModal").style.display = "none";
    });
    var modalPrintAppPassword = document.getElementById("myPrintAppPasswordModal");
    var spanClosemodalPrintAppPassword = document.getElementsByClassName("closeprintapppwd")[0];
    spanClosemodalPrintAppPassword.onclick = function () {
        modalPrintAppPassword.style.display = "none";
    }
    $('#btncloseprintapppwd').click(function (e) {
        $("#txtPrintAppPassword").val("");
        modalPrintAppPassword.style.display = "none";
    });
    var modaliframe = document.getElementById("myModalfgiframe");
    var spaniframe = document.getElementsByClassName("closefgiframe")[0];
    spaniframe.onclick = function () {
        modaliframe.style.display = "none";
    }
    $('#btnSubmitprintAppPwd').click(function (e) {
        if ($("#txtPrintAppPassword").val() == "") {
            showErrorSnackbar("Password should not be empty");
            $("#txtPrintAppPassword").focus();
        } else {
            $.ajax({
                url: Aurl + "verifyapppassword/verify",
                type: 'get',
                contentType: 'json',
                data: { ID: 8, Pwd: $("#txtPrintAppPassword").val() },
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    $.each(data, function (i, items) {
                        if (items.MsgID == 0) {
                            var PrintorPdf = $("#txtCommonPrintPrevieworPDF").val();
                            var ID = $("#txtCommonPrintTransID").val();
                            var TranType = $("#txtCommonPrintTranTypeID").val();
                            var ConfigID = $("#txtCommonPrintConfigID").val();
                            if (PrintorPdf == 1) {
                                PrintDocument(ID, TranType, ConfigID);
                            }
                            else {
                                PDFDocument(ID, TranType, ConfigID);
                            }
                            $("#txtPrintAppPassword").val("");
                            modalPrintAppPassword.style.display = "none";
                        }
                        else {
                            showErrorSnackbar(items.Message)
                        }
                    });
                }
            });
        }
    });   
    var Aurl = '@Session["APIurl"]';

    GetColorData(1, '@Session["ThemeID"]');
    function GetColorData(nMode, strName = null) {
        $.ajax({
            url: Aurl + "colorsettings/get",
            type: 'get',
            contentType: 'json',
            data: { Mode: nMode, Name: strName },
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                if (nMode == 1) {
                    $.each(data, function (i, items) {
                        $(".navbar-fixed-top,.sidenav,.dropdown-container,.dvmainmenuheader").css("background-color", items.MenuHeader);
                        $("#acompname,#algot").css("color", items.CompanyNameColor);

                        $(".btn-info").css("background-color", items.AddButton);

                        $(".btn-primary").css("background-color", items.DraftButton);
                        $(".btn-success").css("background-color", items.SaveButton);

                        $(".btn-danger").css("background-color", items.ClearButton);

                        $(".btn-warning").css("background-color", items.CloseButton);

                        $(".clrforpdf").css("background-color", items.PDFButton);
                        $(".clrforpreview").css("background-color", items.PreviewButton);
                        $(".clrforpdf").css("color", "white");
                        $(".clrforpreview").css("color", "white");
                        $(".modal-header").css("background-color", items.PopupHeader);

                        $(".modal-footer").css("background-color", items.PopupFooter);

                        $(".clsclrYes,.clsYes").css("background-color", items.ConfirmPopupYes);

                        $(".clsclrNo,.clsNo").css("background-color", items.ConfirmPopupNo);

                        $("ul a").css("color", items.SubMenuColor);
                        $(".dropdown-btn").css("color", items.MenuColor);
                        $(".trclrforcolheader").css("background-color", items.GridHeaderBackGround);
                        $(".trclrforcolheader").css("color", items.GridHeaderTextColor);
                        $(".modal-title").css("color", items.PopupHeaderText);

                        $(".ui-menu-item-wrapper").css("background-color", items.AutocompleteBG);
                        $(".acItem .name").css("color", items.AutocompleteLine1);
                        $(".acItem .desc").css("color", items.AutocompleteLine2);
                    });
                }
            }
        });
    }
    GetFilterComboData();
    function GetFilterComboData() {
        $.ajax({
            url: Aurl + "getfilterdates/get",
            type: 'get',
            contentType: 'json',
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                $('#cmbFilterDatetype').find("option").remove();
                $.each(eval(data), function (i, items) {
                    $('#cmbFilterDatetype').append($('<option/>', {
                        value: items.ID,
                        text: items.Code,
                        title: items.Name
                    }));
                });
            }
        });
    }
    $("#hrefbakup").click(function () {
        $('body').append('<div style="" id="loadingDiv"><div class="loader"></div><div class="LoaderMsg">Backup database processing... Please wait</div></div>');
        $(".sidenav,#sidenavfooter").css("width", "0%");
        $(".main,.footerAction").css("width", "98%");
        $(".main").css("margin-left", "0");
        $("#sidenavfooter").hide();
        $("#sidedivexpand").show();
        $("#sidedivcollapsed").hide();
        $.ajax({
            url: Aurl + "backupfile",
            type: 'get',
            contentType: 'json',
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                $("#loadingDiv").remove();
                $.each(data, function (i, items) {
                    if (items.MsgID == "0") {
                        showSuccessSnackbar(items.Message);
                    }
                    else {
                        showErrorSnackbar(items.Message);
                    }
                });
            },
            error: function (data) {
                $("#loadingDiv").remove();
                showErrorSnackbar("Backup failed");
            },
        });
    });
    $('input, select ,button, textarea').on('keydown', function (e) {
        if (e.key === "Enter") {
            if (e.target.localName != "button") {
                e.preventDefault(); // Prevent default behavior
                var nextinp = $('input:not([type=hidden]):not([readonly]):not([disabled]),select:not([disabled]),button, textarea').eq($('input:not([type=hidden]):not([readonly]):not([disabled]),select,button, textarea').index(this) + 1);
                //console.log(nextinp);
                var hasclass = $(this).hasClass('ui-autocomplete-input');
                if (hasclass)// Enter from Autocomplete field
                {
                    var lencls = $('.ui-menu-item').length;
                    var vbl = $('.ui-menu-item').is(":visible");
                    //console.log("Visble : ", vbl, " ui-menu-item Count : " + lencls);
                    if (!vbl)
                    {
                        if (nextinp.length) {
                            var strType = nextinp[0].localName;
                            if (strType != "button") {
                                nextinp.focus();
                                nextinp.select();
                            }
                            else {
                                const isSaveDisabled = $("#btnSave").is(":disabled");
                                const isClearDisabled = $("#btnClear").is(":disabled");
                                if (!isSaveDisabled) {
                                    $("#btnSave").focus();
                                    $("#btnSave").select();
                                } else {
                                    $("#btnClose").focus();
                                    $("#btnClose").select();
                                }
                            }
                        }
                    }
                }
                else
                {
                    if (nextinp.length) {
                        var strType = nextinp[0].localName;
                        if (strType != "button") {
                            nextinp.focus();
                            nextinp.select();
                        }
                        else {
                            const isSaveDisabled = $("#btnSave").is(":disabled");
                            if (!isSaveDisabled) {
                                $("#btnSave").focus();
                                $("#btnSave").select();
                            } else {
                                $("#btnClose").focus();
                                $("#btnClose").select();
                            }
                        }
                    }
                }
            }
        }
        else if (e.key === 'ArrowLeft' && e.target.id === "btnSave") {
            $("#btnClear").focus();
            $("#btnClear").select();
        } else if (e.key === 'ArrowRight' && e.target.id === "btnSave") {
            $("#btnClose").focus();
            $("#btnClose").select();
        } else if (e.key === 'ArrowRight' && e.target.id === "btnClear") {
            $("#btnSave").focus();
            $("#btnSave").select();
        } else if (e.key === 'ArrowLeft' && e.target.id === "btnClose") {
            $("#btnSave").focus();
            $("#btnSave").select();
        }
        if (e.shiftKey && e.which == 13) {
            e.preventDefault();
            var $canfocus = $(':focusable');
            var index = $canfocus.index(this) - 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
    if ($('#tblProductData').length) {
        $('#tblProductData tbody').sortable({
            items: 'tr',
            handle: 'td', // Drag anywhere within a row
            stop: function (event, ui) {
                // Get the new row order
                var rowOrder = [];

                // Collect the IDs of rows after drag-and-drop reorder
                $('#tblProductData tbody tr').each(function () {
                    rowOrder.push($(this).find('td').eq(0).text());  // Get the ID from the first column
                });
                ReorderSerialNo();
                // You can do further work here to save the row order (e.g., using AJAX to save to a server)
            }
        });
    }
    function arrowKeyHandlersave(e) {
        if (e.key === "ArrowRight") {
            e.preventDefault();
            document.querySelector(".clsNo")?.focus();
        } else if (e.key === "ArrowLeft") {
            e.preventDefault();
            document.querySelector(".clsYes")?.focus();
        }
    }
        var cfFocus = '@Session["ConfirmFocus"]';
    function ConfirmDialogMsg(message) {
        var IsAccepted = false;
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '</h6></div>')
            .dialog({
                modal: true,
                closeOnEscape: true,
                title: 'Confirm Popup',
                zIndex: 100,
                autoOpen: true,
                width: '300px',
                resizable: true,
                close: false,
                open: function () {
                    document.addEventListener("keydown", arrowKeyHandlersave);
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-dialog-titlebar-close")
                        .html("x");
                },
                close: function () {
                    // Remove event listener when dialog is closed
                    document.removeEventListener("keydown", arrowKeyHandlersave);
                    $(this).dialog("destroy").remove(); // Fully remove the dialog from DOM

                },
                buttons: [
                    {
                        text: "Yes",
                        class: "btn btn-success clsYes",
                        click: function () {
                            $(this).dialog("close");
                            SaveData();
                        },
                    },
                    {
                        text: "No",
                        class: "btn btn-danger clsNo cfforeclr",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ],
            });
        if (cfFocus == 1) {
            $(".clsYes").focus();
        }
        else if (cfFocus == 2) {
            $(".clsNo").focus();
        }
    };
    var ClearcfFocus = '@Session["ClearConfirmFocus"]';
    //$(".ui-dialog-titlebar-close").html('x');
    function ClearConfirmDialogMsg(message) {
        var IsAccepted = false;
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '</h6></div>')
            .dialog({
                modal: true,
                closeOnEscape: true,
                title: 'Confirm Popup',
                zIndex: 100,
                autoOpen: true,
                width: '300px',
                resizable: true,
                close: false,
                open: function () {
                    document.addEventListener("keydown", arrowKeyHandlersave);
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-dialog-titlebar-close")
                        .html("x");
                },
                close: function () {
                    // Remove event listener when dialog is closed
                    document.removeEventListener("keydown", arrowKeyHandlersave);
                    $(this).dialog("destroy").remove(); // Fully remove the dialog from DOM

                },
                buttons: [
                    {
                        text: "Yes",
                        class: "btn btn-success clsYes",//clsclrYes
                        click: function () {
                            $(this).dialog("close");
                            ClearForm();
                        },
                    },
                    {
                        text: "No",
                        class: "btn btn-danger clsNo",//clsclrNo
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ],
            });
        if (ClearcfFocus == 1) {
            $(".clsYes").focus();
        }
        else {
            $(".clsNo").focus();
        }
    };
    var ClosecfFocus = '@Session["CloseConfirmFocus"]';
//$(".ui-dialog-titlebar-close").html('x');
function CloseConfirmDialogMsg(message) {
    var IsAccepted = false;
    $('<div></div>').appendTo('body')
        .html('<div><h6>' + message + '</h6></div>')
        .dialog({
            modal: true,
            closeOnEscape: true,
            title: 'Confirm Popup',
            zIndex: 100,
            autoOpen: true,
            width: '300px',
            resizable: true,
            close: false,
            open: function () {
                document.addEventListener("keydown", arrowKeyHandlersave);
                $(this).closest(".ui-dialog")
                    .find(".ui-dialog-titlebar-close")
                    .removeClass("ui-dialog-titlebar-close")
                    .html("x");
            },
            close: function () {
                // Remove event listener when dialog is closed
                document.removeEventListener("keydown", arrowKeyHandlersave);
                $(this).dialog("destroy").remove(); // Fully remove the dialog from DOM

            },
            buttons: [
                {
                    text: "Yes",
                    class: "btn btn-success clsYes",//clsclsYes
                    click: function () {
                        $(this).dialog("close");
                        CloseForm();
                    },
                },
                {
                    text: "No",
                    class: "btn btn-danger clsNo",//clsclsNo
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ],
        });
    if (ClosecfFocus == 1) {
        $(".clsYes").focus();
    }
    else {
        $(".clsNo").focus();
    }
    };

    var allowprint = '@Session["AllowPrint"]';
    function PrintConfirmDialogMsg(ID, TypeID, nConfigID, message) {
        var IsAccepted = false;
        $(".ui-dialog-titlebar-close").hide();
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '</h6></div>')
            .dialog({
                modal: true,
                closeOnEscape: true,
                title: 'Confirm Print Popup',
                zIndex: 100,
                autoOpen: true,
                width: '300px',
                resizable: true,
                close: false,
                open: function () {
                    document.addEventListener("keydown", arrowKeyHandlersave);
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-dialog-titlebar-close")
                        .html("x");
                },
                close: function () {
                    // Remove event listener when dialog is closed
                    document.removeEventListener("keydown", arrowKeyHandlersave);
                    $(this).dialog("destroy").remove(); // Fully remove the dialog from DOM

                },
                buttons: [
                    {
                        text: "Yes",
                        class: "btn btn-success clsYes",
                        click: function () {
                            $(this).dialog("close");
                            PrintDocument(ID, TypeID, nConfigID);
                        },
                    },
                    {
                        text: "No",
                        class: "btn btn-danger clsNo cfforeclr",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ],
            });
        if (allowprint == 3) {
            $(".clsYes").focus();
        }
        else if (allowprint == 4) {
            $(".clsNo").focus();
        }
    };
    setupArrowKeyNavigation();
    // 👇 Function to apply keydown listener to all input elements in the table
    function setupArrowKeyNavigation() {
        if ($('#tblProductData').length) {
            const allInputs = document.querySelectorAll('#tblProductData tbody input');            
            allInputs.forEach((input, index) => {
                input.onkeydown = function (e) {
                    const currentRow = input.closest('tr');
                    const inputsInRow = Array.from(currentRow.querySelectorAll('input'));
                    const inputIndex = inputsInRow.indexOf(input);
                    var hasclass = $(this).hasClass('ui-autocomplete-input');
                    if (e.key === 'ArrowDown') {
                        if (hasclass) {
                            var vbl = $('.ui-menu-item').is(":visible");
                            if (vbl) {
                                //console.log("Autolist field Down");
                            }
                        }
                        else {
                            const nextRow = currentRow.nextElementSibling;
                            if (nextRow) {
                                const nextInputs = nextRow.querySelectorAll('input');
                                if (nextInputs[inputIndex]) nextInputs[inputIndex].focus();
                                e.preventDefault();
                            }
                        }
                    }

                    if (e.key === 'ArrowUp') {
                        if (hasclass) {
                            var vbl = $('.ui-menu-item').is(":visible");
                            if (vbl) {
                                //console.log("Autolist field Down");
                            }
                        }
                        else {
                            const prevRow = currentRow.previousElementSibling;
                            if (prevRow) {
                                const prevInputs = prevRow.querySelectorAll('input');
                                if (prevInputs[inputIndex]) prevInputs[inputIndex].focus();
                                e.preventDefault();
                            }
                        }
                    }

                    if (e.key === 'ArrowRight') {
                        const nextInput = inputsInRow[inputIndex + 1];
                        if (nextInput) {
                            nextInput.focus();
                            e.preventDefault();
                        }
                    }

                    if (e.key === 'ArrowLeft') {
                        const prevInput = inputsInRow[inputIndex - 1];
                        if (prevInput) {
                            prevInput.focus();
                            e.preventDefault();
                        }
                    }

                    if (e.key === 'Enter') {
                        const allInputsList = Array.from(document.querySelectorAll('#tblProductData tbody input'));
                        const currentInputIndex = allInputsList.indexOf(input);
                        const nextInput = allInputsList[currentInputIndex + 1];

                        if (nextInput) {
                            var nm = nextInput.name;
                            if (nm == "ProdDiscPern") {
                                setTimeout(() => {
                                    const newInputs = document.querySelectorAll('#tblProductData tbody tr:last-child input');
                                    if (newInputs[0]) newInputs[0].focus();
                                }, 100);
                            } else {
                                nextInput.focus();
                            }
                        } else {
                            // Call your add row function here
                            Addprodgridline();
                            setTimeout(() => {
                                const newInputs = document.querySelectorAll('#tblProductData tbody tr:last-child input');
                                if (newInputs[0]) newInputs[0].focus();
                            }, 100);
                        }
                        e.preventDefault();
                    }
                };
            });

        }
    }
    function InfoDialogMsg(message, Heading) {
        var IsAccepted = false;
        $(".ui-dialog-titlebar-close").hide();
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '</h6></div>')
            .dialog({
                modal: true,
                closeOnEscape: true,
                title: Heading,
                zIndex: 100,
                autoOpen: true,
                width: '400px',
                resizable: true,
                close: false,
                open: function () {
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-dialog-titlebar-close")
                        .html("x");
                },
                buttons: [
                    {
                        text: "Close",
                        class: "btn btn-warning clsclrNo",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ],
            });
        $(".clsclrNo").focus();
    };
</script>