@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-typeahead.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Scripts/Validation.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>
<style>
    button{
        color:white;
    }
    
    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -42%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 0.80em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }
</style>
<body>
    <div>
        @Html.HiddenFor(model => model.FormName, new { @autocomplete = "off", @class = "form-control", @id = "txtFormName" })
        @Html.HiddenFor(model => model.ID, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtID" })
        <h4 id="MainHeading">@ViewData["FormName"]</h4>
        <hr />
        <div class="toastBox"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12" style="padding-bottom:10px;">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <table class="table" id="tblChoose">
                <tr>
                    <td>
                        <span class="form-label">
                            <select id="cmbThemes" class="form-control">
                                <option value="0">Shine Web</option>
                                <option value="1">Custom</option>
                            </select>
                            <label class="labelup">Theme</label>
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-info" id="btnLoad">Load</button>
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Company Name</label>
                    </td>
                    <td>
                        <input type="color" id="txtCompanyName" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Menu Header</label>
                    </td>
                    <td>
                        <input type="color" id="txtMenuHeader" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Menu Text</label>
                    </td>
                    <td>
                        <input type="color" id="txtMenuText" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Sub Menu Text</label>
                    </td>
                    <td>
                        <input type="color" id="txtSubMenuText" />
                    </td>
                </tr>

                <tr class="trClrEnableChange">
                    <td>
                        <label>Grid Header BG</label>
                    </td>
                    <td>
                        <input type="color" id="txtGridHeaderBG" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Grid Header Text</label>
                    </td>
                    <td>
                        <input type="color" id="txtGridHeaderText" />
                    </td>
                </tr>

                <tr class="trClrEnableChange">
                    <td>
                        <label>Add Button</label>
                    </td>
                    <td>
                        <input type="color" id="txtAddBtn" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Draft Button</label>
                    </td>
                    <td>
                        <input type="color" id="txtDraftBtn" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Save Button</label>
                    </td>
                    <td>
                        <input type="color" id="txtSaveBtn" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Clear Button</label>
                    </td>
                    <td>
                        <input type="color" id="txtClearBtn" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Close Button</label>
                    </td>
                    <td>
                        <input type="color" id="txtCloseBtn" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>PDF Button</label>
                    </td>
                    <td>
                        <input type="color" id="txtPDFBtn" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Preview Button</label>
                    </td>
                    <td>
                        <input type="color" id="txtPreviewBtn" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Popup Header</label>
                    </td>
                    <td>
                        <input type="color" id="txtPopupheader" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Popup Header Text</label>
                    </td>
                    <td>
                        <input type="color" id="txtPopupheadertext" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Popup Footer</label>
                    </td>
                    <td>
                        <input type="color" id="txtPopupfooter" />
                    </td>
                </tr>

                <tr class="trClrEnableChange">
                    <td>
                        <label>Autocomplete BG</label>
                    </td>
                    <td>
                        <input type="color" id="txtAutoCompleteBG" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Autocomplete Name/Line 1</label>
                    </td>
                    <td>
                        <input type="color" id="txtAutoCompleteLine1" />
                    </td>
                </tr>
                <tr class="trClrEnableChange">
                    <td>
                        <label>Autocomplete Desc/Line 2</label>
                    </td>
                    <td>
                        <input type="color" id="txtAutoCompleteLine2" />
                    </td>
                </tr>
                <tr hidden>
                    <td>
                        <label>Confirm Popup Yes</label>
                    </td>
                    <td>
                        <input id="txtConfPopYes" type="color" />
                    </td>
                </tr>
                <tr hidden>
                    <td>
                        <label>Confirm Popup Yes</label>
                    </td>
                    <td>
                        <input id="txtConfPopNo" type="color" />
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div style="width:100%;border:groove;overflow:auto">

                <div id="dvHeaderMenu" style="width:100%;height:80px;border:groove;background-color:aquamarine;padding-left:20px">
                    <p id="pCompName" style="font-size:16px">Shine Web</p>
                    Menu Text
                    <p id="dvHeaderSubMenu"> &ensp; &diams; Sub Menu Text</p>
                </div>
                <br />
                Auto Complete :
                <div style="width:40%;height:50px;border:groove;background-color:darkcyan" id="dvAutoComplete">
                    <label style="font-size:14px" id="lblAutoCompleteLine1">1st Line</label><br />
                    <label style="font-size:11px" id="lblAutoCompleteLine2">2nd Line</label>
                </div>
                <br />

                <div style="width:90%;padding-left:10%">
                    <table class="table table-bordered">
                        <tr id="trGridHeader">
                            <th style="text-align:center">Col 1</th>
                            <th style="text-align:center">Col 2</th>
                            <th style="text-align:center">Col 3</th>
                            <th style="text-align:center">Col 4</th>
                        </tr>
                        <tr>
                            <td>Row data</td>
                            <td>Row data</td>
                            <td>Row data</td>
                            <td>Row data</td>
                        </tr>
                    </table>
                </div>
                <div align="center">
                    <div style="width:80%;height:135px;border:groove">
                        <div style="height: 30px; background-color: darkcyan" id="dvPopHeader" title="">Popup Header</div>
                        <br /><br /><br />
                        <div style="height: 40px; background-color: skyblue" id="dvPopFooter" align="right" title="Popup Footer">

                            <button class="btn clrforclear">Clear</button><button class="btn clrforsave">Save</button><button class="btn clrforclose">Close</button>
                        </div>
                    </div>
                </div>
                <br />
                <div align="center">
                    <button class="btn clrforadd">Add</button>
                    <button class="btn clrforpdf">PDF</button>
                    <button class="btn clrforpreview">Preview</button>
                    <button class="btn clrforclear">Clear</button>
                    <button class="btn clrfordraft">Draft</button>
                    <button class="btn clrforsave">Save</button>
                    <button class="btn clrforclose">Close</button>
                </div>
                <br /><br />
                <div align="center" hidden>
                    <button class="btn clrforyes">Yes</button>
                    <button class="btn clrforno">No</button>

                </div>
            </div>
            
            <div align="right" style="padding:15px;">
                <button type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Reset</span></button>
                <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var Aurl = '@Session["APIurl"]';
    var nUID = '@Session["LoginUserID"]';
    var TID = '@Session["ThemeID"]'
    $(".trClrEnableChange").hide();

    $("#txtCompanyName").change(function (e) {
        var clr = e.target.value;
        $("#pCompName").css("color", clr);
    })
    $("#txtMenuHeader").change(function (e) {
        var clr = e.target.value;
        $("#dvHeaderMenu").css("background-color", clr);
    })
    $("#txtGridHeaderText").change(function (e) {
        var clr = e.target.value;
        $("#trGridHeader").css("color", clr);
    })
    $("#txtGridHeaderBG").change(function (e) {
        var clr = e.target.value;
        $("#trGridHeader").css("background-color", clr);
    })
    $("#txtMenuText").change(function (e) {
        var clr = e.target.value;
        $("#dvHeaderMenu").css("color", clr);
    })
    $("#txtSubMenuText").change(function (e) {
        var clr = e.target.value;
        $("#dvHeaderSubMenu").css("color", clr);
    })
    $("#txtPopupfooter").change(function (e) {
        var clr = e.target.value;
        $("#dvPopFooter").css("background-color", clr);
    })
    $("#txtPopupheader").change(function (e) {
        var clr = e.target.value;
        $("#dvPopHeader").css("background-color", clr);
    })
    $("#txtPopupheadertext").change(function (e) {
        var clr = e.target.value;
        $("#dvPopHeader").css("color", clr);
    })
    $("#txtAddBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrforadd").css("background-color", clr);
    });
    $("#txtSaveBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrforsave").css("background-color", clr);
    });
    $("#txtDraftBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrfordraft").css("background-color", clr);
    });
    $("#txtClearBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrforclear").css("background-color", clr);
    });
    $("#txtSaveBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrforsave").css("background-color", clr);
    });
    $("#txtCloseBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrforclose").css("background-color", clr);
    });
    $("#txtPDFBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrforpdf").css("background-color", clr);
    });
    $("#txtPreviewBtn").change(function (e) {
        var clr = e.target.value;
        $(".clrforpreview").css("background-color", clr);
    });
    $("#txtConfPopYes").change(function (e) {
        var clr = e.target.value;
        $(".clrforyes").css("background-color", clr);
    });
    $("#txtConfPopNo").change(function (e) {
        var clr = e.target.value;
        $(".clrforno").css("background-color", clr);
    });
    $("#txtAutoCompleteBG").change(function (e) {
        var clr = e.target.value;
        $("#dvAutoComplete").css("background-color", clr);
    });
    $("#txtAutoCompleteLine1").change(function (e) {
        var clr = e.target.value;
        $("#lblAutoCompleteLine1").css("color", clr);
    });
    $("#txtAutoCompleteLine2").change(function (e) {
        var clr = e.target.value;
        $("#lblAutoCompleteLine2").css("color", clr);
    });
    if (TID == 0 && nUID == 1) {
        $(".trClrEnableChange").show();
    }
    else if (TID == 0 && nUID != 1) {
        $(".trClrEnableChange").hide();
    }
    else if (TID > 0 && nUID == 1) {
        $(".trClrEnableChange").show();
    }
    else if (TID > 0 && nUID > 1) {
        $(".trClrEnableChange").show();
    }
    if (nUID == 1) {
        $(".trClrEnableChange").show();
    }
    $("#cmbThemes").change(function (e) {
        var clr = e.target.value;
        if (clr == 0 && nUID == 1) {
            $(".trClrEnableChange").show();
        }
        else if (clr == 0 && nUID != 1) {
            $(".trClrEnableChange").hide();
        }
        else if (clr > 0 && nUID == 1) {
            $(".trClrEnableChange").show();
        }
        else if (clr > 0 && nUID > 1) {
            $(".trClrEnableChange").show();
        }
    });
    $("#btnLoad").click(function() {
        GetData(1, $("#cmbThemes").val());
    });

    $("#cmbThemes").val(TID);
    GetData(1, TID);
    function GetData(nMode, strName = null) {
        $.ajax({
            url: Aurl + "colorsettings/get",
            type: 'get',
            contentType: 'json',
            data: { Mode: nMode, Name: strName },
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                if (nMode == 1) {
                    $.each(data, function (i, items) {
                        $("#txtCompanyName").val(items.CompanyNameColor);
                        $("#pCompName").css("color", items.CompanyNameColor);
                        $("#txtMenuHeader").val(items.MenuHeader);
                        $("#dvHeaderMenu").css("background-color", items.MenuHeader);
                        $("#txtSubMenuText").val(items.SubMenuColor);
                        $("#dvHeaderSubMenu").css("color", items.SubMenuColor);
                        $("#txtMenuText").val(items.MenuColor);
                        $("#dvHeaderMenu").css("color", items.MenuColor);
                        $("#txtAddBtn").val(items.AddButton);
                        $(".clrforadd").css("background-color", items.AddButton);
                        $("#txtSaveBtn").val(items.SaveButton);
                        $(".clrforsave").css("background-color", items.SaveButton);

                        $("#txtDraftBtn").val(items.DraftButton);
                        $(".clrfordraft").css("background-color", items.DraftButton);

                        $("#txtClearBtn").val(items.ClearButton);
                        $(".clrforclear").css("background-color", items.ClearButton);
                        $("#txtCloseBtn").val(items.CloseButton);
                        $(".clrforclose").css("background-color", items.CloseButton);
                        $("#txtPDFBtn").val(items.PDFButton);
                        $(".clrforpdf").css("background-color", items.PDFButton);
                        $("#txtPreviewBtn").val(items.PreviewButton);
                        $(".clrforpreview").css("background-color", items.PreviewButton);
                        $("#txtPopupheader").val(items.PopupHeader);
                        $("#dvPopHeader").css("background-color", items.PopupHeader);
                        $("#txtPopupfooter").val(items.PopupFooter);
                        $("#dvPopFooter").css("background-color", items.PopupFooter);
                        $("#txtConfPopYes").val(items.ConfirmPopupYes);
                        $(".clrforyes").css("background-color", items.ConfirmPopupYes);
                        $("#txtConfPopNo").val(items.ConfirmPopupNo);
                        $(".clrforno").css("background-color", items.ConfirmPopupNo);
                        $("#txtGridHeaderBG").val(items.GridHeaderBackGround);
                        $("#trGridHeader").css("background-color", items.GridHeaderBackGround);
                        $("#txtGridHeaderText").val(items.GridHeaderTextColor);
                        $("#trGridHeader").css("color", items.GridHeaderTextColor);
                        $("#txtPopupheadertext").val(items.PopupHeaderText);
                        $("#dvPopHeader").css("color", items.PopupHeaderText);

                        $("#txtAutoCompleteBG").val(items.AutocompleteBG);
                        $("#dvAutoComplete").css("background-color", items.AutocompleteBG);
                        $("#txtAutoCompleteLine1").val(items.AutocompleteLine1);
                        $("#lblAutoCompleteLine1").css("color", items.AutocompleteLine1);
                        $("#txtAutoCompleteLine2").val(items.AutocompleteLine2);
                        $("#lblAutoCompleteLine2").css("color", items.AutocompleteLine2);
                    });
                }
            }, error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    //showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    function SaveData() {
        $("#btnSave").prop("disabled", true);
        var lstMaster = {
            "ThemeID": $("#cmbThemes").val(),
            "UID": nUID,
            "MenuHeader": $("#txtMenuHeader").val(),
            "SubMenuColor": $("#txtSubMenuText").val(),
            "AddButton": $("#txtAddBtn").val(),
            "SaveButton": $("#txtSaveBtn").val(),
            "ClearButton": $("#txtClearBtn").val(),
            "CloseButton": $("#txtCloseBtn").val(),
            "PDFButton": $("#txtPDFBtn").val(),
            "PreviewButton": $("#txtPreviewBtn").val(),
            "PopupHeader": $("#txtPopupheader").val(),
            "PopupFooter": $("#txtPopupfooter").val(),
            "ConfirmPopupYes": $("#txtConfPopYes").val(),
            "ConfirmPopupNo": $("#txtConfPopNo").val(),
            "MenuColor": $("#txtMenuText").val(),
            "CompanyNameColor": $("#txtCompanyName").val(),
            "GridHeaderBackGround": $("#txtGridHeaderBG").val(),
            "GridHeaderTextColor": $("#txtGridHeaderText").val(),
            "PopupHeaderText": $("#txtPopupheadertext").val(),

            "AutocompleteBG": $("#txtAutoCompleteBG").val(),
            "AutocompleteLine1": $("#txtAutoCompleteLine1").val(),
            "AutocompleteLine2": $("#txtAutoCompleteLine2").val(),

            "DraftButton": $("#txtDraftBtn").val(),            
        }
        $.ajax({
            url: Aurl + "colorsettings/save",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(lstMaster),
            cache: false,
            processData: false,
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                $("#btnSave").prop("disabled", false);
                $.each(data, function (i, items) {
                    if (items.MsgID == 0) {
                        showSuccessSnackbar(items.Message);
                    }
                    else {
                        //$("#dvErrorName").html(items.Message);
                        showErrorSnackbar(items.Message);
                    }
                });
            }, error: function (data) {
                $("#btnSave").prop("disabled", false);
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    //showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    $('#btnClear').click(function () {
        if (cfFocus != 3) { ClearConfirmDialogMsg("Do you want to clear?"); } else { GetData(1); }
    });
    $("#btnSave").click(function () {
        if (cfFocus != 3) { ConfirmDialogMsg("Do you want to save data?"); } else { SaveData(); }
    });
    @*var cfFocus = '@Session["ConfirmFocus"]';
    function ConfirmDialogMsg(message) {
        var IsAccepted = false;
        $(".ui-dialog-titlebar-close").hide();
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '</h6></div>')
            .dialog({
                modal: true,
                closeOnEscape: true,
                title: 'Confirm Popup',
                zIndex: 100,
                autoOpen: true,
                width: '300px',
                resizable: true,
                close: false,
                open: function () {
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-dialog-titlebar-close")
                        .html("<p style='color:black;height:10px;'>x</p>");
                },
                buttons: [
                    {
                        text: "Yes",
                        class: "btn btn-success clsYes",
                        click: function () {
                            $(this).dialog("close");
                            SaveData();
                        },
                    },
                    {
                        text: "No",
                        class: "btn btn-danger clsNo",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ],
            });
        if (cfFocus == 1) {
            $(".clsYes").focus();
        }
        else {
            $(".clsNo").focus();
        }
    }
    function ClearConfirmDialogMsg(message) {
        var IsAccepted = false;
        /*$(".ui-dialog-titlebar-close").hide();*/
        $('<div></div>').appendTo('body')
            .html('<div><h6>' + message + '</h6></div>')
            .dialog({
                modal: true,
                closeOnEscape: true,
                title: 'Confirm Popup',
                zIndex: 100,
                autoOpen: true,
                width: '300px',
                resizable: true,
                close: false,
                open: function () {
                    $(this).closest(".ui-dialog")
                        .find(".ui-dialog-titlebar-close")
                        .removeClass("ui-dialog-titlebar-close")
                        .html("<p style='color:black;height:10px;'>x</p>");
                },
                buttons: [
                    {
                        text: "Yes",
                        class: "btn btn-success clsclrYes",
                        click: function () {
                            GetData(1, $("#cmbThemes").val());
                            $(this).dialog("close");

                        },
                    },
                    {
                        text: "No",
                        class: "btn btn-danger clsclrNo",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ],
            });
        if (cfFocus == 1) {
            $(".clsclrYes").focus();
        }
        else {
            $(".clsclrNo").focus();
        }
    }*@
</script>
