@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/Content/jquery-ui.css">*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-typeahead.min.js"></script>
<script src="~/Scripts/datatable.js"></script>
<script src="~/Scripts/dataTables.2.2.2.js"></script>   
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/Validation.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>
<style>
    .gdInput {
        width: 100%;
        height: 25px;
        border-width: 0 0 0.1px 0;
        border-color: #e0d6d6;
    }
    td {
        font-size: 11px;
    }
    /*.each {
        border-bottom: 1px solid #555;
        padding: 3px 0;
    }

    .acItem .name {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .acItem .desc {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #555;
    }

    .ui-autocomplete {
        max-height: 245px;
        overflow-y: auto;
        overflow-x: hidden;
    }*/
    input[type=number] {
        text-align: right;
    }

        input[type=number]::placeholder {
            text-align: left;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* The Modal (background) */
    .modalBatch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 75%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 5%;
            overflow: auto;
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 95%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            overflow: auto;
        }
    }
    /* The Close Button */
    .closefg {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closefg:hover,
        .closefg:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.5s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        /*padding: 6px 12px;*/
        border: none;
        border-top: none;
    }

    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -40%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 1em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }

   /* input:focus + .labelup,
    input:not(:placeholder-shown) + .labelup, textarea:focus + .labelup, textarea:not(:placeholder-shown) + .labelup {
        top: -35%;
        font-size: .7em;
        padding: 0 .3em;
        background: #F9F9F9;
        color: #000000;
    }*/
</style>
<style>
    /* Switch container */
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 22px;
    }

        /* Hide default checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* Slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
    }

        /* Handle */
        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

    /* Checked */
    .switch input:checked + .slider {
        background-color: #4CAF50; /* green */
    }

        .switch input:checked + .slider:before {
            transform: translateX(22px);
        }

    /* Round style */
    .slider.round {
        border-radius: 34px;
    }

</style>
<body>
    <div>
        @Html.HiddenFor(model => model.FormName, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtFormName" })
        @Html.HiddenFor(model => model.ID, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtID" })
        <h4 id="MainHeading">@ViewData["FormName"]</h4>
        <hr />
        <div class="toastBox"></div>
        <div class="tab">
            <button class="tablinks" onclick="openTabs(event, 'dvGeneralSettings')">General Settings</button>
            <button class="tablinks" onclick="openTabs(event, 'dvPurchase')">Purchase</button>
            <button class="tablinks" onclick="openTabs(event, 'dvSales')">Sales</button>
            <button class="tablinks" onclick="openTabs(event, 'dvOtherTrans')">Other Transactions</button>
            <button class="tablinks" onclick="openTabs(event, 'dvPasswords')">Password</button>
            <button id="btnSuperadmin" class="tablinks" onclick="openTabs(event, 'dvSuperadmin')">Super Admin</button>
        </div>
        <div id="dvGeneralSettings" class="tabcontent">
            <div class="col-sm-12 col-md-12 col-lg-12" style="padding-bottom:10px;">
                <div class="col-sm-12 col-md-6 col-lg-6" width="100%">
                    <table class="table">
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>Items Per Page :</label>
                            </td>
                            <td style="border:none">
                                <select class="form-control" id="cmbItemsperPage">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="-1">All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>Print :</label>
                            </td>

                            <td style="border:none">
                                <label for="rdoPrintYes" style="font-size:13px">
                                    <input type="radio" name="rdoAllowPrint" id="rdoPrintYes" checked> Yes
                                </label>
                                &emsp;
                                <label for="rdoPrintNo" style="font-size:13px">
                                    <input name="rdoAllowPrint" type="radio" id="rdoPrintNo"> No
                                </label>
                                &emsp;
                                <label for="rdoPrintPromptYes" style="font-size:13px">
                                    <input name="rdoAllowPrint" type="radio" id="rdoPrintPromptYes"> Prompt - Yes
                                </label>
                                &emsp;
                                <label for="rdoPrintPromptNo" style="font-size:13px">
                                    <input name="rdoAllowPrint" type="radio" id="rdoPrintPromptNo"> Prompt - No
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>Round off :</label>
                            </td>
                            <td style="border:none">
                                <label for="rdoNearest" style="font-size:13px" title="(ex: 57.6 + 0.4 = 58)">
                                    <input type="radio" name="rdoRoundoff" id="rdoNearest" checked> Nearest
                                </label>
                                &emsp;
                                <label for="rdoLowest" style="font-size:13px" title="(ex: 57.6 - 0.6 = 57)">
                                    <input name="rdoRoundoff" type="radio" id="rdoLowest"> Lowest
                                </label>
                                &emsp;
                                <label for="rdoHighest" style="font-size:13px" title="(ex: 57.2 + 0.8 = 58)">
                                    <input name="rdoRoundoff" type="radio" id="rdoHighest"> Highest
                                </label>
                                <input type="number" class="form-control" placeholder="Round off value" id="txtRoundoffValue" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>Case Type :</label>
                            </td>
                            <td style="border:none">
                                <select class="form-control" id="cmbCaseType">
                                    <option value="1">UPPER CASE</option>
                                    <option value="2">lower case</option>
                                    <option value="3">Tile Case</option>
                                    <option value="4">nO cAse</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="40%" style="border:none">
                                <label>Save Confirm Popup :</label>
                            </td>
                            <td style="border:none">
                                <label for="rdoCPYes" style="font-size:13px"><input type="radio" name="rdoConfPop" id="rdoCPYes" checked> Yes</label>
                                &emsp;
                                <label for="rdoCPNo" style="font-size:13px">
                                    <input name="rdoConfPop" type="radio" id="rdoCPNo"> No
                                </label>
                                &emsp;
                                <label for="rdoCPDiscard" style="font-size:13px">
                                    <input name="rdoConfPop" type="radio" id="rdoCPDiscard"> Discard
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="40%" style="border:none">
                                <label>Clear Confirm Popup :</label>
                            </td>
                            <td style="border:none">
                                <label for="rdoClearCPYes" style="font-size:13px"><input type="radio" name="rdoClearConfPop" id="rdoClearCPYes" checked> Yes</label>
                                &emsp;
                                <label for="rdoClearCPNo" style="font-size:13px">
                                    <input name="rdoClearConfPop" type="radio" id="rdoClearCPNo"> No
                                </label>
                                &emsp;
                                <label for="rdoClearCPDiscard" style="font-size:13px">
                                    <input name="rdoClearConfPop" type="radio" id="rdoClearCPDiscard"> Discard
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="40%" style="border:none">
                                <label>Close Confirm Popup :</label>
                            </td>
                            <td style="border:none">
                                <label for="rdoCloseCPYes" style="font-size:13px"><input type="radio" name="rdoCloseConfPop" id="rdoCloseCPYes" checked> Yes</label>
                                &emsp;
                                <label for="rdoCloseCPNo" style="font-size:13px">
                                    <input name="rdoCloseConfPop" type="radio" id="rdoCloseCPNo"> No
                                </label>
                                &emsp;
                                <label for="rdoCloseCPDiscard" style="font-size:13px">
                                    <input name="rdoCloseConfPop" type="radio" id="rdoCloseCPDiscard"> Discard
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>Decimal Values :</label>
                            </td>
                            <td style="border:none">
                                <select class="form-control" id="cmbDecimalValues">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>Default Branch :</label>
                            </td>
                            <td style="border:none">
                                <select class="form-control" id="cmbBranch">
                                    <option value="0">-- Select --</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>CC Commission % :</label>
                            </td>
                            <td style="border:none">
                                <input class="form-control" type="number" id="txtVisaPern" min="0" max="99" maxlength="2" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label>Writeoff Amount :</label>
                            </td>
                            <td style="border:none">
                                <input class="form-control" type="number" id="txtWriteoff" min="0" max="99" maxlength="2" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="30%" style="border:none">
                                <label for="chkBeatMandatoryinCustomer">Beat Mandatory in Customer :</label>
                            </td>
                            <td style="border:none">
                                <label class="switch">
                                    <input type="checkbox" id="chkBeatMandatoryinCustomer">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5" style="padding-top:5px;">
                    <table class="table">
                        <tr style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                            <td style="border:none" colspan="2">E-Mail Config :</td>
                        </tr>
                        <tr>
                            <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                <div>
                                    <span>
                                        <input class="form-control FormclrField" type="text" id="txtSMTPHost" placeholder="SMTP Host *">
                                        @*<label class="labelup" for="txtSMTPHost">SMTP Host *</label>*@
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrorOnSMTPHost" class="clrdivs"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none; padding-left: 12px; padding-right: 7px" colspan="2">
                                <div>
                                    <span>
                                        <input class="form-control FormclrField" type="text" id="txtEMail" placeholder="E-Mail ID *">
                                        @*<label class="labelup" for="txtEMail">E-Mail ID *</label>*@
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrorOnEMail" class="clrdivs"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none; padding-left: 12px; padding-right: 7px" colspan="2">
                                <div>
                                    <span>
                                        <input class="form-control FormclrField" type="password" id="txtPassword" placeholder="Passowrd *">
                                        @*<label class="labelup" for="txtPassword">Passowrd *</label> class="form-label"*@
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrorOnPassowrd" class="clrdivs"></div>
                                </div>
                            </td>
                        </tr>
                        <tr style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                            <td style="border:none" colspan="2">UPI Details :</td>
                        </tr>
                        <tr>
                            <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                <div>
                                    <span class="form-label">
                                        <input class="form-control FormclrField" type="text" id="txtUPIID" placeholder="(ex.abcdef@oksbi)">
                                        <label class="labelup" for="txtSMTPHost">UPI ID</label>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: none; padding-left: 12px; padding-right: 7px" colspan="2">
                                <div>
                                    <span class="form-label">
                                        <input class="form-control FormclrField" type="text" id="txtUPIName" placeholder="(your company name)">
                                        <label class="labelup" for="txtEMail">UPI Name</label>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
        <div id="dvPurchase" class="tabcontent">
            <table class="table">
                <tr>
                    <td align="right" width="30%" style="border:none">
                        <label for="chkPurchaseOneview">One View :</label>
                    </td>
                    <td style="border:none">
                        @*<input type="checkbox" id="chkPurchaseOneview" />*@
                        <label class="switch">
                            <input type="checkbox" id="chkPurchaseOneview    ">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div id="dvSales" class="tabcontent">
            <div class="col-sm-12 col-md-5 col-lg-5" style="padding-top:5px;">
                <table class="table">
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label>Invoice Default Customer :</label>
                        </td>
                        <td style="border:none">
                            <input class="form-control" type="text" id="txtDefCustomer" />
                            <input hidden id="txtDefCustomerID" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label for="chkAllsalesmaninInvoice">All Salesman in Invoice :</label>
                        </td>
                        <td style="border:none">
                            @*<input type="checkbox" id="chkAllsalesmaninInvoice" />*@
                            <label class="switch">
                                <input type="checkbox" id="chkAllsalesmaninInvoice">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label for="chkApplyschemeinQuotation">Apply Scheme in Quotation :</label>
                        </td>
                        <td style="border:none">
                            @*<input type="checkbox" id="chkApplyschemeinQuotation" />*@
                            <label class="switch">
                                <input type="checkbox" id="chkApplyschemeinQuotation">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label for="chkSelectinvoiceinSR">Select Invoice in SR :</label>
                        </td>
                        <td style="border:none">
                            @*<input type="checkbox" id="chkSelectinvoiceinSR" />*@
                            <label class="switch">
                                <input type="checkbox" id="chkAllsalesmaninInvoice">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label for="chkInvoiceStockOnlyProduct">Invoice Stock Only (Y/N):</label>
                        </td>
                        <td style="border:none">
                            @*<input type="checkbox" id="chkInvoiceStockOnlyProduct" />*@
                            <label class="switch">
                                <input type="checkbox" id="chkInvoiceStockOnlyProduct">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label for="chkSalesOneview">One View :</label>
                        </td>
                        <td style="border:none">
                            @*<input type="checkbox" id="chkSalesOneview" />*@
                            <label class="switch">
                                <input type="checkbox" id="chkSalesOneview">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label for="chkInvoiceallowduplicateitem">Invoice allow duplicate item:</label>
                        </td>
                        <td style="border:none">
                            @*<input type="checkbox" id="chkInvoiceallowduplicateitem" />*@
                            <label class="switch">
                                <input type="checkbox" id="chkInvoiceallowduplicateitem">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label>Common Ageing Credit Days:</label>
                        </td>
                        <td style="border:none">
                            <input class="form-control" type="number" id="txtCommonAgeingCreditDays" min="0" max="99" maxlength="2" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" width="30%" style="border:none">
                            <label for="chkRestrictBlocklistinInvoice">Restrict Blocklist Customers in Invoice :</label>
                        </td>
                        <td style="border:none">
                            @*<input type="checkbox" id="chkRestrictBlocklistinInvoice" />*@
                            <label class="switch">
                                <input type="checkbox" id="chkRestrictBlocklistinInvoice">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>
        <div id="dvOtherTrans" class="tabcontent">
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <table class="table">
                        <tr>
                            <td align="right" width="45%" style="border:none">
                                <label for="chkShowallstatus">Show All Status :</label>
                            </td>
                            <td style="border:none">
                                @*<input type="checkbox" id="chkShowallstatus" style="height:14px;width:14px;">*@
                                <label class="switch">
                                    <input type="checkbox" id="chkShowallstatus">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="45%" style="border:none">
                                <label for="chkRetainDate">Retain Date :</label>
                            </td>
                            <td style="border:none">
                                @*<input type="checkbox" id="chkRetainDate" style="height:14px;width:14px;">*@
                                <label class="switch">
                                    <input type="checkbox" id="chkRetainDate">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="45%" style="border:none">
                                <label>Filter Date Type :</label>
                            </td>
                            <td style="border:none">
                                <select class="form-control" id="cmbFilterdatetype">
                                    <option value="0">-- Select --</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
        <div id="dvPasswords" class="tabcontent">            
            <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-5">
                    <table class="table table-bordered" id="tblPasswords" width="100%">
                        <thead>
                            <tr class="trclrforcolheader">
                                <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                                <th style="text-align:center;font-size: 12px;width:70%;">Particulars</th>
                                <th style="text-align:center;font-size: 12px;width:15%;">Password</th>
                                <th style="text-align:center;font-size: 12px;width:15%;">Show/Hide</th>
                            </tr>
                        </thead>
                    </table>
                </div>                
            </div>
        </div>
        <div id="dvSuperadmin" class="tabcontent">
            <div class="row">
                <button class="btn btn-info" id="btnopen"> open all forms</button>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <table class="table">
                        <tr>
                            <td align="right" width="70%" style="border:none">
                                <label for="chkEnablereturnprice">Enable Return Price :</label>
                            </td>
                            <td style="border:none">
                                @*<input type="checkbox" id="chkEnablereturnprice" style="height:14px;width:14px;">*@
                                <label class="switch">
                                    <input type="checkbox" id="chkEnablereturnprice">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <table class="table">
                        <tr>
                            <td style="border:none" width="100%">
                                <label>Back Up Path :</label>
                                <input type="text" id="txtBackupPath" class="form-control">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <table class="table table-bordered" id="tblPaymentMode" width="100%">
                        <thead>
                            <tr class="trclrforcolheader">
                                <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                                <th style="text-align:center;font-size: 12px;width:70%;">Payment Mode</th>
                                <th style="text-align:center;font-size: 12px;width:15%;">Active</th>
                                <th style="text-align:center;font-size: 12px;width:15%;">Order</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <table class="table table-bordered" id="tblPriceType" width="100%">
                        <thead>
                            <tr class="trclrforcolheader">
                                <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                                <th style="text-align:center;font-size: 12px;width:70%;">PriceType</th>
                                <th style="text-align:center;font-size: 12px;width:15%;">Active</th>
                                <th style="text-align:center;font-size: 12px;width:15%;">Order</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <table class="table">
                        <tr>
                        </tr>
                    </table>
                    <table class="table table-bordered" id="tblContraMode" width="100%">
                        <thead>
                            <tr class="trclrforcolheader">
                                <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                                <th style="text-align:center;font-size: 12px;width:80%;">Contra Type</th>
                                <th style="text-align:center;font-size: 12px;width:20%;">Active</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
        <div style="padding-top:10px;right:3%;bottom:10%;position:fixed">
            
            <button type="button" class="btn btn-danger btnclrclear" id="btnClear"><span class="glyphicon glyphicon-refresh"> Reset</span></button>
            <button type="button" class="btn btn-success btnclrsave" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
        </div>
    </div>
    
</body>


<script type="text/javascript">

    var UID = '@Session["LoginUserID"]';
    var Aurl = '@Session["APIurl"]';
    var TablePaymentMode = $('#tblPaymentMode').DataTable({
        "bFilter": false,
        "bSearchable": false,
        "bInfo": false,
        "bPaginate": false,
        "ordering": false,
        scrollY: "250px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0], "visible": false, searchable: false }, { "targets": [1], "width": "50%" }, { "targets": [2],"class" : "text-center" }],
    });
    var TableContraMode = $('#tblContraMode').DataTable({
        "bFilter": false,
        "bSearchable": false,
        "bInfo": false,
        "bPaginate": false,
        "ordering": false,
        scrollY: "250px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0], "visible": false, searchable: false }, { "targets": [2], "class": "text-center" }],
    });
    var TablePasswords = $('#tblPasswords').DataTable({
        "bFilter": false,
        "bSearchable": false,
        "bInfo": false,
        "bPaginate": false,
        "ordering": false,
        scrollY: "250px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0], "visible": false, searchable: false }, { "targets": [3], "class": "text-center" }],
    });
    var TablePriceType = $('#tblPriceType').DataTable({
        "bFilter": false,
        "bSearchable": false,
        "bInfo": false,
        "bPaginate": false,
        "ordering": false,
        scrollY: "250px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0], "visible": false, searchable: false }, { "targets": [1], "width": "50%" }, { "targets": [2], "class": "text-center" }],
    });

    function openTabs(evt, TabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(TabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    if (UID != 1) {
        $("#btnSuperadmin").hide()
    }
    document.getElementById('dvGeneralSettings').style.display = "block";
    $('#btnClear').click(function (e) {
        openallformsinmypage();
        if (cfFocus != 3) { ClearConfirmDialogMsg("Do you want to clear?"); } else { ClearForm(); }
    });
    $('#btnSave').click(function (e) {
        //ConfirmDialogMsg("Do you want to save?");
        $(".clrdiv").html("");
        //if (cfFocus != 3) { ConfirmDialogMsg("Do you want to save data?"); } else { SaveData(); }
        if (ValidateOrder()) {
            if (cfFocus != 3) {
                ConfirmDialogMsg("Do you want to save data?");
            } else {
                SaveData(2);
            }
        }
    });
    var arrCustomer = [];
    var DefCName = "", DefCID = "";
    GetData(3);
    function GetData(nMode) {
        $.ajax({
            url: Aurl + "applicationconfig/get",
            type: 'get',
            contentType: 'json',
            data: { Mode: nMode, Name: "" },
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                if (nMode == 1) {
                    arrCustomer = [];
                    $('#cmbFilterdatetype').find("option").remove();
                    $.each(data, function (i, items) {
                        $("#cmbCaseType").val(items.CaseType);
                        $("#rdoCPYes").prop("checked", items.Confirmpopup == 1);
                        $("#rdoCPNo").prop("checked", items.Confirmpopup == 2);
                        $("#rdoCPDiscard").prop("checked", items.Confirmpopup == 3);

                        $("#rdoClearCPYes").prop("checked", items.ClearConfirmpopup == 1);
                        $("#rdoClearCPNo").prop("checked", items.ClearConfirmpopup == 2);
                        $("#rdoClearCPDiscard").prop("checked", items.ClearConfirmpopup == 3);

                        $("#rdoCloseCPYes").prop("checked", items.CloseConfirmpopup == 1);
                        $("#rdoCloseCPNo").prop("checked", items.CloseConfirmpopup == 2);
                        $("#rdoCloseCPDiscard").prop("checked", items.CloseConfirmpopup == 3);

                        $("#rdoNearest").prop("checked", items.Roundoff == 1);
                        $("#rdoLowest").prop("checked", items.Roundoff == 2);
                        $("#rdoHighest").prop("checked", items.Roundoff == 3);
                        $("#txtRoundoffValue").val(items.RoundoffValue);
                        $("#txtSMTPHost").val(items.SMTPHost);
                        $("#txtEMail").val(items.EMail);
                        $("#txtPassword").val(items.Password);
                        $("#txtBackupPath").val(items.BackupPath);

                        $("#cmbDecimalValues").val(items.DecimalValues);
                        $("#chkShowallstatus").prop("checked", items.Showallstatus == 1);
                        $("#chkRetainDate").prop("checked", items.RetainDate == 1);

                        $("#cmbBranch").val(items.DefaultBranch);
                        $("#chkEnablereturnprice").prop("checked", items.EnableReturnPrice == 1);
                        $("#chkAllsalesmaninInvoice").prop("checked", items.AllSalesmanInvoice == 1);
                        $("#chkApplyschemeinQuotation").prop("checked", items.ApplySchemeinQuotation == 1);
                        $("#chkSelectinvoiceinSR").prop("checked", items.SelectinvoiceinSR == 1);
                        $("#chkInvoiceStockOnlyProduct").prop("checked", items.InvoiceStockOnlyProduct == 1);
                        $("#chkInvoiceallowduplicateitem").prop("checked", items.Invoiceallowduplicateitem == 1);
                        $("#chkRestrictBlocklistinInvoice").prop("checked", items.RestrictBlocklistinInvoice == 1);
                        $("#chkBeatMandatoryinCustomer").prop("checked", items.BeatMandatoryinCustomer == 1);
                        
                        $("#txtCommonAgeingCreditDays").val(items.CommonAgeingCreditDays);

                        $("#chkPurchaseOneview").prop("checked", items.PurchaseOneView == 1);
                        $("#chkSalesOneview").prop("checked", items.SalesOneView == 1);
                        $("#cmbItemsperPage").val(items.ItemsperPage);
                        //SelectinvoiceinSR
                        $("#txtVisaPern").val(items.VisaPern);
                        $("#txtUPIID").val(items.UPIID);
                        $("#txtUPIName").val(items.UPIName);
                        $("#txtWriteoff").val(items.WriteoffAmt);
                        //rdoPrintYes,rdoPrintNo,rdoPrintPromptYes,rdoPrintPromptNo
                        $("#rdoPrintYes").prop("checked", items.AllowPrint == 1);
                        $("#rdoPrintNo").prop("checked", items.AllowPrint == 2);
                        $("#rdoPrintPromptYes").prop("checked", items.AllowPrint == 3);
                        $("#rdoPrintPromptNo").prop("checked", items.AllowPrint == 4);
                        //TablePaymentMode.draw().clear(); TablePaymentMode.draw().clear();
                        //TableContraMode.draw().clear(); TableContraMode.draw().clear();
                        //TablePasswords.draw().clear(); TablePasswords.draw().clear();
                        //TablePriceType.draw().clear(); TablePriceType.draw().clear();
                        var nCount = items.lstPaymode.length;
                        var mxl = nCount.toString().length;
                        //$.each(items.lstConfigPasswords, function (i, pwditems) {
                        //    TablePasswords.row.add([
                        //        pwditems.ID,
                        //        pwditems.Name,
                        //        '<input type="password" id="txtpwd' + i + '" class="gdInput"  name="Password" value="' + pwditems.Passwords +'"/>',
                        //        '<label for="chkActivea' + i + '">Show/Hide</label>'
                        //    ]).draw(false);
                        //});
                        $('#tblPasswords').DataTable({
                            scrollY: "450px",
                            scrollX: true,
                            scrollCollapse: true,
                            paging: false,
                            destroy: true,
                            data: items.lstConfigPasswords,
                            fixedColumns: false,
                            searching: false,
                            ordering: false,
                            sorting: false,
                            columns: [
                                { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },
                                { "data": "Name", "autoWidth": true, className: "dt-body-left" },
                                {
                                    className: "dt-body-center",
                                    "mRender": function (data, type, value, meta) {
                                        var rowIndex = meta.row;
                                        var _action = '<input type="password" id="txtpwd' + rowIndex + '" class="gdInput"  name="Password" value="' + value.Passwords + '"/>';
                                        return _action;
                                    }
                                },
                                {
                                    className: "dt-body-center",
                                    "mRender": function (data, type, value, meta) {
                                        var rowIndex = meta.row;
                                        var _action = '<label for="chkActivea' + rowIndex + '">Show/Hide</label>';
                                        return _action;
                                    }
                                },
                            ],
                        });
                        TablePasswords = $('#tblPasswords').DataTable();
                        $.each(items.lstPaymode, function (i, pmitems) {
                            if (pmitems.TypeID == "1") {
                                var chk = pmitems.Active == "True" ? "checked" : "";
                                TablePaymentMode.row.add([
                                    pmitems.ID,
                                    '<label for="chkActive' + i + '">' + pmitems.Name + '</label>',
                                    '<input type="checkbox" id="chkActive' + i + '"  name="Active" ' + chk + ' />',
                                    '<input type="number" min="0" maxlength="' + mxl + '" id="txtOrder' + i + '" class="form-control" name="OrderBy" value="' + pmitems.Order + '" onkeypress="return isNumberKey(event)" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); }"/>'
                                ]).draw(false);
                            }
                            else if (pmitems.TypeID == "2") {
                                var cst = {
                                    "label": pmitems.Name,
                                    "code": pmitems.Code,
                                    "id": pmitems.ID,
                                }
                                arrCustomer.push(cst);
                                if (items.DefaultCustID == pmitems.ID) {
                                    DefCName = pmitems.Name;
                                    DefCID = pmitems.ID;
                                }
                            }
                            else if (pmitems.TypeID == "3") {
                                var chk = pmitems.Active == "True" ? "checked" : "";
                                TableContraMode.row.add([
                                    pmitems.ID,
                                    '<label for="chkCMActive' + i + '">' + pmitems.Name + '</label>',
                                    '<input type="checkbox" id="chkCMActive' + i + '"  name="CMActive" ' + chk + ' />'
                                ]).draw(false);
                            }
                            else if (pmitems.TypeID == "4") {
                                var chk = pmitems.Active == "True" ? "checked" : "";
                                TablePriceType.row.add([
                                    pmitems.ID,
                                    '<label for="chkPTActive' + i + '">' + pmitems.Name + '</label>',
                                    '<input type="checkbox" id="chkPTActive' + i + '"  name="PTActive" ' + chk + ' />',
                                    '<input type="number" min="0" maxlength="' + mxl + '" id="txtPTOrder' + i + '" class="form-control" name="PTOrderBy" value="' + pmitems.Order + '" onkeypress="return isNumberKey(event)" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); }"/>'
                                ]).draw(false);
                            } //
                            else if (pmitems.TypeID == "5") {
                                $('#cmbFilterdatetype').append($('<option/>', {
                                    value: pmitems.ID,
                                    text: pmitems.Name,
                                }));
                                $('#cmbFilterdatetype').val(items.FilterDate);
                            }
                        });

                    });
                    SetAutlistforFields();
                }
                else if (nMode == 3) {
                    $('#cmbBranch').find("option").remove();
                    $('#cmbBranch').append($('<option/>', {
                        value: 0,
                        text: "-- Select --",
                        class: ""
                    }));
                    $.each(data, function (i, items) {
                        $('#cmbBranch').append($('<option/>', {
                            value: items.ID,
                            text: items.Name,
                        }));
                    });
                    GetData(1);
                }
            }
            , error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    ////showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    function SetAutlistforFields() {
        $("#txtDefCustomer").autocomplete({
            minLength: 0, autoFocus: true,
            source: arrCustomer,
            //focus: function (event, ui) {
            //    $("#txtSearch").val(ui.item.name);
            //    return false;
            //},
            select: function (event, ui) {
                $("#txtDefCustomer").val(ui.item.label);
                $("#txtDefCustomerID").val(ui.item.id);
                return false;
            },
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li class='each'>")
                .append("<div class='acItem'><span class='name'>" +
                    item.label + "</span></div>")
                .appendTo(ul);
            };
        $("#txtDefCustomer").val(DefCName);
        $("#txtDefCustomerID").val(DefCID);

    }
    $('input[type=number]').focusin(function (e) {
        $(this).select();
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    $('#tblPasswords tbody').on('click', 'td', function () {
        if (TablePasswords.cell(this).index().columnVisible == 2) {
            var rowdata = TablePasswords.row($(this).parents('tr')).data();
            var PwdID = rowdata.ID;//[0];
            //showErrorSnackbar(rowdata[2]);
            $("#tblPasswords tbody tr").each(function () {
                var currrowdata = TablePasswords.row($(this)).data();
                var GridPwdID = currrowdata.ID;//[0];

                if (PwdID == GridPwdID) {//ProdID == GridProdID
                    $(this).find("input").each(function (index) {
                        const fieldtype = $(this).attr("type");
                        if (fieldtype == "password") {
                            //$(this).type = "text";
                            $(this).attr('type', 'text');
                        }
                        else {
                            //$(this).type = "password";
                            $(this).attr('type', 'password');
                        }
                    });
                }
            });
        }
    });

    function ValidateOrder() {
        var IsValid = true;
        var saperm = $("#btnSuperadmin").is(":visible");
        if (saperm) {
            $("#tblPaymentMode tbody tr").each(function () {
                var valhasvalue = true;
                $(this).css("color", "black");
                $(this).find("input").each(function (index) {
                    $(this).css("border-color", "black");
                    if ($(this).val() == "") {
                        IsValid = false;
                        valhasvalue = false;
                        $(this).css("border-color", "red");
                    }
                });
                if (!valhasvalue) {
                    $(this).css("color", "red");
                    showErrorSnackbar("Payment Mode Order Value should not be empty");
                }
            });
            $("#tblPriceType tbody tr").each(function () {
                var valhasvalue = true;
                $(this).css("color", "black");
                $(this).find("input").each(function (index) {
                    $(this).css("border-color", "black");
                    if ($(this).val() == "") {
                        IsValid = false;
                        valhasvalue = false;
                        $(this).css("border-color", "red");
                    }
                });
                if (!valhasvalue) {
                    $(this).css("color", "red");
                    showErrorSnackbar("Price Type Order Value should not be empty");
                }
            });
        }
        var pwdhasvalue = true;
        $("#tblPasswords tbody tr").each(function () {
            $(this).find("input").each(function (index) {
                $(this).css("border-color", "black");
                if ($(this).val() == "") {
                    IsValid = false;
                    pwdhasvalue = false;
                    $(this).css("border-color", "red");
                }
            });
        });
        if (!pwdhasvalue) {
            IsValid = false;
            showErrorSnackbar("Password should not be empty");
        }
        if (IsValid) {
            if ($("#txtDefCustomer").val() != "") {
                const exists = arrCustomer.filter(acc => acc.label == $("#txtDefCustomer").val().trim());
                if (exists.length == 0) {
                    IsValid = false;
                    showErrorSnackbar("<b>Sales : </b> Select customer from list");
                }
            } else {
                $("#txtDefCustomerID").val(0);
            }
        }
        return IsValid;
    }
   
    function SaveData() {
        $("#btnSave").prop("disabled", true);
        var listmenu = [], listpwd = [];
        $("#tblPaymentMode tbody tr").each(function () {
            var nOrder = 0;
            rowdata = TablePaymentMode.row($(this)).data();
            var PMID = rowdata[0];
            var valhasvalue = true;
            var nActive = 0, nOrder = 0;
            $(this).find("input").each(function (index) {
                const fieldName = $(this).attr("name");
                const fieldID = $(this).attr("id");
                if (fieldName == "Active") {
                    nActive = $(this).is(":checked") ? 1 : 0;
                }
                if (fieldName == "OrderBy") {
                    nOrder = $(this).val();
                }
            });
            var lst = {
                "TypeID": 1,
                "ID": PMID,
                "Active": nActive,
                "Order": nOrder
            }
            listmenu.push(lst);
        });
        $("#tblContraMode tbody tr").each(function () {
            rowdata = TableContraMode.row($(this)).data();
            var ContID = rowdata[0];
            var nActive = 0;
            $(this).find("input").each(function (index) {
                const fieldName = $(this).attr("name");
                const fieldID = $(this).attr("id");
                if (fieldName == "CMActive") {
                    nActive = $(this).is(":checked") ? 1 : 0;
                }
            });
            var lst = {
                "TypeID": 2,
                "ID": ContID,
                "Active": nActive,
            }
            listmenu.push(lst);
        });
        $("#tblPasswords tbody tr").each(function () {
            rowdata = TablePasswords.row($(this)).data();
            var pwdID = rowdata.ID;//[0], pass = "";
            $(this).find("input").each(function (index) {
                const fieldName = $(this).attr("name");
                const fieldID = $(this).attr("id");
                if (fieldName == "Password") {
                    pass = $(this).val();
                }
            });
            var lst = {
                "ID": pwdID,
                "Passwords": pass,
            }
            listpwd.push(lst);
        });
        $("#tblPriceType tbody tr").each(function () {
            var nOrder = 0;
            rowdata = TablePriceType.row($(this)).data();
            var PMID = rowdata[0];
            var valhasvalue = true;
            var nActive = 0, nOrder = 0;
            $(this).find("input").each(function (index) {
                const fieldName = $(this).attr("name");
                const fieldID = $(this).attr("id");
                if (fieldName == "PTActive") {
                    nActive = $(this).is(":checked") ? 1 : 0;
                }
                if (fieldName == "PTOrderBy") {
                    nOrder = $(this).val();
                }
            });
            var lst = {
                "TypeID": 4,
                "ID": PMID,
                "Active": nActive,
                "Order": nOrder
            }
            listmenu.push(lst);
        });
        var lstMaster = {
            "Mode": 2,
            "CaseType": $("#cmbCaseType").val(),
            "Confirmpopup": $("#rdoCPYes").is(":checked") ? 1 : $("#rdoCPNo").is(":checked") ? 2 : 3,
            "ClearConfirmpopup": $("#rdoClearCPYes").is(":checked") ? 1 : $("#rdoClearCPNo").is(":checked") ? 2 : 3,
            "CloseConfirmpopup": $("#rdoCloseCPYes").is(":checked") ? 1 : $("#rdoCloseCPNo").is(":checked") ? 2 : 3,
            "Roundoff": $("#rdoNearest").is(":checked") ? 1 : $("#rdoLowest").is(":checked") ? 2 : 3,
            "RoundoffValue": $("#txtRoundoffValue").val(),
            "SMTPHost": $("#txtSMTPHost").val(),
            "EMail": $("#txtEMail").val(),
            "Password": $("#txtPassword").val(),
            "BackupPath": $("#txtBackupPath").val(),
            "DecimalValues": $("#cmbDecimalValues").val(),
            "Showallstatus": $("#chkShowallstatus").is(":checked") ? 1 : 0,
            "RetainDate": $("#chkRetainDate").is(":checked") ? 1 : 0,
            "DefaultBranch": $("#cmbBranch").val(),
            "EnableReturnPrice": $("#chkEnablereturnprice").is(":checked") ? 1 : 0,
            "VisaPern": $("#txtVisaPern").val(),
            "DefaultCustID": $("#txtDefCustomerID").val(),
            "AllSalesmanInvoice": $("#chkAllsalesmaninInvoice").is(":checked") ? 1 : 0,
            "UPIID": $("#txtUPIID").val(),
            "UPIName": $("#txtUPIName").val(),
            "WriteoffAmt": $("#txtWriteoff").val(),
            "AllowPrint": $("#rdoPrintYes").is(":checked") ? 1 : $("#rdoPrintNo").is(":checked") ? 2 : $("#rdoPrintPromptYes").is(":checked") ? 3 : 4,
            "ApplySchemeinQuotation": $("#chkApplyschemeinQuotation").is(":checked") ? 1 : 0,
            "SelectinvoiceinSR": $("#chkSelectinvoiceinSR").is(":checked") ? 1 : 0,
            "InvoiceStockOnlyProduct": $("#chkInvoiceStockOnlyProduct").is(":checked") ? 1 : 0,
            "Invoiceallowduplicateitem": $("#chkInvoiceallowduplicateitem").is(":checked") ? 1 : 0,
            "RestrictBlocklistinInvoice": $("#chkRestrictBlocklistinInvoice").is(":checked") ? 1 : 0,
            "BeatMandatoryinCustomer": $("#chkBeatMandatoryinCustomer").is(":checked") ? 1 : 0,            
            "PurchaseOneView": $("#chkPurchaseOneview").is(":checked") ? 1 : 0,
            "SalesOneView": $("#chkSalesOneview").is(":checked") ? 1 : 0,
            "FilterDate": $('#cmbFilterdatetype').val(),
            "ItemsperPage": $("#cmbItemsperPage").val(),
            "CommonAgeingCreditDays": $("#txtCommonAgeingCreditDays").val(),
            "UserID": UID,
            "lstPaymode": listmenu,
            "lstConfigPasswords": listpwd
        };
        $.ajax({
            url: Aurl + "applicationconfig/save",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(lstMaster),
            cache: false,
            processData: false,
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                $("#btnSave").prop("disabled", false);
                $.each(data, function (i, items) {
                    if (items.MsgID == 0) {
                        showSuccessSnackbar(items.Message);
                        //ClearForm();
                        //GetData()
                    }
                    else {
                        $("#dvErrorName").html(items.Message);
                        showErrorSnackbar(items.Message);
                    }
                });
            }, error: function (data) {
                $("#btnSave").prop("disabled", false);
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    ////showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });

    }
    function ClearForm() {
        GetData(1);
        $(".clrdiv").html("");
    }

    function openallformsinmypage() {
        const divs = document.querySelectorAll('#listContainer div');
        const links = [];

        // Collect all link hrefs
        divs.forEach(div => {
            div.querySelectorAll('a').forEach(link => {
                links.push(link.href);
            });
        });

        let index = 0;

        const intervalId = setInterval(() => {
            if (index >= links.length) {
                clearInterval(intervalId);
                return;
            }

            window.open(links[index], '_blank');
            index++;
        }, 1500); // 1000 ms = 1 second

    }
    $('#btnopen').click(function (e) {
        openallformsinmypage();
    });
</script>