@model ShineWeb.Models.LoginModel
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="SHORTCUT ICON" href="~/images/G_large_Transparent.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/bootstrap-glyphicons.css">
    <link href="~/Content/Snackbar.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.6.0.0.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Validation.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <style>
        body {
            margin: 0;
            color: #6a6f8c;
            background: #c8c8c8;
            font: 600 16px/18px 'Open Sans',sans-serif;
        }

        *, :after, :before {
            box-sizing: border-box
        }

        .clearfix:after, .clearfix:before {
            content: '';
            display: table
        }

        .clearfix:after {
            clear: both;
            display: block
        }

        a {
            color: inherit;
            text-decoration: none
        }

        .login-wrap {
            width: 100%;
            height: 100%;
            margin: auto;
            max-width: 525px;
            min-height: 670px;
            position: relative;
            box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
        }

        .login-html {
            width: 100%;
            height: 110%;
            position: absolute;
            padding: 10px 70px 50px 70px;
            background: rgba(40,57,101,.9);
        }

            .login-html .sign-in-htm,
            .login-html .sign-up-htm,
            .login-html .forgot-htm {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                transform: rotateY(180deg);
                backface-visibility: hidden;
                transition: all .4s linear;
            }

            .login-html .sign-in,
            .login-html .sign-up,
            .login-html .forgot,
            .login-form .group .check {
                display: none;
            }

            .login-html .tab,
            .login-form .group .label,
            .login-form .group .button {
                text-transform: uppercase;
            }

            .login-html .tab {
                font-size: 22px;
                margin-right: 15px;
                padding-bottom: 5px;
                margin: 0 15px 10px 0;
                display: inline-block;
                border-bottom: 2px solid transparent;
            }

            .login-html .sign-in:checked + .tab,
            .login-html .sign-up:checked + .tab,
            .login-html .forgot:checked + .tab {
                color: #fff;
                border-color: #1161ee;
            }

        .login-form {
            min-height: 445px;
            position: relative;
            perspective: 1200px;
            transform-style: preserve-3d;
        }

            .login-form .group {
                margin-bottom: 15px;
            }

                .login-form .group .label,
                .login-form .group .input,
                .login-form .group .button {
                    width: 100%;
                    color: #fff;
                    display: block;
                }

                .login-form .group .input,
                .login-form .group .button {
                    border: none;
                    padding: 15px 20px;
                    border-radius: 25px;
                    background: rgba(255,255,255,.1);
                }

                .login-form .group input[data-type="password"] {
                    text-security: circle;
                    -webkit-text-security: circle;
                }

                .login-form .group .label {
                    color: #aaa;
                    font-size: 12px;
                }

                .login-form .group .button {
                    background: #1161ee;
                }

                .login-form .group label .icon {
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                    position: relative;
                    display: inline-block;
                    background: rgba(255,255,255,.1);
                }

                    .login-form .group label .icon:before,
                    .login-form .group label .icon:after {
                        content: '';
                        width: 10px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        transition: all .2s ease-in-out 0s;
                    }

                    .login-form .group label .icon:before {
                        left: 3px;
                        width: 5px;
                        bottom: 6px;
                        transform: scale(0) rotate(0);
                    }

                    .login-form .group label .icon:after {
                        top: 6px;
                        right: 0;
                        transform: scale(0) rotate(0);
                    }

                .login-form .group .check:checked + label {
                    color: #fff;
                }

                    .login-form .group .check:checked + label .icon {
                        background: #1161ee;
                    }

                        .login-form .group .check:checked + label .icon:before {
                            transform: scale(1) rotate(45deg);
                        }

                        .login-form .group .check:checked + label .icon:after {
                            transform: scale(1) rotate(-45deg);
                        }

        .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
            transform: rotate(0);
        }

        .login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
            transform: rotate(0);
        }
        /*  .login-html .forgot:checked + .tab + .login-form .forgot-htm {
            transform: rotate(0);
        }*/
        .hr {
            height: 2px;
            margin: 20px 0 50px 0;
            background: rgba(255,255,255,.2);
        }

        .foot-lnk {
            text-align: center;
        }

        input[type=number] {
            text-align: right;
        }

            input[type=number]::placeholder {
                text-align: left;
            }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .clrdivs {
            font-size: 11px;
        }

        /* The Modal (background) */
        .modalBatch {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        @@media only screen and (min-width: 600px) {
            .modalBatch-content {
                background-color: #ffffff;
                margin: 3% auto; /* 15% from the top and centered */
                padding: 10px;
                border: 1px solid #888;
                width: 35%; /* Could be more or less, depending on screen size */
                height: 70%;
                top: 5%;
                overflow: auto;
            }
        }

        @@media only screen and (max-width: 600px) {
            .modalBatch-content {
                background-color: #ffffff;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 25px;
                border: 1px solid #888;
                width: 95%; /* Could be more or less, depending on screen size */
                height: 80%;
                top: 20%;
                overflow: auto;
            }
        }
        /* The Close Button */
        .closefg {
            color: #aaa;
            float: right;
            font-size: 10px;
            font-weight: bold;
        }

            .closefg:hover,
            .closefg:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        .form-label {
            position: relative;
            display: block;
            clear: both;
            max-width: 500px;
            margin: 0 auto;
        }

        .labelup {
            -webkit-transform: translateY(50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(50%);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            position: absolute;
            top: -40%;
            left: 1em;
            background: #fffefe;
            color: #2b2828;
            font-size: 0.70em;
            cursor: text;
            pointer-events: none;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <div class="toastBox"></div>
    <div class="login-wrap">
        
        <div class="login-html">
            <div align="center">
                <img src="~/Images/G_large_Transparent.png" style="height:100px;width:100px;align-content:center" />
            </div>
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            @*<input id="tab-3" type="radio" name="tab" class="forgot"><label for="tab-3" class="tab">Forgot</label>*@
            <div class="login-form">
                <div class="sign-in-htm">

                    <p style="color:green">@ViewData["AlertMessage"]</p>
                    <div class="group">
                        <label for="user" class="label">Company Code</label>
                        <select tabindex="1" class="input" style="color:black" id="cmbLoginCC">
                            <option value="0">@ViewData["companycode"]</option>
                        </select>
                    </div>
                    <div class="group" hidden>
                        <label for="user" class="label">Company Name</label>
                        @Html.TextBoxFor(model => model.CompanyName, new { @autocomplete = "off", @class = "input", @disabled = "disabled" })
                    </div>
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input tabindex="2" id="txtUserName" type="text" class="input" autofocus>
                        <div id="divErrorOnLoginuser" style="color:red" class="clrdivs"></div>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input tabindex="3" id="txtPassword" type="password" class="input" data-type="password">
                        <div id="divErrorOnLoginpassword" style="color:red" class="clrdivs"></div>
                    </div>
                    @*<div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>*@
                    <div class="group">
                        <button tabindex="4" type="submit" class="button" value="Sign In" onclick="Login()">Sign In</button>
                        @*<input tabindex="4" type="submit" class="button" value="Sign In" onclick="Login()">*@
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="javascrip:void(0)" id="FGhref">Forgot Password?</a>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Company Code</label>
                        <select tabindex="5" class="input" style="color:black" id="cmbLoginSU">
                            <option value="0">@ViewData["companycode"]</option>
                        </select>
                    </div>
                    <div class="group">
                        <label for="Signupuser" class="label">Username</label>
                        <input tabindex="6" id="Signupuser" type="text" class="input">
                        <div id="divErrorOnSignupuser" style="color:red" class="clrdivs"></div>
                    </div>
                    <div class="group">
                        <label for="Signuppassword" class="label">Password</label>
                        <input tabindex="7" id="Signuppassword" type="password" class="input" data-type="password">
                        <div id="divErrorOnSignuppassword" style="color:red" class="clrdivs"></div>
                    </div>
                    <div class="group">
                        <label for="SignupConfirmpassword" class="label">Repeat Password</label>
                        <input tabindex="8" id="SignupConfirmpassword" type="password" class="input" data-type="password">
                        <div id="divErrorOnSignupConfirmpassword" style="color:red" class="clrdivs"></div>
                    </div>
                    <div class="group">
                        <label for="SignupEmail" class="label">Email Address</label>
                        <input tabindex="9" id="SignupEmail" type="email" class="input">
                        <div id="divErrorOnSignupEmail" style="color:red" class="clrdivs"></div>
                    </div>
                    <div class="group">
                        <label for="SignupMobNo" class="label">Mobile No</label>
                        <input tabindex="10" id="SignupMobNo" type="number" class="input" maxlength="12" oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); }">
                        <div id="divErrorOnSignupMobNo" style="color:red" class="clrdivs"></div>
                    </div>
                    <div class="group">
                        <button tabindex="11" type="submit" class="button" value="Sign Up" id="btnSignup">Sign Up</button>
                        @*<input tabindex="11" type="submit" class="button" value="Sign Up" id="btnSignup">*@
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="modalBatch" id="myModalfg">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalBatch-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="closefg">&times;</button>
                    <h5 class="modal-title" style="color:black" id="lblPopupheading"><b>Forgot Password</b></h5>
                    @*<hr />*@
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div style="padding-top:2px">
                        <div id="dvAssign" style="width:100%;padding-bottom:7px">
                            <table class="table" style="width:100%">
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input type="text" id="txtFGUserName" class="form-control" placeholder="" />
                                            <label class="labelup">User Name *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorFGUserName" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input type="email" id="txtFGEmail" class="form-control" placeholder=""/>
                                            <label class="labelup">E-Mail ID *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorFGEmail" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <button type="button" class="btn btn-info" id="btnValidate" style="width:100%"><span class="glyphicon glyphicon-saved"> Validate</span></button>
                                    </td>
                                </tr>
                                <tr id="trOTP">
                                    <td style="border:none;padding-left:12px;padding-right:7px">
                                        <input id="txtHDOTP" hidden/>
                                        <span class="form-label">
                                            <input type="number" id="txtOTP" class="form-control" placeholder="" maxlength="6"
                                                   oninput="javascript: if (this.value.length > this.maxLength) { this.value = this.value.slice(0, this.maxLength); }"/>
                                            <label class="labelup">OTP *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorFGOTP" style="color:red"></div>
                                    </td>
                                    <td style="border:none;padding-left:12px;padding-right:7px">
                                        <button type="button" class="btn btn-primary" id="btnCheckOTP"><span class="glyphicon glyphicon-check"> Verify</span></button>
                                    </td>
                                </tr>
                                <tr class="trSetPwds">
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input type="password" id="txtFGPassword" class="form-control" placeholder="" />
                                            <label class="labelup">New Password *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorFGPassword" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr class="trSetPwds">
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input type="password" id="txtFGConfirmPassword" class="form-control" placeholder="" />
                                            <label class="labelup">Confirm Password *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorFGConfirmPassword" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr class="trSetPwds">
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <button tabindex="4" type="button" class="btn btn-success" id="btnSubmit" style="width:100%"><span class="glyphicon glyphicon-floppy-save"> Submit</span></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var Aurl = '@Session["APIurl"]';
    var url = '@Session["url"]';
    var modal = document.getElementById("myModalfg");
    var span = document.getElementsByClassName("closefg")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }
    $('#btnClose').click(function (e) {
        modal.style.display = "none";
    });
    $("#FGhref").click(function () {
        modal.style.display = "block";
        $("#txtFGUserName,#txtFGEmail").prop("disabled", false);
        $(".trSetPwds,#trOTP").hide();
        $("#txtFGUserName,##txtFGEmail,#txtHDOTP,#txtOTP,#txtFGPassword,#txtFGConfirmPassword").val();
    });
    $(".trSetPwds,#trOTP").hide();
    $("#btnValidate").click(function () {
        $("#dvErrorFGUserName,#dvErrorFGEmail").html("");
        var IsValid = true, CheckValidation = true;
        CheckValidation = MandatoryValidation($("#txtFGUserName"), $("#dvErrorFGUserName"));
        if (!CheckValidation) {
            IsValid = false;
        }
        CheckValidation = EmailValidation($("#txtFGEmail"), $("#dvErrorFGEmail"), true);
        if (!CheckValidation) {
            IsValid = false;
        }
        if (IsValid) {
            var strusername = $("#txtFGUserName").val();
            var strEmail = $("#txtFGEmail").val();
            $.ajax({
                url: Aurl + "forgotpassword/validate",                
                type: 'get',
                contentType: 'json',
                data: {
                    UserName: strusername, Email: strEmail
                },
                success: function (data) {
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            showErrorSnackbar("OTP Send to given mail ID.");
                            $("#txtHDOTP").val(item.LPin);
                            $("#trOTP").show();
                            $("#txtFGUserName,#txtFGEmail").prop("disabled", true);
                        });
                    }
                    else {
                        showErrorSnackbar("User Name and E-mail could not match with DB Data. Invalid Username and E-Mail");
                    }
                },
            });
        }
    });
    $("#btnCheckOTP").click(function () {
        $("#dvErrorFGOTP").html("");
        var IsValid = true, CheckValidation = true;
        CheckValidation = MandatoryValidation($("#txtOTP"), $("#dvErrorFGOTP"));
        if (!CheckValidation) {
            IsValid = false;
        }
        else {
            if ($("#txtHDOTP").val() != $("#txtOTP").val()) {
                $("#dvErrorFGOTP").html("OTP Mismatched");
                IsValid = false;
            }
        }
        if (IsValid) {
            $(".trSetPwds").show();
        }
    });
    $("#btnSubmit").click(function () {
        $("#dvErrorFGPassword,#dvErrorFGConfirmPassword").html("");
        var IsValid = true, CheckValidation = true;
        CheckValidation = MandatoryValidation($("#txtFGPassword"), $("#dvErrorFGPassword"));
        if (!CheckValidation) {
            IsValid = false;
        }
        CheckValidation = MandatoryValidation($("#txtFGConfirmPassword"), $("#dvErrorFGConfirmPassword"));
        if (!CheckValidation) {
            IsValid = false;
        }
        if (IsValid) {
            if ($("#txtFGPassword").val() != $("#txtFGConfirmPassword").val()) {
                $("#dvErrorFGConfirmPassword").html("Password should not matching...");
            }
            else {
                var strusername = $("#txtFGUserName").val();
                var strEmail = $("#txtFGEmail").val();
                var strpwd = $("#txtFGPassword").val();
                $.ajax({
                    url: Aurl + "forgotpassword/setpassword",
                    type: 'get',
                    contentType: 'json',
                    data: {
                        UserName: strusername, Email: strEmail, Password: strpwd
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            $.each(data, function (i, item) {
                                showErrorSnackbar("Password changed successfully. You can login with your new password")
                                modal.style.display = "none";
                            });
                        }
                        else {
                            showErrorSnackbar("Password cannot updated. Try again");
                        }
                    },
                });
            }
        }
    });
    function VALIDATION() {

        var IsValid = true, CheckValidation = true;
        CheckValidation = MandatoryValidation($("#Signupuser"), $("#divErrorOnSignupuser"));
        if (!CheckValidation) {
            IsValid = false;
        }
        CheckValidation = MandatoryValidation($("#Signuppassword"), $("#divErrorOnSignuppassword"));
        if (!CheckValidation) {
            IsValid = false;
        }
        CheckValidation = MandatoryValidation($("#SignupConfirmpassword"), $("#divErrorOnSignupConfirmpassword"));
        if (!CheckValidation) {
            IsValid = false;
        }
        CheckValidation = MobilenoValidation($("#SignupMobNo"), $("#divErrorOnSignupMobNo"), true);
        if (!CheckValidation) {
            IsValid = false;
        }
        CheckValidation = EmailValidation($("#SignupEmail"), $("#divErrorOnSignupEmail"), true);
        if (!CheckValidation) {
            IsValid = false;
        }
        if (IsValid) {
            if ($("#Signuppassword").val() != $("#SignupConfirmpassword").val()) {
                IsValid = false;
                $("#divErrorOnSignupConfirmpassword").html("Password and Confirm password mismatched");
                scroll($("#SignupConfirmpassword"));
            }
        }
        return IsValid;
    }
    $("#btnSignup").click(function () {
        if (VALIDATION()) {
            var mail = $("#SignupEmail").val();
            var lstMaster = {
                "Mode" : 1,
                "ID": 0,
                "UserName": $("#Signupuser").val(),
                "Password": $("#Signuppassword").val(),
                "Mobilenumber": $("#SignupMobNo").val(),
                "EMailID": $("#SignupEmail").val(),
                "RoleID": 0,
                "PwdResetCount": 0,
                "Active": 0,
                "UserID" : 0
            };
            $.ajax({
                url: Aurl +"signup/save",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(lstMaster),
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.MsgID == "0") {
                            SendActivationmail(mail, item.ID);
                            showErrorSnackbar(item.Message);
                        }
                        else if (item.MsgID == "1") {
                            showErrorSnackbar(item.Message);
                        }
                    });
                },
                error: function (data) {
                    //called when there is an error
                    showErrorSnackbar(data);
                },
            });
        }
    });
    function Login() {
        var strusername = $("#txtUserName").val();
        var strpassword = $("#txtPassword").val();
        $.ajax({
            url: Aurl + "login/get",
            type: 'get',
            contentType: 'json',
            data: {
                UserName: strusername, Password: strpassword
            },
            xhrFields: {
                withCredentials: true
            },
            success: function (response) {
                if (response != "") {                    
                    $.each(response, function (i, item) {
                        if (item.RoleID > 0) {
                            window.location.href = url + '/ValidatePermission?ID=' + item.ID;
                        }
                        else {
                            showErrorSnackbar("Role is not assigned. Contact admin to assign Role for you");
                        }
                    });
                }
                else {
                    showErrorSnackbar("Invalid User Name and Password");
                }
            },
            error: function (data) {
                //called when there is an error
                showErrorSnackbar(data);
            },
        });
    }
    function SendActivationmail(To,AAK) {
        $.ajax({
            url: '@Url.Action("SendMail", "Login")',
            type: 'get',
            datatype: 'json',
            data: { ToMail: To, ID: AAK },
            success: function (data) {
                if (data == "0") {
                    showErrorSnackbar("Activation Mail Send to your email. Please check email and Activate your account");
                }
                else if (data == "1") {
                    showErrorSnackbar("Activation Mail note Send. Contact admin.");
                }
            },
            error: function (data) {
                //called when there is an error
                showErrorSnackbar(data);
            },
        });
    }
    function getTokenolder(Mode) {
        var strusername = $("#txtUserName").val();
        var strpassword = $("#txtPassword").val();
        if (strpassword != "" && strpassword != "") {
            var body = {
                grant_type: 'password',
                username: strusername,
                password: strpassword
            };
            $.ajax({
                url: "https://localhost:44316/token",
                /*url: "http://202.21.32.54/api/sampapi",*/
                type: 'post',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: body,
                //headers: { "Authorization": "Bearer " + localStorage.getItem('token') }
                success: function (data) {
                    if (Mode == 1) {
                        sessionStorage.setItem("Token1", data.access_token);
                        window.location.href = "http://localhost:44374/SampleAuth";
                    }
                    else {
                        sessionStorage.setItem("Token2", data.access_token);
                    }
                },
                error: function (data) {
                    //called when there is an error
                    showErrorSnackbar(data.responseJSON.error_description);
                },
            });
        }
        else {
            showErrorSnackbar("User Name & Password should not be empty");
        }
    }
    $(document).on('keydown', ':focusable', function (e) {
        if (e.which == 13) {
            if (e.target.localName != "button")
            {
                e.preventDefault();
                let active = document.activeElement;
                let target = $('[tabindex="' + (active.tabIndex + 1) + '"]');
                if (target[0].disabled) {
                    target = $('[tabindex="' + (active.tabIndex + 2) + '"]');
                    if (target[0].disabled) {
                        target = $('[tabindex="' + (active.tabIndex + 3) + '"]');
                    }
                }
                target.focus();
            }
        }
        if (e.shiftKey && e.which == 13) {
            e.preventDefault();
            var $canfocus = $(':focusable');
            var index = $canfocus.index(this) - 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
</script>
