@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];
    if (ViewData["TransType"].ToString() == "2")
    {
        Layout = "~/Views/Shared/_LayoutWithoutheader.cshtml";
    }
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
<link href="~/Content/Snackbar.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/Content/jquery-ui.css">*@
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />

<link href="~/GKBS_Grid/css/gridui.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/dataTables.2.2.2.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>
<script src="~/GKBS_Grid/js/gridui.js"></script>

<style>

    td {
        font-size: 11px;
    }

    input[type=number] {
        text-align: right;
    }

        input[type=number]::placeholder {
            text-align: left;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* The Modal (background) */
    .modalBatch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        /*overflow: auto;*/ /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 35%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 5%;
            /* overflow: auto;*/
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 95%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            /*overflow: auto;*/
        }
    }
    /* The Close Button */
    .closefg {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closefg:hover,
        .closefg:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -40%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 1em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }
    
</style>
<body>

    @Html.HiddenFor(model => model.Add, new { @autocomplete = "off", @class = "form-control", @id = "txtAddID" })
    @Html.HiddenFor(model => model.Modify, new { @autocomplete = "off", @class = "form-control", @id = "txtModifyID" })
    @Html.HiddenFor(model => model.View, new { @autocomplete = "off", @class = "form-control", @id = "txtViewID" })
    @Html.HiddenFor(model => model.FormID, new { @autocomplete = "off", @class = "form-control", @id = "txtFormID" })
    @Html.HiddenFor(model => model.FormName, new { @autocomplete = "off", @class = "form-control", @id = "txtFormName" })
    @Html.HiddenFor(model => model.ID, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtID" })
    @Html.HiddenFor(model => model.TransType, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtTransType" })
    <h4 id="MainHeading">@ViewData["FormName"]</h4>
    <label id="lblIsDepend" hidden>@ViewData["isDepend"]</label>
    <label id="lblParentMenuID" hidden>@ViewData["ParentMenuID"]</label>
    <label id="lblParentFormFieldID" hidden>@ViewData["ParentFormFieldID"]</label>

    <hr />
    <div class="toastBox"></div>
    <div style="padding-bottom:10px">
        <button id="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
    </div>
    <div id="dvMainTable">
        <table class="table table-bordered" id="tblMasterData" width="100%">
            <thead>
                @*<tr id="trAdd">
                        <th></th>
                        <th align="right" colspan="4">
                            <button id="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
                        </th>
                    </tr>*@
                <tr class="trclrforcolheader">
                    <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                    <th style="text-align:center;font-size: 12px;width:80%;">Name</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Active</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">User</th>
                    <th style="align-content:center !important;font-size: 12px;width:5%;" title="Edit"><span class="glyphicon glyphicon-pencil"></span></th>
                    <th style="align-content: center !important; font-size: 12px; width: 5%; " title="View"><span class="glyphicon glyphicon-eye-open"></span></th>
                </tr>
            </thead>
        </table>

    </div>
    <div class="modalBatch" id="myModalfg">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalBatch-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="closefg">&times;</button>
                    <h5 class="modal-title" style="color: black; font-weight: 800" id="lblPopupheading"><b>Add @ViewData["FormName"]</b></h5>
                    @*<hr />*@
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div style="padding-top:2px">
                        <div id="dvAssign" style="width:100%;padding-bottom:7px">
                            <table class="table" style="width:100%">
                                <tr>
                                    @*<td align="right" style="border:none">
                                            <label>Name :</label>
                                        </td>*@
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <span class="form-label">
                                            <input tabindex="1" type="text" id="txtName" class="form-control" placeholder="" />
                                            <label class="labelup">Name *</label>
                                        </span>
                                        <div class="clrdiv" id="dvErrorName" style="color:red"></div>
                                    </td>
                                </tr>
                                <tr>
                                    @*<td align="right" style="border:none" width="20%">
                                            <label for="chkActive">Active :</label>
                                        </td>*@
                                    <td style="border:none;padding-left:12px;padding-right:7px" colspan="2">
                                        <label for="chkActive">Active : </label>&emsp;<input tabindex="2" type="checkbox" id="chkActive" checked disabled />
                                        <div class="clrdiv" id="dvErrorActive" style="color:red"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer" style="background-color:skyblue">
                    <div style="padding-top:0px" align="right">
                        <button tabindex="4" type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
                        <button tabindex="3" type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
                        <button tabindex="5" type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script type="text/javascript">
    var Table = $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        "bFilter": true,
        "bSearchable": true,
        "bInfo": true,
        "bPaginate": true,
        "ordering": true,
        scrollY: "400px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0], "visible": false, searchable: false }, { "targets": [2,3,4], "class": "text-center" }],
    });

    var Aurl = '@Session["APIurl"]';
    if ($("#txtAddID").val() == 0) {
        $("#trAdd").hide();
        $("#btnAdd").hide();
    }
    if ($("#txtModifyID").val() == 0) {
        //Table.column(3).visible(false);
    }
    if ($("#txtViewID").val() == 0) {
        //Table.column(4).visible(false);
    }
    if ($("#txtModifyID").val() == 0 && $("#txtViewID").val() == 0 && $("#txtAddID").val() == 1) {
        $("#dvMainTable").hide();
    }
    var UID = '@Session["LoginUserID"]';
    var RID = '@Session["RoleID"]';
    var nMode = 1;
    var FID = $("#txtFormID").val();
    GetData();
    var arrData = [];
    function GetData() {
        $.ajax({
            url: Aurl + "singlemaster/get",
            /*url: "http://localhost:44396/api/singlemaster/get",*/
            type: 'get',
            contentType: 'json',
            data: { FormID: FID, Mode: 3, Name: "" },
            xhrFields: {
                withCredentials: true
            },
            async : false,
            success: function (data) {
                if (data.length > 0) {
                    //Table.draw().clear(); Table.draw().clear();
                    arrData = [];
                    $.each(data, function (i, items) {
                        var al = {
                            "label": items.Name,
                            "active": items.Active,
                            "id": items.ID,
                        }
                        arrData.push(al);
                        //Table.row.add([
                        //    items.ID,
                        //    items.Name,
                        //    items.Active == "True" ? "Yes" : "No",
                        //    '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>',
                        //    '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>',
                        //]).draw(false);
                    });
                    var searchValue = '';
                    if ($.fn.DataTable.isDataTable('#tblMasterData')) {
                        searchValue = $('#tblMasterData').DataTable().search(); // get current search term
                    }
                    $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                        scrollY: "450px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: true,
                        destroy: true,
                        data: data,
                        fixedColumns: false,
                        searching: true,
                        ordering: true,
                        sorting: false,
                        columns: [
                            { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },
                            { "data": "Name", "autoWidth": true, className: "dt-body-left" },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value) {
                                    var _action = value.Active == "True" ? "Yes" : "No";// '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                                    return _action;
                                }
                            },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value) {
                                    var _action = '<label title="' + value.CDate + '">' + value.CBy + '</label>';
                                    return _action;
                                }
                            },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value) {
                                    var _action = '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                                    return _action;
                                }, "visible": $("#txtModifyID").val() == 0 ? false : true
                            },
                            {
                                className: "dt-body-center",
                                "mRender": function (data, type, value) {
                                    var _action = '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                                    return _action;
                                }, "visible": $("#txtViewID").val() == 0 ? false : true
                            },
                        ],
                        initComplete: function () {
                            // Re-apply search value after table is fully initialized
                            this.api().search(searchValue).draw();
                        }
                    });
                    Table = $('#tblMasterData').DataTable();
                    $("#txtName").autocomplete({
                        minLength: 0,
                        source: arrData,
                        select: function (event, ui) {
                            $("#txtName").val(ui.item.label);
                            //$("#txtRemarks").val(ui.item.id);
                            return false;
                        },
                    }).autocomplete("instance")._renderItem = function (ul, item) {
                        return $("<li class='each'>")
                            .append("<div class='acItem'><span class='name'>" +
                                item.label + "</span></div>")
                            .appendTo(ul);
                    };

                    //var txtName = $('#txtName');
                    //autocomplete = txtName.typeahead({ scrollBar: true, onSelect: displayResult });
                    //autocomplete.data('typeahead').source = null;
                    //autocomplete.data('typeahead').source = arrData;
                }
                else {
                    showErrorSnackbar("No Records Found");
                }
            }
            , error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    ////showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }

    function displayResult(item) {
        $('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
    }
    var modal = document.getElementById("myModalfg");
    var span = document.getElementsByClassName("closefg")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }
    $('#btnClose').click(function (e) {
        if (ClosecfFocus != 3) { CloseConfirmDialogMsg("Do you want to close?"); } else { CloseForm(); }
    });
    function CloseForm() {
        modal.style.display = "none";
    }
    $("#btnAdd").click(function () {
        nMode = 1;
        $("#chkActive,#btnSave,#txtName,#btnClear").prop("disabled", false);
        $(".modal-title#lblPopupheading").text("Add " + $("#MainHeading").text());
        modal.style.display = "block";
        ClearForm();
    });
    $('#btnClear').click(function (e) {
        if (ClearcfFocus != 3) { ClearConfirmDialogMsg("Do you want to clear?"); } else { ClearForm(); }
    });
    function ClearForm() {
        $("#txtName").val("");
        $("#chkActive").prop("checked", true);
        $("#chkActive").prop("disabled", true);
        $(".clrdiv").html("");
        $("#txtName").focus();
        if (nMode != 1)
            modal.style.display = "none";
    }
    $("#btnSave").click(function () {
        $(".clrdiv").html("");
        var IsValid = true;
        if ($("#txtName").val() == "") {
            IsValid = false;
            $("#dvErrorName").html("Name should not be empty");
            showErrorSnackbar("Name should not be empty");
        }
        else {
            if (FID == 10) {
                ChkFormation = EmailValidation($("#txtName"), $("#dvErrorName"), false);
                if (!ChkFormation) {
                    IsValid = false;
                }
            }
        }
        if (IsValid) {
            if (cfFocus != 3) {
                ConfirmDialogMsg("Do you want to save data?");
            } else {
                SaveData();
            }
        }
    });
    function SaveData() {
        $("#btnSave").prop("disabled", true);
        $(".clrdiv").html("");
        var name = $("#txtName").val();
        var lstMaster = {
            "FormID": FID,
            "Mode": nMode,
            "ID": $("#txtID").val(),
            "Name": $("#txtName").val(),
            "Active": $("#chkActive").is(":checked") ? 1 : 0,
            "UserID": UID
        };
        $.ajax({
            url: Aurl + "singlemaster/save",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(lstMaster),
            cache: false,
            processData: false,
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                $("#btnSave").prop("disabled", false);
                $.each(data, function (i, items) {
                    if (items.MsgID == 0) {
                        ClearForm();
                        GetData();
                        //alert(items.Message);
                        showSuccessSnackbar(items.Message);
                        modal.style.display = "none";
                        if (window.opener && !window.opener.closed) {
                            window.opener.GetData(1);
                            window.opener.$('#txtReason').val(name)
                            window.opener.$('#txtReasonID').val(items.ID)
                            window.close();
                        }
                        //if ($("#lblIsDepend").text() == "1")
                        //{
                        //    var Par = $("#lblParentMenuID").text();
                        //    var fid = $("#lblParentFormFieldID").text();
                        //    parent.$("#myModalfgiframe").hide();
                        //    if (Par == "78")//from salesman for smgroup
                        //    {
                        //        //lblParentFormFieldID
                        //        parent.GetData(5, items.ID);
                        //        parent.$("#" + fid).focus();//$("#cmbSMGroup").focus();// $(this).focus();
                        //    }
                        //    else if (Par == "124")//from user for role
                        //    {
                        //        parent.GetData(7, RID, items.ID);
                        //        parent.$("#" + fid).focus();//$(this).focus();//$("#cmbRole").focus()
                        //    }
                        //    else if (Par == "86")//from user for role
                        //    {
                        //        parent.GetData(5);
                        //        setTimeout(() => {
                        //            parent.$("#" + fid).val(items.ID);
                        //            parent.$("#" + fid).focus();
                        //        }, 500)
                        //    }
                        //    //document.getElementById("myModalfgiframe").style.display = "none";
                        //}
                    }
                    else {
                        $("#dvErrorName").html(items.Message);
                        showErrorSnackbar(items.Message);
                        //alert(items.Message);
                    }
                });
            },
            error: function (data) {
                $("#btnSave").prop("disabled", false);
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    ////showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    if ($("#txtTransType").val() == "2") {
        console.log("ID", $("#txtID").val());
        if ($("#txtID").val() > 0) {
            GetData();
            nMode = 2;
            $(".clrdiv").html("");
            var ID = $("#txtID").val();
            var arr = arrData.filter(sm => sm.id == ID);
            if (arr.length > 0) {
                modal.style.display = "block";
                $(".modal-title#lblPopupheading").text("Edit " + $("#MainHeading").text());
                $("#txtName").val(arr[0].label);
                $("#chkActive").prop("checked", arr[0].active == "True");
                $("#chkActive,#btnSave,#txtName").prop("disabled", false);
                $("#btnClear").prop("disabled", true);
                $(".clrdiv").html("");
            }
            else {
                $(".modal-title#lblPopupheading").text($("#MainHeading").text());
                modal.style.display = "none";
            }
        }
    }
    $('#tblMasterData tbody').on('click', '.clsView', function () {
        rowdata = Table.row($(this).parents('tr')).data();
        var ID = rowdata.ID;//[0];
        var Name = rowdata.Name;//[1];
        var Active = rowdata.Active;//[2];
        nMode = 3;
        //if (Table.cell(this).index().columnVisible == 3)
        {

            $(".modal-title#lblPopupheading").text("View " + $("#MainHeading").text());
            //showSuccessSnackbar("View " + $("#MainHeading").text())
            $("#txtID").val(ID);
            $("#txtName").val(Name);
            $("#chkActive").prop("checked", Active == "True");
            $("#chkActive,#btnSave,#txtName,#btnClear").prop("disabled", true);
            $(".clrdiv").html("");
            modal.style.display = "block";
        }
    });

    $('#tblMasterData tbody').on('click', '.clsEdit', function () {
        rowdata = Table.row($(this).parents('tr')).data();
        var ID = rowdata.ID;//[0];
        var Name = rowdata.Name;//[1];
        var Active = rowdata.Active;//[2];
        //if (Table.cell(this).index().columnVisible == 2)
        {
            nMode = 2;
            $(".modal-title#lblPopupheading").text("Edit " + $("#MainHeading").text());
            $("#txtID").val(ID);
            $("#txtName").val(Name);
            $("#chkActive").prop("checked", Active == "True");
            $("#chkActive,#btnSave,#txtName").prop("disabled", false);
            $("#btnClear").prop("disabled", true);
            $(".clrdiv").html("");
            modal.style.display = "block";
        }
    });

</script>
