@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/Content/jquery-ui.css">*@
@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/bootstrap_3.3.7.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/dataTables.2.2.2.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>
<style>
    .gdInput {
        width: 100%;
        height: 25px;
        border-width: 0 0 0.1px 0;
        border-color: #e0d6d6;
    }
    /*each {
        border-bottom: 1px solid #555;
        padding: 3px 0;
    }

    .acItem .name {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .acItem .desc {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #555;
    }

    .ui-autocomplete {
        max-height: 245px;
        overflow-y: auto;
        overflow-x: hidden;
    }*/
    td {
        font-size: 11px;
    }

    input[type=number] {
        text-align: right;
    }

        input[type=number]::placeholder {
            text-align: left;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* The Modal (background) */
    .modalBatch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 75%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 1%;
            /*overflow: auto;*/
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 95%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            /*overflow: auto;*/
        }
    }
    /* The Close Button */
    .closefg {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closefg:hover,
        .closefg:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -40%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 0.90em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }

    .labelupfortextarea {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -20%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 0.9em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }
</style>
<style>
    /* Align dropdown in DataTable cell */
    .action-dropdown {
        min-width: 100px;
        font-size: 12px;
        z-index: 1000;
        text-align: left;
    }

        /* Optional: Add hover effect */
        .action-dropdown > li > a {
            padding: 3px 12px;
            color: #333;
            text-decoration: none;
        }

            .action-dropdown > li > a:hover {
                background-color: #f5f5f5;
                color: #000;
            }

    /* Optional: Make dropdown button minimal */
    .dropdown-toggle {
        background-color: transparent !important;
        border: none !important;
        font-size: 15px;
        line-height: 1;
        padding: 2px 5px;
    }

        .dropdown-toggle::after {
            display: none;
        }
</style>
<body>
    @Html.HiddenFor(model => model.Add, new { @autocomplete = "off", @class = "form-control", @id = "txtAddID" })
    @Html.HiddenFor(model => model.Modify, new { @autocomplete = "off", @class = "form-control", @id = "txtModifyID" })
    @Html.HiddenFor(model => model.Variant, new { @autocomplete = "off", @class = "form-control", @id = "txtVariantID" })
    @Html.HiddenFor(model => model.View, new { @autocomplete = "off", @class = "form-control", @id = "txtViewID" })
    @Html.HiddenFor(model => model.Cancel, new { @autocomplete = "off", @class = "form-control", @id = "txtCancelID" })
    @Html.HiddenFor(model => model.FormName, new { @autocomplete = "off", @class = "form-control", @id = "txtFormName" })
    @Html.HiddenFor(model => model.FormID, new { @autocomplete = "off", @class = "form-control", @id = "txtFormID" })
    @Html.HiddenFor(model => model.ID, new { @autocomplete = "off", @class = "form-control FormclrField", @id = "txtID" })
    @Html.HiddenFor(model => model.TransType, new { @autocomplete = "off", @class = "form-control", @id = "txtTransType" })
    <input hidden id="txtStatus" />
    <h4 id="MainHeading">@ViewData["FormName"]</h4>
    <hr />
    <div class="toastBox"></div>
    <div style="padding-bottom:10px;">
        <button id="btnAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
    </div>
    <div id="dvMainTable">
        <div style="width:100%;">
            <table class="table">
                <tr>
                    <td>
                        <span class="form-label">

                            <input tabindex="1" class="form-control FormfilterclrField" type="text" id="txtFilterAccount" placeholder="">
                            <label class="labelup" for="txtCode"> Account Name</label>
                        </span>
                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFAccount" class="clrdivs"></div>
                    </td>
                    <td>
                        <select class="gdInput" id="cmbFilterDatetype" onchange="SetFilterDate();"></select>
                    </td>
                    <td>
                        <span class="form-label">
                            <input tabindex="1" class="form-control FormfilterclrField" type="date" id="dtpFFrom" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                            <label class="labelup" for="txtCode"> From</label>
                        </span>
                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFFrom" class="clrdivs"></div>
                    </td>
                    <td>
                        <span class="form-label">
                            <input tabindex="1" class="form-control FormfilterclrField" type="date" id="dtpFTo" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                            <label class="labelup" for="txtCode"> To</label>
                        </span>
                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFTo" class="clrdivs"></div>
                    </td>
                    <td>
                        <input tabindex="1" style="font-size:14px;" class="FormfilterclrField" type="checkbox" id="chkShowAll">
                        <label for="chkShowAll" style="font-size:14px;">All Status</label>
                    </td>
                    <td>
                        <button id="btnFilter" class="btn btn-primary"><span class="glyphicon glyphicon-export" style="color: white"></span>&#x2009;Filter</button>
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table-bordered" id="tblMasterData" width="100%">
            <thead>

                <tr class="trclrforcolheader">
                    <th style="text-align:center;font-size: 12px;width:0%;">ID</th>
                    <th style="text-align:center;font-size: 12px;width:0%;">StatusID</th>
                    <th style="text-align:center;font-size: 12px;width:9%;">Doc ID</th>
                    <th style="text-align:center;font-size: 12px;width:9%;">Date</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Ref No</th>
                    <th style="text-align:center;font-size: 12px;width:30%;">Account Name</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Credit</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Debit</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Status</th>
                    <th style="text-align:center;font-size: 12px;width:6%;">User</th>
                    <th style="text-align:center;font-size: 12px;width:3%;" title="View">
                        <span class="glyphicon glyphicon-eye-open" style="font-size:16px">
                        </span>
                    </th>
                    <th style="text-align:center;font-size: 12px;width:3%;" title="Edit">
                        <span class="glyphicon glyphicon-pencil" style="font-size:16px">
                        </span>
                    </th>
                    @*<th style="text-align:center;font-size: 12px;width:3%;" title="Edit">
            <span class="glyphicon glyphicon-pencil" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="Cancel">
            <span class="glyphicon glyphicon-remove-circle" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="View">
            <span class="glyphicon glyphicon-eye-open" style="font-size:16px">
            </span>
        </th>
        <th style="text-align:center;font-size: 12px;width:3%;" title="Variant">
            <span class="glyphicon glyphicon-file" style="font-size:12px">
            </span>
        </th>*@
                </tr>
            </thead>
        </table>
    </div>
    <div class="modalBatch" id="myModalfg">
        <div class="modal-dialog" style="width:auto;">
            <div class="modalBatch-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="closefg">&times;</button>
                    <h5 class="modal-title" style="color:white" id="lblPopupheading"><b>Add @ViewData["FormName"]</b></h5>
                    @*<hr />*@
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div style="padding-top:2px">
                        <div style="padding-top:2px; width:100%" class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <table>
                                    <tr>
                                        <td align="right" width="40%">
                                            <label>Doc ID :</label>
                                        </td>
                                        <td width="60%">
                                            <label id="lblDocID" style="font-size:12px">PVRV/2425/1</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            @*<div class="col-sm-12 col-md-4 col-lg-4">
                                    <table hidden>
                                        <tr>
                                            <td align="right" colspan="2" width="100%">
                                                <span class="form-label">
                                                    <select class="form-control FormclrcmbField" id="cmbUDN"><option value="0">Select UDN</option></select>
                                                    <label class="labelup">UDN</label>

                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>*@
                            <div class="col-sm-12 col-md-4 col-lg-4" align="center">
                                <table>
                                    <tr>
                                        <td colspan="2" width="100%">
                                            <span class="form-label">
                                                <input class="form-control FormclrField" type="text" id="txtRefNo" />
                                                <label class="labelup">Ref No</label>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4" align="right">
                                <table>
                                    <tr>
                                        <td colspan="2" width="100%">
                                            <span class="form-label">
                                                <input class="form-control" type="date" id="dtpDate" oninput="javascript: if (this.value > this.max) { this.value = this.max; }" />
                                                <label class="labelup">Date *</label>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div style="padding-top:25px;">
                            <hr class="style14" />
                            <table class="table table-borderless" width="100%">
                                <tr>
                                    <td width="15%" style="border:none">
                                        <span class="form-label">
                                            <select tabindex="1" class="form-control" id="cmbFAType">
                                                <option value="1">Credit</option>
                                                <option value="2">Debit</option>
                                            </select>
                                            <label class="labelup">FA Type </label>
                                        </span>
                                    </td>
                                    <td width="30%" style="border:none">
                                        <span class="form-label">
                                            <input tabindex="2" class="form-control FormclrField" id="txtAccountName" />
                                            <input id="txtAccID" class="FormclrField" hidden />
                                            <label class="labelup" for="txtCode">Account Name </label>
                                        </span>
                                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="dvErrorAccountName" class="clrdivs"></div>
                                    </td>
                                    <td width="10%" style="border:none">
                                        <span class="form-label">
                                            <select tabindex="3" class="form-control" id="cmbAdjustment" disabled>
                                                <option value="0">No</option>
                                                <option value="1">Yes</option>
                                            </select>
                                            <label class="labelup">Adjustment </label>
                                        </span>
                                    </td>
                                    <td width="15%" style="border:none">
                                        <span class="form-label">
                                            <input tabindex="4" txttag="0" class="form-control FormclrField txtsettag" type="number" step="any" id="txtValue" />
                                            <label class="labelup">Value </label>
                                        </span>
                                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="dvErrorValue" class="clrdivs"></div>
                                    </td>
                                    <td width="25%" style="border:none">
                                        <span class="form-label">
                                            <input tabindex="5" class="form-control FormclrField" type="text" step="any" id="txtRemarks" />
                                            <label class="labelup">Remarks </label>
                                        </span>
                                    </td>
                                    <td width="5%" style="border:none">
                                        <span class="form-label">
                                            <button tabindex="6" class="btn btn-primary" id="btnAddAccount"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <table class="table table-bordered" id="tblJVData" width="100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;font-size: 12px;width:0%;" class="trclrforcolheader">ID</th>
                                        <th style="text-align:center;font-size: 12px;width:0%;" class="trclrforcolheader">FAAccID</th>
                                        <th style="text-align:center;font-size: 12px;width:8%;" class="trclrforcolheader">Action</th>
                                        <th style="text-align:center;font-size: 12px;width:2%;" class="trclrforcolheader">#</th>
                                        <th style="text-align:center;font-size: 12px;width:10%;" class="trclrforcolheader">FA Type</th>
                                        <th style="text-align:center;font-size: 12px;width:28%;padding-right:100px;" class="trclrforcolheader">Account Name</th>
                                        <th style="text-align:center;font-size: 12px;width:8%;" title="Adjustment" class="trclrforcolheader">Adj.</th>
                                        <th style="text-align:center;font-size: 12px;width:10%;" title="Customer Stock Request" class="trclrforcolheader">Credit</th>
                                        <th style="text-align:center;font-size: 12px;width:10%;" title="Maximum On Hand" class="trclrforcolheader">Debit</th>
                                        <th style="text-align:center;font-size: 12px;width:15%;" title="Minimum Order Quantity" class="trclrforcolheader">Remarks</th>
                                        <th style="text-align:center;font-size: 12px;width:9%;" class="trclrforcolheader">Balance</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <label> Total :</label>
                                        </td>
                                        <td>
                                            <label id="lblTotCredit" lbltag="0" class="lblPT lblsettag">0.00</label>
                                        </td>
                                        <td>
                                            <label id="lblTotDebit" lbltag="0" class="lblPT lblsettag">0.00</label>
                                        </td>
                                        <td align="right"></td>
                                        <td align="right"></td>
                                    </tr>
                                </tfoot>
                            </table>

                            @*<button id="btnProdAdd" class="btn btn-info"><span class="glyphicon glyphicon-plus" style="color: white"></span>&#x2009;Add</button>*@
                        </div>
                        <div style="padding-top:2px; width:100%" class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-12 col-md-4 col-lg-4"></div>
                            <div class="col-sm-12 col-md-4 col-lg-4"></div>
                            <div class="col-sm-12 col-md-4 col-lg-4" align="right">
                                <div style="padding-left:20px">
                                    <span class="form-label">
                                        <textarea class="form-control FormclrField" rows="3" id="txtNarration"></textarea>
                                        <label class="labelupfortextarea" for="txtCode">Narration</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span class="form-label">

                    </span>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<div style="padding-top:0px" align="right">
            <button type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
            <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
            <button type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
        </div>*@
                    <table width="100%">
                        <tr>
                            <td width="20%" align="left" style="padding-left:20px">
                                <div>
                                    <span class="form-label">
                                        <select class="form-control" id="cmbPrintProfile"><option value="0">Select</option></select>
                                        <label class="labelup"> Print Profile</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrPrintProfile" class="clrdivs"></div>
                                </div>
                            </td>
                            <td width="80%" align="right">
                                <div style="padding-right:20px" align="right">
                                    <button type="button" class="btn clrforpdf" id="btnPDF"><i class='fa-regular fa-file-pdf' style='color:white'></i> PDF</button>
                                    <button type="button" class="btn btn-primary" id="btnPreview"><span class="glyphicon glyphicon-print"> Preview</span></button>
                                    <button type="button" class="btn clrforpreview" id="btnPrint"><span class="glyphicon glyphicon-print"> Print</span></button>
                                    <button type="button" class="btn btn-danger" id="btnClear"><span class="glyphicon glyphicon-refresh"> Clear</span></button>
                                    <button type="button" class="btn btn-success" id="btnSave"><span class="glyphicon glyphicon-saved"> Save</span></button>
                                    <button type="button" class="btn btn-warning" id="btnClose"><span class="glyphicon glyphicon-remove"> Close</span></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>


<script type="text/javascript">
    //document.body.style.zoom = "85%";
    
    var Table = $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        "bFilter": true,
        "bSearchable": true,
        "bInfo": true,
        "bPaginate": true,
        "ordering": true,
        scrollY: "400px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [0,1], "visible": false, searchable: false }],
    });
    var TableJVData = $('#tblJVData').DataTable({
        paging: false,
        searching: false,
        info: false,
        ordering: true,
        scrollY: "150px",
        scrollX: true,
        scrollCollapse: true,
        //"fixedColumns": {
        //    start: 6,
        //    end: 4
        //},
        "columnDefs": [{ "targets": [0, 1], "visible": false, searchable: false, filter: false }],
    });
    function displayResult(item) {
        $('.alert').show().html('You selected <strong>' + item.value + '</strong>: <strong>' + item.text + '</strong>');
    }
    var Aurl = '@Session["APIurl"]';
    if ($("#txtAddID").val() == 0) {
        $("#trAdd").hide();
        $("#btnAdd").hide();
    }
    if ($("#txtModifyID").val() == 0) {
        Table.column(8).visible(false);
    }
    if ($("#txtCancelID").val() == 0) {
        Table.column(9).visible(false);
    }
    if ($("#txtViewID").val() == 0) {
        Table.column(10).visible(false);
    }
    if ($("#txtVariantID").val() == 0) {
        Table.column(11).visible(false);
    }
    if ($("#txtModifyID").val() == 0 && $("#txtViewID").val() == 0 && $("#txtAddID").val() == 1) {
        //$("#dvMainTable").hide();
    }
    var UID = '@Session["LoginUserID"]';
    var nMode = 1;
    var FID = $("#txtFormID").val();
    var PrintTransID = 19, PrintConfigID = 0;
    //setDate();
    GetPrintProfile(PrintTransID);
    function GetPrintProfile(nTransID) {
        $.ajax({
            url: Aurl + "printprofileconfig/getprofile",
            type: 'get',
            contentType: 'json',
            data: { TransID: nTransID },
            xhrFields: {
                withCredentials: true
            },
            async: false,
            success: function (data) {
                $('#cmbPrintProfile').find("option").remove();
                $('#cmbPrintProfile').append($('<option/>', {
                    value: 0,
                    text: "-- Select --",
                }));
                var lstdata = eval(data)
                var getdef = lstdata.filter(pr => pr.DefaultConfig == 1);
                var defid = getdef.length > 0 ? getdef[0].ConfigID : 0;
                $.each(lstdata, function (i, items) {
                    $('#cmbPrintProfile').append($('<option/>', {
                        value: items.ConfigID,
                        text: items.ConfigName, 'data-automail': items.AutoMail
                    }));
                    $('#cmbPrintProfile').val(defid);
                    PrintConfigID = defid;
                });
            }
        });
    }
    //setDate();
    GetData(1,"");
    //GetData(2,"");
    //GetFilterData();
    var arrPartyData = [], arrAccount = [], nIndexarrParty = 0, nIndexarrAccount = 0, nIndexarrTax = 0;
    function GetData(nMode,nID) {
        $.ajax({
            url: Aurl + "journalentry/get",
            type: 'get',
            contentType: 'json',
            data: { TransID: FID, Mode: nMode, ID: nID },
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                if (nMode == 1) {
                    $('#cmbUDN,#cmbFAType').find("option").remove();
                    $('#cmbUDN').append($('<option/>', {
                        value: 0,
                        text: "-- Select --",
                    }));
                    arrPartyData = [], arrAccount = [];
                    nIndexarrParty = 0, nIndexarrAccount = 0;
                    $.each(data, function (i, items) {
                        if (items.FType == 1) {
                            arrPartyData[nIndexarrParty] = items.Name;
                            nIndexarrParty++;
                            var adata = {
                                "AccID": items.ID,
                                "AccName": items.Name,
                                "label": items.Name
                            }
                            arrAccount.push(adata);
                        }
                        if (items.FType == 2) {
                            //cmbFAType
                            $('#cmbFAType').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        }
                        if (items.FType == 3) {
                            $('#cmbUDN').append($('<option/>', {
                                value: items.ID,
                                text: items.Name,
                            }));
                        }
                        if (items.FType == 4) {
                            $("#lblDocID").text(items.Name);
                        }
                    });
                    SetAutlistforFields();
                }
                if (nMode == 2) {
                    Table.draw().clear();
                    if (data.length > 0) {
                        $.each(data, function (i, items) {
                            Table.row.add([
                                items.ID,
                                items.DocID,
                                items.DocDate,
                                items.RefNo,
                                '<label style="text-align:right">' + (items.PartyID).toString() + '</label>',
                                items.GrossAmt,
                                items.NetAmt,
                                items.Status,
                                items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>',
                                items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle clsCancel" style="font-size:16px" title="Cancel"></span></a>',
                                '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>',
                                '<a href="javascript:void(0)" class="clsVariant" style = "font-size:12px"><span class="glyphicon glyphicon-file clsVariant" style="font-size:12px" title="Variant"></span></a>',
                            ]).draw(false);
                        });
                    }
                    else {
                        showErrorSnackbar("No records found");
                    }
                }
                if (nMode == 3) {
                    TableJVData.draw().clear(); TableJVData.draw().clear();
                    $.each(data, function (i, items) {
                        if (nTransMode != 3)
                            $("#lblDocID").text(items.DocID);

                        $("#txtID").val(items.ID), $("#dtpDate").val(items.DocDate),
                            $("#txtRefNo").val(items.RefNo), $("#txtNarration").val(items.Narration), $("#cmbUDN").val(items.UDFId),
                            $("#txtStatus").val(items.Status);
                        TableJVData.row.add([
                            items.ID, items.FAID,
                            '<span style="font-size:16px;" class="glyphicon glyphicon-remove-circle clsremoveprod" title="Remove Product"></span>&ensp;<span style="font-size:16px;" class="glyphicon glyphicon-edit clseditprod"  title="Edit Product"></span>',
                            '<p style="font-size:14px;">' + (i+1) + '</p>',
                            '<label name="FAType">' + items.FAType + '</label>',
                            '<label name="AccountName">' + items.PartyID + '</label>',
                            '<label name="Adjustment">' + items.AdjYN + '</label>',
                            '<label lbltag="' + items.GrossAmt + '" title="' + items.GrossAmt +'" class="lblsettag" name="Credit">' + parseFloat(items.GrossAmt).toFixed(DecVal) + '</label>',
                            '<label lbltag="' + items.NetAmt + '" title="' + items.NetAmt +'" class="lblsettag" name="Debit">' + parseFloat(items.NetAmt).toFixed(DecVal) + '</label>',
                            '<label name="Remarks">' + items.Remark + '</label>',
                            '<label lbltag="0" class="lblsettag" name="Balance">' + "0.00" + '</label>',
                            '<span class="glyphicon glyphicon-trash clsbatchtrash"></span>'
                        ]).draw(false);
                        modal.style.display = "block";
                    });
                    calculateGrid();
                }
            }, error: function (data) {
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    //showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    }
    function SetTagZero() {
        var inputs = $(".txtsettag");
        for (var i = 0; i < inputs.length; i++) {
            var field = $(inputs[i]);
            var FID = field[0].id;
            updateInputColumn(FID, "0");
        }
    }
        var DecVal = '@Session["DecimalValues"]';
function updateInputColumn(inputID, netValue) {
    //const label = document.getElementById(`dgvProdGross${rowId}`);
    const input = document.getElementById(inputID);
    var value = netValue != "" ? netValue : 0;
    input.setAttribute('txttag', parseFloat(value).toFixed(4));
    input.value = parseFloat(value).toFixed(DecVal);
    input.title = netValue;
    }
    function updateLabelColumn(labelID, netValue) {
        //const label = document.getElementById(`dgvProdGross${rowId}`);
        const input = document.getElementById(labelID);
        var value = netValue != "" ? netValue : 0;
        input.setAttribute('lbltag', parseFloat(value).toFixed(4));
        input.innerText = parseFloat(value).toFixed(DecVal);
        input.title = netValue;
    }
    $(".txtsettag").focusin(function (e) {
        var id = e.target.id;
        const val = document.getElementById(id).getAttribute("txttag");
        $("#" + id).val(val);
        $("#" + id).select();
    });
    $(".txtsettag").blur(function (e) {
        var val = e.target.value;
        var id = e.target.id;
        updateInputColumn(id, val);
    });
    $('#btnFilter').click(function (e) {
        GetFilterData(1);
    });
    var Showall = '@Session["Showallstatus"]';
$("#chkShowAll").prop("checked", Showall == '1');
    function GetFilterData(ClickType = 0) {//txtFilterAccount, divErrFAccount
        var IsValid = true;
        $(".clrdivs").html("");
        if ($("#txtFilterAccount").val() != "") {
            const exists = arrPartyData.indexOf($("#txtFilterAccount").val().trim()) !== -1;
            if (!exists) {
                IsValid = false;
                $("#divErrFAccount").html("Select Account Name from list");
            }
        }
        if ($("#dtpFFrom").val() == "") {
            IsValid = false;
            $("#divErrFFrom").html("From date should not be empty");
        }
        if ($("#dtpFTo").val() == "") {
            IsValid = false;
            $("#divErrFTo").html("To date should not be empty");
        }
        if ($("#dtpFFrom").val() > $("#dtpFTo").val()) {
            IsValid = false;
            $("#divErrFFrom").html("From date should be lessthan To Date");
        }
        if (IsValid) {
            var strAcc = $("#txtFilterAccount").val(), dFrom = $("#dtpFFrom").val(),dTo = $("#dtpFTo").val(), chkshow = $("#chkShowAll").is(":checked") ? "1" : "0";
            $.ajax({
                url: Aurl + "journalentry/getfilterdata",
                type: 'get',
                contentType: 'json',
                data: { Mode: 2, TransID: FID, AccName: strAcc, FromDate: dFrom, ToDate: dTo, Showall: chkshow },
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    Table.draw().clear(); Table.draw().clear();
                    var billjsdata = eval(data);
                    var searchValue = '';
                    if ($.fn.DataTable.isDataTable('#tblMasterData')) {
                        searchValue = $('#tblMasterData').DataTable().search(); // get current search term
                    }
                    $('#tblMasterData').DataTable({
                        pageLength: ItemsperPage, lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                        scrollY: "450px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: true,
                        destroy: true,
                        data: billjsdata,
                        fixedColumns: false,
                        searching: true,
                        ordering: true,
                        sorting: false,
                        pageLength: ItemsperPage, // default page size
                        lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                        columns: [
                            { "data": "ID", "autoWidth": true, "visible": false, className: "dt-body-left" },//0
                            { "data": "StatusID", "autoWidth": true, "visible": false, className: "dt-body-left" },//0
                            { "data": "DocID", "autoWidth": true, className: "dt-body-left" },//1
                            { "data": "DocDate", "autoWidth": true, className: "dt-body-left" },//2
                            { "data": "RefNo", "autoWidth": true, className: "dt-body-left" },//3
                            { "data": "PartyID", "autoWidth": true, className: "dt-body-left" },//4
                            { "data": "GrossAmt", "autoWidth": true, className: "dt-body-right" },//6
                            { "data": "NetAmt", "autoWidth": true, className: "dt-body-right" },//9
                            { "data": "Status", "autoWidth": true, className: "dt-body-left" },//10
                            {
                                className: "dt-body-left",
                                "mRender": function (data, type, value) {
                                    var _action = '<label title="' + value.CDate + '">' + value.CBy + '</label>';
                                    return _action;
                                }
                            },
                            {
                                className: "dt-body-center", orderable: false,
                                "mRender": function (data, type, value) {
                                    var _action = '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                                    return _action;
                                }, "visible": $("#txtViewID").val() == 0 ? false : true
                            },
                            {
                                className: "dt-body-center",
                                orderable: false,
                                render: function () {
                                    return `<button class="btn btn-default btn-xs action-btn">&#8942;</button>`;
                                }
                            }

//                            {
//                                className: "dt-body-center",
//                                orderable: false,
//                                render: function (data, type, row) {

//                                    var status = row.Status;
//                                    var edit = '', cancel = '', view = '', variant = '', Print = '', Preview = '', PDF = '';
//                                    if ($("#txtViewID").val() == 1) {
//                                        var Print = '<a class="dropdown-item clsprint" href="javascript:void(0)">🖨 Print</a>';
//                                        var Preview = '<a class="dropdown-item clspreview" href="javascript:void(0)#">🖨 Preview</a>';
//                                        var PDF = '<a class="dropdown-item clspdf" href="javascript:void(0)">📕 PDF</a>';
//                                    }
//                                    if (status !== 'Amended' && status !== 'Cancelled') {
//                                        if ($("#txtModifyID").val() == 1)
//                                            edit = '<a class="dropdown-item clsEdit" href="javascript:void(0)">✏️ Edit</a>';
//                                        if ($("#txtCancelID").val() == 1)
//                                            cancel = '<a class="dropdown-item clsCancel" href="javascript:void(0)">❌ Cancel</a>';
//                                    }
//                                    if ($("#txtVariantID").val() == 1)
//                                        variant = '<a class="dropdown-item clsVariant" href="javascript:void(0)">📄 Variant</a>';
//                                    return `
//<div class="dropdown">
//    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
//        &#8942;
//    </button>
//    <ul class="dropdown-menu  action-dropdown" style="right:0;left:auto;">
//        ${edit ? `<li>${edit}</li>` : ''}
//        ${cancel ? `<li>${cancel}</li>` : ''}
//        ${variant ? `<li>${variant}</li>` : ''}
//        ${Print ? `<li>${Print}</li>` : ''}
//        ${Preview ? `<li>${Preview}</li>` : ''}
//        ${PDF ? `<li>${PDF}</li>` : ''}
//    </ul>
//</div>`;
//                                }
//                            }
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = value.Status == 'Amended' || value.Status == 'Cancelled' ? '' : '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtModifyID").val() == 0 ? false : true
                            //},//11
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = value.Status == 'Amended' || value.Status == 'Cancelled' ? '' : '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle clsCancel" style="font-size:16px" title="Cancel"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtCancelID").val() == 0 ? false : true
                            //},//12
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = '<a href="javascript:void(0)" style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtViewID").val() == 0 ? false : true
                            //},//13
                            //{
                            //    className: "dt-body-center",
                            //    "mRender": function (data, type, value) {
                            //        var _action = '<a href="javascript:void(0)" class="clsVariant" style = "font-size:12px"><span class="glyphicon glyphicon-file clsVariant" style="font-size:12px" title="Variant"></span></a>';
                            //        return _action;
                            //    }, "visible": $("#txtVariantID").val() == 0 ? false : true
                            //},//14
                        ],
                        initComplete: function () {
                            // Re-apply search value after table is fully initialized
                            this.api().search(searchValue).draw();
                        }
                    });
                    Table = $('#tblMasterData').DataTable();
                    if (!Table.data().any()) {
                        if (ClickType == 1)
                            showErrorSnackbar("No records found");
                    }
                    //if (data.length > 0) {
                    //    $.each(data, function (i, items) {
                    //        Table.row.add([
                    //            items.ID,
                    //            items.DocID,
                    //            items.DocDate,
                    //            items.RefNo,
                    //            items.PartyID,
                    //            items.GrossAmt,
                    //            items.NetAmt,
                    //            items.Status,
                    //            items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-pencil clsEdit" style="font-size:16px" title="Edit"></span></a>',
                    //            items.Status == 'Amended' || items.Status == 'Cancelled' ? '' : '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-remove-circle clsCancel" style="font-size:16px" title="Cancel"></span></a>',
                    //            '<a href="javascript:void(0) style="cursor: pointer;"><span class="glyphicon glyphicon-eye-open clsView" style="font-size:16px" title="View"></span></a>',
                    //            '<a href="javascript:void(0)" class="clsVariant" style = "font-size:12px"><span class="glyphicon glyphicon-file clsVariant" style="font-size:12px" title="Variant"></span></a>',
                    //        ]).draw(false);
                    //    });
                    //}
                    //else {
                    //    if (ClickType == 1)
                    //    showErrorSnackbar("No records found");
                    //}
                }, error: function (data) {
                    if (data.status == "401") {
                        var msg = data.responseJSON.Message;
                        //showErrorSnackbar(msg + " Logout and Login again.");
                    }
                }
            });
        }
    }

    function getActionsByRole(role, row) {
        let actions = [];

        if (role.canEdit && row.Status !== 'Cancelled' && row.Status !== 'Amended')
            actions.push({ cls: "clsEdit", label: "✏️ Edit" });

        if (role.canCancel && row.Status !== 'Cancelled')
            actions.push({ cls: "clsCancel", label: "❌ Cancel" });

        if (role.canVariant)
            actions.push({ cls: "clsVariant", label: "📄 Variant" });

        if (role.canPrint)
            actions.push({ cls: "clsprint", label: "<i class='fa-solid fa-print'></i> Print" });

        if (role.canPreview)
            actions.push({ cls: "clspreview", label: "<i class='fa-solid fa-print'></i> Preview" });

        if (role.canPDF)
           actions.push({ cls: "clspdf", label: "<i class='fa-regular fa-file-pdf' style='color:brown'></i> PDF" });

        return actions;
    }

    function SetAutlistforFields() {
        ////Search
        //var txtName1 = $('#txtAccountName');
        //autocomplete = txtName1.typeahead({ scrollBar: true, onSelect: displayResult });
        //autocomplete.data('typeahead').source = null;
        //autocomplete.data('typeahead').source = arrPartyData;
        //txtName1 = $('#txtFilterAccount');
        //autocomplete = txtName1.typeahead({ scrollBar: true, onSelect: displayResult });
        //autocomplete.data('typeahead').source = null;
        //autocomplete.data('typeahead').source = arrPartyData;
        $("#txtAccountName,#txtFilterAccount").autocomplete({
            minLength: 0,
            source: arrAccount,
            autoFocus: true,
            //focus: function (event, ui) {
            //    $("#txtName").val(ui.item.label);
            //    return false;
            //},
            select: function (event, ui) {
                var id = event.target.id;
                $("#" + id).val(ui.item.label);
                $("#txtAccID").val(ui.item.AccID);
                return false;
            },
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li class='each'>")
                .append("<div class='acItem'><span class='name'>" +
                    item.label + "</span></div>")
                .appendTo(ul);
        };
    }
    var modal = document.getElementById("myModalfg");
    var span = document.getElementsByClassName("closefg")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }
    $("#btnAddAccount").click(function () {
        $(".clrdivs").html("");
        var IsValid = true;
        if ($("#txtAccountName").val() == "") {
            IsValid = false;
            $("#dvErrorAccountName").html("Select Account Name should not be empty");
            showErrorSnackbar("Select Account Name should not be empty");
        }
        else
        {
            const exists = arrPartyData.indexOf($("#txtAccountName").val().trim()) !== -1;
            if (!exists) {
                IsValid = false;
                $("#dvErrorAccountName").html("Select Account Name from list");
                showErrorSnackbar("Select Account Name from list");
            }
            else
            {
                var chk = CheckNamealreadyadded($("#txtAccountName").val());
                if (chk) {
                    IsValid = false;
                    $("#dvErrorAccountName").html("Account Name already added");
                    showErrorSnackbar("Account Name already added");
                }
            }
        }
        if ($("#txtValue").val() == "") {
            IsValid = false;
            $("#dvErrorValue").html("Value should not be empty");
            showErrorSnackbar("Value should not be empty");
        }
        else {
            if (parseFloat($("#txtValue").val()) <= 0) {
                IsValid = false;
                $("#dvErrorValue").html("Value should be greater than zero");
                showErrorSnackbar("Value should be greater than zero");
            }
        }
        if (IsValid) {
            var Sno = parseInt(TableJVData.rows().count()) + 1;
            var CrValue = $("#cmbFAType").val() == "1" ? document.getElementById("txtValue").getAttribute("txttag") : "0.00";// $("#txtValue").val()
            var DrValue = $("#cmbFAType").val() == "2" ? document.getElementById("txtValue").getAttribute("txttag") : "0.00";//$("#txtValue").val()
            if (BatchMode == 0) {
                TableJVData.row.add([
                    0, $("#txtAccID").val(),
                    '<span style="font-size:16px;" class="glyphicon glyphicon-remove-circle clsremoveprod" title="Remove"></span>&ensp;<span style="font-size:16px;" class="glyphicon glyphicon-edit clseditprod"  title="Edit"></span>',
                    '<p style="font-size:14px;">' + Sno + '</p>',
                    '<label name="FAType">' + $("#cmbFAType option:selected").text() + '</label>',
                    '<label name="AccountName">' + $("#txtAccountName").val() + '</label>',
                    '<label name="Adjustment">' + $("#cmbAdjustment option:selected").text() + '</label>',
                    '<label lbltag="' + CrValue + '" title="' + CrValue +'" class="lblsettag" name="Credit">' + parseFloat(CrValue).toFixed(DecVal) + '</label>',
                    '<label lbltag="' + DrValue + '" title="' + DrValue +'" class="lblsettag" name="Debit">' + parseFloat(DrValue).toFixed(DecVal) + '</label>',
                    '<label name="Remarks">' + $("#txtRemarks").val() + '</label>',
                    '<label lbltag="0" class="lblsettag" name="Balance">' + "0.00" + '</label>',
                    '<span class="glyphicon glyphicon-trash clsbatchtrash"></span>'
                ]).draw(false);
            }
            else {
                var Data = [
                    0, $("#txtAccID").val(),
                    '<span style="font-size:16px;" class="glyphicon glyphicon-remove-circle clsremoveprod" title="Remove"></span>&ensp;<span style="font-size:16px;" class="glyphicon glyphicon-edit clseditprod"  title="Edit"></span>',
                    '<p style="font-size:14px;">' + (EditRowID + 1) + '</p>',
                    '<label name="FAType">' + $("#cmbFAType option:selected").text() + '</label>',
                    '<label name="AccountName">' + $("#txtAccountName").val() + '</label>',
                    '<label name="Adjustment">' + $("#cmbAdjustment option:selected").text() + '</label>',
                    '<label lbltag="' + CrValue + '" title="' + CrValue +'" class="lblsettag" name="Credit">' + parseFloat(CrValue).toFixed(DecVal) + '</label>',
                    '<label lbltag="' + DrValue + '" title="' + DrValue +'" class="lblsettag" name="Debit">' + parseFloat(DrValue).toFixed(DecVal) + '</label>',
                    '<label name="Remarks">' + $("#txtRemarks").val() + '</label>',
                    '<label lbltag="0" class="lblsettag" name="Balance">' + "0.00" + '</label>',
                    '<span class="glyphicon glyphicon-trash clsbatchtrash"></span>']
                TableJVData.row(EditRowID).data(Data).draw();
            }
            BatchMode = 0, EditRowID = -1;
            $(".FormclrField").val("");
            $("#cmbFAType").val($("#cmbFAType").val() == "1" ? "2" : "1");
            $("#txtAccountName").focus();
            updateInputColumn("txtValue", 0)
            calculateGrid();
            Scrolltoid($("#lblTotCredit"));
            var $scrollBody = $(TableJVData.table().node()).parent();
            $scrollBody.scrollTop($scrollBody.get(0).scrollHeight);
        }
    });
    function Scrolltoid(id) {
        //window.scrollTo(id[0].offsetLeft, id[0].offsetTop);
        window.scrollTo({ left: 0, top: document.body.scrollHeight, behavior: "smooth" });

    }
    function calculateGrid() {
        $(".lblPT").text("0.00");
        var dPTCredit = 0, dPTDebit = 0;
        $("#tblJVData tbody tr").each(function () {
            var allValues = {};
            $(this).find("label").each(function (index) {
                const fieldName = $(this).attr("name");
                const fieldID = $(this).attr("id");
                if (fieldName == "Credit") {
                    const tagval = $(this).attr("lbltag");
                    dPTCredit += parseFloat(tagval);//$(this).text()
                }
                if (fieldName == "Debit") {
                    const tagval = $(this).attr("lbltag");
                    dPTDebit += parseFloat(tagval);//$(this).text()
                }
            });
        });
        //showErrorSnackbar("cr : " + parseFloat(dPTCredit).toFixed(2));
        //$("#lblTotCredit").text(parseFloat(dPTCredit).toFixed(2)); $("#lblTotDebit").text(parseFloat(dPTDebit).toFixed(2));
        updateLabelColumn("lblTotCredit", dPTCredit); updateLabelColumn("lblTotDebit", dPTDebit);
    }
    function CheckNamealreadyadded(name) {
        var exists = false;
        if (BatchMode == 0) {
            $("#tblJVData tbody tr").each(function () {
                var allValues = {};
                $(this).find("label[name=AccountName]").each(function (index) {
                    const fieldName = $(this).attr("name");
                    //showErrorSnackbar($(this).text());
                    if ($(this).text() == name) {
                        exists = true;
                    }
                });
            });
        }
        return exists;
    }
    var inputTag = [];

    //$('#txtAccountName').change(function (e) {
    //    $("#dvErrorAccountName").html("");
    //    var tx = arrAccount.filter(t => t.AccName == e.target.value);
    //    if (tx.length > 0) {
    //        $('#txtAccID').val(tx[0].AccID);
    //    }
    //    else {
    //        $('#txtAccID').val(0);
    //    }
    //    $('#txtValue').focus();
    //});

    function CloseForm() {
        modal.style.display = "none";
    }

    $('#btnClose').click(function (e) {
        if (ClosecfFocus != 3) { CloseConfirmDialogMsg("Do you want to close?"); } else { CloseForm(); }
    });
    $("#btnAdd").click(function () {
        nTransMode = 1;
        modal.style.display = "block";

        $(".FormclrField,.FormclrcmbField").prop("disabled", false);
        $("#btnSave,#btnClear,#btnClose").prop("disabled", false);
        $("#btnPreview,#btnPDF").prop("disabled", true);

        $("#lblPopupheading").text("Add " + $("#MainHeading").text());
        TableJVData.draw().clear();
        ClearForm();
        $("#txtAccountName").focus();
    });
    $('#btnClear').click(function (e) {
        if (cfFocus != 3) { ClearConfirmDialogMsg("Do you want to clear?"); } else { ClearForm(); }
    });
   setDate("dtpDate", 0);
setDate("dtpFFrom", 0);
setDate("dtpFTo", 0);

setTimeout(function () { GetFilterData(); }, 800);

function setDate1(FieldID,Type) {
    $.ajax({
         url: "@Url.Action("setdate", "Home")",
        type: 'get',
        contentType: 'json',
        data: { TypeID: Type },
        success: function (data) {
            $.each(data, function (i, items) {
                $("#" + FieldID).attr("max", items.MaxDate);
                $("#" + FieldID).attr("min", items.MinDate);
                $("#" + FieldID).val(items.Value);
            });
        }, error: function (data) {
            if (data.status == "401") {
                var msg = data.responseJSON.Message;
                //showErrorSnackbar(msg + " Logout and Login again.");
            }
        }
    })
}


    function ClearForm() {
        EditRowID = -1;
        TableJVData.draw().clear(); TableJVData.draw().clear();
        $(".FormclrField").val("");
        $(".clrdivs").html("");
        $(".lblPT").text("0.00");
        GetData(1, "");
        setDate("dtpDate", 0);
        SetFilterDate();
        SetTagZero();
        setTimeout(function () { GetFilterData(); }, 800);
        $("#txtPartyName").focus();
        if (nTransMode != 1)
            modal.style.display = "none";
        $("#btnPreview,#btnPDF").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint").hide();
        $("#btnSave,#btnClose,#btnDraft,#btnClear").show();
    }
    var AccArray = [];
    function addAccinArray() {
        AccArray = [];
        var nID = 0, nAccID = 0, CrDr = 0, Adj = 0, dCrdit = 0, dDebit = 0, strRemarks = "", nSerial = 1;
        $("#tblJVData tbody tr").each(function () {
            var allValues = {};
            rowdata = TableJVData.row($(this)).data();
            nID = rowdata[0];
            nAccID = rowdata[1];
            $(this).find("label").each(function (index) {
                const fieldName = $(this).attr("name");
                if (fieldName == "FAType") {
                    CrDr = $(this).text() == "Credit" ? "1" : "2";
                }
                if (fieldName == "Adjustment") {
                    Adj = $(this).text() == "Yes" ? "1" : "0";
                }
                if (fieldName == "Credit") {
                    const tagval = $(this).attr("lbltag");
                    //var Val = document.getElementsByName("Credit").getAttribute("lbltag");
                    dCrdit = parseFloat(tagval);//$(this).text()
                }
                if (fieldName == "Debit") {
                    const tagval = $(this).attr("lbltag");
                    //var Val = document.getElementsByName("Debit").getAttribute("lbltag");
                    dDebit = parseFloat(tagval);//$(this).text()
                }
                if (fieldName == "Remarks") {
                    strRemarks = $(this).text();
                }
                //allValues[fieldName] = $(this).val();
            });
            var list = {
                "AccID": nAccID,
                "FAType": CrDr,
                "AdjYN": Adj,
                "Credit": dCrdit,
                "Debit": dDebit,
                "Remarks": strRemarks,
                "Serial": nSerial
            }
            AccArray.push(list);
            nSerial++;
        });
    }
    $("#btnSave").click(function () {
        $(".clrdivs").html("");
        $("#lblTotCredit,#lblTotDebit").css("color", "black");
        var IsValid = true, ChkFormation = true;
        if (TableJVData.rows().count() < 1) {
            IsValid = false;
            $("#dvErrorAccountName").html("Accounts should not be empty");
            showErrorSnackbar("Accounts should not be empty");
        }
        if ($("#dtpDate").val() == "") {
            IsValid = false;
            $("#dvErrorDate").html("Date should not be empty");
            showErrorSnackbar("Date should not be empty");
        }
        if (parseFloat($("#lblTotCredit").text()) != $("#lblTotDebit").text()) {
            $("#lblTotCredit,#lblTotDebit").css("color", "red");
            IsValid = false;
            showErrorSnackbar("Sum of Credit and Sum of Debit value should be same");
        }
        if (IsValid) {
            if (cfFocus != 3) { ConfirmDialogMsg("Do you want to save data?"); } else { SaveData(); }
        }
    });
    function SaveData() {
        $("#btnSave").prop("disabled", true);
        addAccinArray()
        $(".clrdiv").html("");
        var nStatus = $("#txtStatus").val() !== "" ? $("#txtStatus").val() : 1;
        var lstMaster = {
            "TransID": FID,
            "TransMode": nTransMode,
            "ID": $("#txtID").val(),
            "DocDate": $("#dtpDate").val(),
            "RefNo": $("#txtRefNo").val(),
            "Narration": $("#txtNarration").val(),
            "UDFId": $("#cmbUDN").val(),
            "Status": nTransMode == 1 || nTransMode == 3 ? 1 : nTransMode == 2 ? 3 : nStatus,
            "CurrentStatus": nStatus,
            "JVData": AccArray,
            "CBy": UID
        };
            $.ajax({
                url: Aurl + "journalentry/save",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(lstMaster),
                cache: false,
                processData: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    $("#btnSave").prop("disabled", false);
                    $.each(data, function (i, items) {
                        if (items.MsgID == 0) {
                            showSuccessSnackbar(items.Message);
                            if (nTransMode != 4) {
                                if (allowprint == 1) {
                                    PrintDocument(items.ID, PrintTransID, PrintConfigID);
                                } else if (allowprint == 3 || allowprint == 4) {
                                    PrintConfirmDialogMsg(items.ID, PrintTransID, PrintConfigID, "Do you want to print ?");
                                }
                            }
                            ClearForm();
                            //GetData(2,"");
                            GetFilterData();
                            modal.style.display = "none";
                        }
                        else if (items.Message == "AccountName") {
                            $("#dvErrorName").html("Account Name Already Exists in another master");
                        }
                        else {
                            //$("#divErrorOnCode").html(items.Message);
                            showErrorSnackbar(items.Message);
                        }
                    });
                }, error: function (data) {
                    $("#btnSave").prop("disabled", false);
                    if (data.status == "401") {
                        var msg = data.responseJSON.Message;
                        //showErrorSnackbar(msg + " Logout and Login again.");
                    }
                }
            });
    }
    function ReorderSerialNo() {
        var sNo = 0;
        $("#tblJVData tbody tr").each(function () {
            $(this).find("p").each(function (index) {
                vals = (sNo + 1);
                $(this).text(vals);
            });
            sNo++;
        });
        //$("#tblProductData").DataTable().ajax.reload();
    }
    $('#tblJVData tbody').on('click', '.clsremoveprod', function () {
        TableJVData.row($(this).parents('tr')).remove().draw();
        calculateGrid();
        ReorderSerialNo()
    });
    var EditRowID = -1, BatchMode = 0;
    $('#tblJVData tbody').on('click', '.clseditprod', function () {
        //TableJVData.row($(this).parents('tr')).remove().draw();
        BatchMode = 1;
        rowdata = TableJVData.row($(this).parents('tr')).data();
        var RID = TableJVData.row($(this).parents('tr')).index();
        EditRowID = RID;
        var ID = rowdata[0];
        var AccID = rowdata[1];
        var nID = 0, nAccID = 0, CrDr = 0, Adj = 0, dCrdit = 0, dDebit = 0, strRemarks = "", strAccName = "", nSerial = 1;
        $(this).parents('tr').find("label").each(function (index) {
            const fieldName = $(this).attr("name");
            if (fieldName == "FAType") {
                CrDr = $(this).text() == "Credit" ? "1" : "2";
            }
            if (fieldName == "AccountName") {
                strAccName = $(this).text();
            }
            if (fieldName == "Adjustment") {
                Adj = $(this).text() == "Yes" ? "1" : "0";
            }
            if (fieldName == "Credit") {
                const tagval = $(this).attr("lbltag");
                dCrdit = parseFloat(tagval);//$(this).text()
            }
            if (fieldName == "Debit") {
                const tagval = $(this).attr("lbltag");
                dDebit = parseFloat(tagval);//$(this).text()
            }
            if (fieldName == "Remarks") {
                strRemarks = $(this).text();
            }
        });
        $('#txtAccID').val(AccID); $("#cmbFAType").val(CrDr);
        $('#cmbAdjustment').val(Adj);
        updateInputColumn("txtValue", CrDr == 1 ? dCrdit : dDebit);
        //$("#txtValue").val(CrDr == 1 ? dCrdit : dDebit);
        $("#txtRemarks").val(strRemarks); $("#txtAccountName").val(strAccName);
        //calculateGrid();
    });
    var nTransMode = 1;
    $('#tblMasterData tbody').on('click', '.clsView', function (e) {
        $(".clrdivs").html("");
        $("#txtAccountName,#txtRemarks,#txtValue").val("")
        $("#cmbFAType").val(1);
        rowdata = Table.row($(this).parents('tr')).data();
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        nTransMode = 5;
        $("#txtID").val(ID);
        GetData(3, ID);
        $(".FormclrField,.FormclrcmbField").prop("disabled", true);
        $("#btnSave,#btnClear,#btnDraft").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint").prop("disabled", false);
        $("#btnPreview,#btnPDF,#btnPrint").show();
        $("#btnSave,#btnClear,#btnDraft").hide();
        
        var hdfkl = $("#txtFormName").val();
        $("#lblPopupheading").text("View " + $("#txtFormName").val());
    });
    $(document).on('click', '.clsEdit', function (e) {
        $(".clrdivs").html("");
        $("#txtAccountName,#txtRemarks,#txtValue").val("")
        $("#cmbFAType").val(1);
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        if (sts != "Cancelled") {
            $("#txtID").val(ID);
            nTransMode = 2;
            //showErrorSnackbar("Bill Table : " + rdo1 + ", Draft : " + rdo2);
            GetData(3, ID);
            nTransMode = 2;
            $(".FormclrField,.FormclrcmbField").prop("disabled", false);
            $("#btnPreview,#btnPDF,#btnClear").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnPrint,#btnClear").hide();
            $("#btnSave,#btnClose").prop("disabled", false);
            $("#btnSave,#btnClose").show();
            $("#lblPopupheading").text("Modify " + $("#txtFormName").val());
        }
        else {
            showErrorSnackbar("Cannot Modify.This document already cancelled");
        }
    });
    $(document).on('click', '.clsCancel', function (e) {
        $(".clrdivs").html("");
        $("#txtAccountName,#txtRemarks,#txtValue").val("")
        $("#cmbFAType").val(1);
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        if (sts != "Cancelled") {
            $("#lblPopupheading").text("Cancel " + $("#txtFormName").val());
            $("#txtID").val(ID);
            nTransMode = 4;
            GetData(3, ID);
            $(".FormclrField,.FormclrcmbField").prop("disabled", true);
            $("#btnPreview,#btnPDF,#btnClear,#btnDraft").prop("disabled", true);
            $("#btnSave,#btnClose").prop("disabled", false);
            $("#btnPreview,#btnPDF,#btnPrint,#btnClear,#btnDraft").hide();
            $("#btnSave,#btnClose").show();
        }
        else {
            showErrorSnackbar("This document already cancelled");
        }
    });
    $(document).on('click', '.clsVariant', function (e) {
        $(".clrdivs").html("");
        $("#txtAccountName,#txtRemarks,#txtValue").val("")
        $("#cmbFAType").val(1);
        nTransMode = 3;
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.Status;//[8];
        $("#txtID").val(ID);
        GetData(1,"");
        GetData(3, ID);
        $("#lblPopupheading").text("Variant " + $("#txtFormName").val());
        $(".FormclrField,.FormclrcmbField").prop("disabled", false);
        $("#btnSave,#btnClear,#btnDraft").prop("disabled", false);
        $("#btnPreview,#btnPDF").prop("disabled", true);
        $("#btnPreview,#btnPDF,#btnPrint,#btnClear").hide();
        $("#btnSave,#btnClose,#btnDraft").show();
        //showErrorSnackbar("Variant functionality still developing");
    });
    $(document).on('click', '.clspreview', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPreview").click();
    });
    $(document).on('click', '.clspdf', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPDF").click();
    });
    $(document).on('click', '.clsprint', function (e) {
        //rowdata = Table.row($(this).parents('tr')).data();
        rowdata = window.__SelectedRowData;
        var selrow = Table.row($(this).parents('tr')).index();
        var ID = rowdata.ID;//[0];
        var sts = rowdata.StatusID;//[9];
        $("#txtID").val(ID);
        $("#txtStatus").val(sts);
        $("#btnPrint").click();
    });
</script>